workflows/social-content-dept/sc04_video_production.json
{
  "name": "Social Content - Video Production (SC-04)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "136f98e6-836e-440f-803e-81c31cea1ca8",
      "name": "Daily 7AM SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "a09d70c6-7209-4561-910a-c02ed77de841",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        200,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.airtable.com/v0/apptjjBx34z9340tK/tblXGCQ4LTymrU7a1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_AIRTABLE_PAT"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{Status}='Rendering'"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "94a59f0d-d7b1-4939-b68d-0ae9b873e1b1",
      "name": "Find Stuck Rendering",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        330,
        400
      ],
      "typeVersion": 4.2,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build PATCH payload to reset all stuck Rendering records to Adapted\nconst records = ($input.first().json.records || []).map(r => ({\n  id: r.id,\n  fields: { Status: 'Adapted' }\n}));\nif (records.length === 0) return [{ json: { skipReset: true, count: 0 } }];\nreturn [{ json: { records, count: records.length } }];"
      },
      "id": "2443c301-8a78-4376-9108-59dd75d39e98",
      "name": "Build Reset Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        430,
        400
      ],
      "typeVersion": 2,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/apptjjBx34z9340tK/tblXGCQ4LTymrU7a1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_AIRTABLE_PAT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ records: $json.records || [] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "6511b519-3532-4c4a-b43d-d52e06fe900c",
      "name": "Reset Stuck Rendering",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        530,
        400
      ],
      "typeVersion": 4.2,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblXGCQ4LTymrU7a1"
        },
        "filterByFormula": "={Status}='Adapted'",
        "returnAll": false,
        "limit": 2,
        "options": {}
      },
      "id": "5cdcb4de-10f1-4034-91b0-70dac246d5cf",
      "name": "Read Adapted",
      "type": "n8n-nodes-base.airtable",
      "position": [
        460,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7473a486-60dc-42dd-aa61-466e5e15a751",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e24fd529-a249-49ed-b336-518f84431454",
      "name": "Has Records?",
      "type": "n8n-nodes-base.if",
      "position": [
        700,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/apptjjBx34z9340tK/tblXGCQ4LTymrU7a1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_AIRTABLE_PAT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  performUpsert: { fieldsToMergeOn: ['Script ID'] },\n  records: [{\n    fields: {\n      'Script ID': $json['Script ID'],\n      'Status': 'Rendering'\n    }\n  }]\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bc4c21ec-3b3a-4dfd-a19d-15acaffeba73",
      "name": "Status Rendering",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-ai-workflow-manager-production.up.railway.app/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "avm-render-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "bypass-tunnel-reminder",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  compositionId: $('Read Adapted').item.json['Remotion Composition'] || 'TextOnScreen',\n  props: JSON.parse($('Read Adapted').item.json['Remotion Props JSON'] || '{}'),\n  outputFormat: 'mp4'\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b8c72761-1cd3-43a8-bcd6-49976743031c",
      "name": "Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1420,
        400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 180,
        "unit": "seconds"
      },
      "id": "f5bd3d05-523c-44b8-8e56-b21e2e588e3e",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "position": [
        1660,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://n8n-ai-workflow-manager-production.up.railway.app/render/' + $('Render Video').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "avm-render-2026"
            },
            {
              "name": "bypass-tunnel-reminder",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "47ae93cf-c5ac-4c95-bf88-51048c0bf575",
      "name": "Poll Render",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1900,
        400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6707d6b5-920d-4d53-9d2d-deb93d5f9cf6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "88e9dfae-3b58-4df2-9ce3-1a1f1e32494f",
      "name": "Render Complete?",
      "type": "n8n-nodes-base.if",
      "position": [
        2140,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/apptjjBx34z9340tK/tblXGCQ4LTymrU7a1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_AIRTABLE_PAT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  performUpsert: { fieldsToMergeOn: ['Script ID'] },\n  records: [{\n    fields: {\n      'Script ID': $('Read Adapted').item.json['Script ID'],\n      'Video URL': $json.videoUrl || '',\n      'Thumbnail URL': $json.thumbnailUrl || '',\n      'Status': 'Rendered'\n    }\n  }]\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "517bcd35-54de-46f7-bd65-1d389e47b275",
      "name": "Update Rendered",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2380,
        300
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/apptjjBx34z9340tK/tblXGCQ4LTymrU7a1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_AIRTABLE_PAT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  performUpsert: { fieldsToMergeOn: ['Script ID'] },\n  records: [{\n    fields: {\n      'Script ID': $('Read Adapted').item.json['Script ID'],\n      'Status': 'Failed',\n      'Error Message': (typeof $json.error === 'string' ? $json.error : (($json.error && $json.error.message) || JSON.stringify($json.error || {}))).slice(0, 500) || 'Render did not complete'\n    }\n  }]\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b49d2b86-aa95-44d8-9af7-f5f3294e473a",
      "name": "Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2380,
        500
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbl07CZz5buxBPFdl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Log ID": "={{ 'LOG-' + $now.toFormat('yyyyMMdd-HHmmss') + '-' + $runIndex }}",
            "Script ID": "={{ $('Read Adapted').item.json['Script ID'] || '' }}",
            "Action": "={{ $json.status === 'complete' ? 'Render_Complete' : 'Render_Failed' }}",
            "Created At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "fe6c4688-1ff3-43d7-9cb4-6481655d3be6",
      "name": "Log Production",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2620,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "Daily 7AM SAST": {
      "main": [
        [
          {
            "node": "Find Stuck Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Stuck Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Stuck Rendering": {
      "main": [
        [
          {
            "node": "Build Reset Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reset Payload": {
      "main": [
        [
          {
            "node": "Reset Stuck Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Stuck Rendering": {
      "main": [
        [
          {
            "node": "Read Adapted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Adapted": {
      "main": [
        [
          {
            "node": "Has Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Records?": {
      "main": [
        [
          {
            "node": "Status Rendering",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Status Rendering": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Poll Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Render": {
      "main": [
        [
          {
            "node": "Render Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Complete?": {
      "main": [
        [
          {
            "node": "Update Rendered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rendered": {
      "main": [
        [
          {
            "node": "Log Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Failed": {
      "main": [
        [
          {
            "node": "Log Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Production": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}