workflows/social-content-dept/sc05_distribution.json
{
  "name": "Social Content - Distribution (SC-05)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "1c6290fe-3c6f-4821-9b6c-5595eb6955b8",
      "name": "Daily 8AM SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "9432f4c4-827c-4e87-b638-4cf81948b947",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        200,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblXGCQ4LTymrU7a1"
        },
        "filterByFormula": "={Status}='Rendered'",
        "options": {}
      },
      "id": "4b198dc7-9df1-45e0-9645-377ea08d0259",
      "name": "Read Rendered",
      "type": "n8n-nodes-base.airtable",
      "position": [
        460,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "63ba93ed-f16c-4913-832e-0f79dd6e17dc",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "5807c307-f70c-4afb-bccf-5683d62f6f0f",
      "name": "Has Records?",
      "type": "n8n-nodes-base.if",
      "position": [
        700,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const fields = $input.first().json.fields || $input.first().json;\nconst videoUrl = fields['Video URL'] || '';\nconst recordId = $input.first().json.id || '';\n\nreturn [{\n  json: {\n    recordId,\n    videoUrl,\n    captionInstagram: fields['Caption Instagram'] || '',\n    captionLinkedin: fields['Caption LinkedIn'] || '',\n    captionYoutube: fields['Caption YouTube'] || '',\n    hashtags: fields.Hashtags || '',\n    scriptId: fields['Script ID'] || '',\n  }\n}];"
      },
      "id": "43579167-839c-4cb0-94ba-34462d80a80d",
      "name": "Format for Blotato",
      "type": "n8n-nodes-base.code",
      "position": [
        1180,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "accountId": "29194",
        "postContentText": "={{ $json.captionInstagram }}",
        "postContentVideoUrl": "={{ $json.videoUrl }}"
      },
      "id": "9c8be501-d19c-436f-b817-6c7e542914f3",
      "name": "Instagram",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1480,
        200
      ],
      "typeVersion": 1,
      "credentials": {
        "blotatoApi": {
          "id": "hhRiqZrWNlqvmYZR",
          "name": "Blotato AVM"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "accountId": "4590",
        "postContentText": "={{ $json.captionLinkedin }}",
        "postContentVideoUrl": "={{ $json.videoUrl }}"
      },
      "id": "bae8776d-b9fe-409c-a799-ea8707bb55ef",
      "name": "LinkedIn",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1480,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "blotatoApi": {
          "id": "hhRiqZrWNlqvmYZR",
          "name": "Blotato AVM"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "accountId": "111",
        "postContentText": "={{ $json.captionYoutube }}",
        "postContentVideoUrl": "={{ $json.videoUrl }}"
      },
      "id": "0e8afd41-33e5-461c-bdf6-b9106d16bcfc",
      "name": "YouTube",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1480,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "blotatoApi": {
          "id": "hhRiqZrWNlqvmYZR",
          "name": "Blotato AVM"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "c21bd86a-a5e5-41a4-af6c-8e05b315865b",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        1780,
        400
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst source = $('Format for Blotato').first().json;\nconst platforms = results.map(r => {\n  const platform = r.json?.platform || 'Unknown';\n  const success = !r.json?.error;\n  return platform + ': ' + (success ? 'OK' : 'FAILED');\n}).join(', ');\n\nreturn [{\n  json: {\n    recordId: source.recordId,\n    scriptId: source.scriptId,\n    publishResults: platforms,\n  }\n}];"
      },
      "id": "31fbf6ad-c148-4605-b154-b498a902f8bd",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "position": [
        2020,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblXGCQ4LTymrU7a1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "value": {
            "id": "={{ $json.recordId }}",
            "Status": "Published",
            "Published At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "c0e0ab82-b2ed-4319-a77e-e661fa1b9d06",
      "name": "Update Published",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2260,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbl07CZz5buxBPFdl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Log ID": "={{ 'LOG-' + $now.toFormat('yyyyMMdd-HHmmss') + '-dist-' + $runIndex }}",
            "Script ID": "={{ $json.scriptId }}",
            "Action": "Publish_Success",
            "Response": "={{ $json.publishResults }}",
            "Created At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "79faec52-416a-491a-9b48-87b1d88b362f",
      "name": "Log Distribution",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2500,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM SAST": {
      "main": [
        [
          {
            "node": "Read Rendered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Rendered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rendered": {
      "main": [
        [
          {
            "node": "Has Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Records?": {
      "main": [
        [
          {
            "node": "Format for Blotato",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format for Blotato": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Update Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Published": {
      "main": [
        [
          {
            "node": "Log Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Distribution": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}