workflows/knowledge-manager/km02_contradiction_detector.json
{
  "name": "KM-02 Contradiction Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * 3"
            }
          ]
        }
      },
      "id": "d25a0293-810c-4e4c-84a9-65170771ffb6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appTCh0EeXQp0XqzW",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "REPLACE_AFTER_SETUP",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "d80eb60b-c9cd-43b3-b6c5-d09c71ceb512",
      "name": "Read All Knowledge Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable PAT"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all();\nif (records.length === 0) {\n  return { json: { skip: true, message: 'No knowledge records found', groups: [] } };\n}\n\n// Group documents by overlapping tags/topics\nconst tagIndex = {};\nfor (const item of records) {\n  const doc = item.json;\n  const tags = (doc.tags || '').split(',').map(t => t.trim().toLowerCase()).filter(Boolean);\n  const topics = (doc.key_topics || '').split(',').map(t => t.trim().toLowerCase()).filter(Boolean);\n  const allTerms = [...new Set([...tags, ...topics])];\n\n  for (const term of allTerms) {\n    if (!tagIndex[term]) tagIndex[term] = [];\n    tagIndex[term].push({\n      doc_id: doc.doc_id || doc.id,\n      file_name: doc.file_name || '',\n      doc_type: doc.doc_type || '',\n      summary: doc.summary || '',\n    });\n  }\n}\n\n// Find groups with 2+ docs sharing a topic (potential contradiction sources)\nconst groups = Object.entries(tagIndex)\n  .filter(([_, docs]) => docs.length >= 2)\n  .map(([topic, docs]) => ({\n    topic: topic,\n    doc_count: docs.length,\n    documents: docs.slice(0, 5), // limit to 5 per group for AI context\n  }))\n  .sort((a, b) => b.doc_count - a.doc_count)\n  .slice(0, 10); // top 10 groups\n\nreturn { json: {\n  skip: groups.length === 0,\n  total_records: records.length,\n  topic_groups: groups.length,\n  groups: groups,\n}};"
      },
      "id": "a1dc4767-e330-40b9-95c9-a53e5a93d7f5",
      "name": "Group by Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        }
      },
      "id": "6686cf0d-36e1-4538-ab16-01d69b8a2648",
      "name": "Has Topic Groups",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\", \"max_tokens\": 1500,\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Compare these documents covering the same topic. Identify any contradictions, inconsistencies, or outdated information. For each contradiction, cite the specific documents and conflicting statements. Output JSON: {contradictions_found: number, contradictions: [{topic, doc_a: {doc_id, file_name, statement}, doc_b: {doc_id, file_name, statement}, severity: high/medium/low, recommendation}], summary: string}\"},\n    {\"role\": \"user\", \"content\": \"Knowledge base documents grouped by shared topics ({{ $json.total_records }} total docs, {{ $json.topic_groups }} topic groups):\\n{{ JSON.stringify($json.groups) }}\"}\n  ]}",
        "options": {}
      },
      "id": "276b99e7-7804-4735-9962-98c0e88d7af5",
      "name": "AI Contradiction Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst raw = (resp.choices && resp.choices[0]) ? resp.choices[0].message.content : '{}';\nlet ai = {};\ntry { ai = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim()); } catch(e) { ai = {contradictions_found: 0, contradictions: [], summary: 'Parse failed'}; }\n\n// Build update records for affected docs\nconst updates = [];\nconst seen = new Set();\nfor (const c of (ai.contradictions || [])) {\n  if (c.doc_a && c.doc_a.doc_id && !seen.has(c.doc_a.doc_id)) {\n    seen.add(c.doc_a.doc_id);\n    updates.push({json: {\n      doc_id: c.doc_a.doc_id,\n      contradictions: c.topic + ': ' + c.recommendation,\n    }});\n  }\n  if (c.doc_b && c.doc_b.doc_id && !seen.has(c.doc_b.doc_id)) {\n    seen.add(c.doc_b.doc_id);\n    updates.push({json: {\n      doc_id: c.doc_b.doc_id,\n      contradictions: c.topic + ': ' + c.recommendation,\n    }});\n  }\n}\n\nif (updates.length === 0) {\n  return { json: {\n    contradictions_found: ai.contradictions_found || 0,\n    ai_summary: ai.summary || 'No contradictions detected',\n    has_contradictions: false,\n  }};\n}\n\nreturn [{ json: {\n  contradictions_found: ai.contradictions_found || 0,\n  contradictions: ai.contradictions || [],\n  ai_summary: ai.summary || '',\n  has_contradictions: true,\n  affected_docs: updates.map(u => u.json.doc_id),\n}}];"
      },
      "id": "93d102d3-a91f-40ea-a661-2187654de8e6",
      "name": "Extract Contradictions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.has_contradictions }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        }
      },
      "id": "917f788e-5738-49d0-8514-ace0325af829",
      "name": "Contradictions Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "=KNOWLEDGE BASE: {{ $('Extract Contradictions').first().json.contradictions_found }} contradictions detected",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<div style=\"background:#FFA500;padding:15px;text-align:center\"><h2 style=\"color:white;margin:0\">Knowledge Base Contradictions</h2></div>\n<div style=\"padding:20px\">\n<p><b>Contradictions Found:</b> {{ $('Extract Contradictions').first().json.contradictions_found }}</p>\n<h3>Summary</h3>\n<p>{{ $('Extract Contradictions').first().json.ai_summary }}</p>\n<h3>Details</h3>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n<tr style=\"background:#FF6D5A;color:white;\"><th>Topic</th><th>Doc A</th><th>Doc B</th><th>Severity</th><th>Action</th></tr>\n{{ $('Extract Contradictions').first().json.contradictions.map(c => '<tr><td>' + c.topic + '</td><td>' + (c.doc_a ? c.doc_a.file_name : 'N/A') + '</td><td>' + (c.doc_b ? c.doc_b.file_name : 'N/A') + '</td><td>' + c.severity + '</td><td>' + c.recommendation + '</td></tr>').join('') || '<tr><td colspan=\"5\">None</td></tr>' }}\n</table>\n<p><b>Affected Documents:</b> {{ JSON.stringify($('Extract Contradictions').first().json.affected_docs) }}</p>\n</div>\n<div style=\"background:#f0f0f0;padding:10px;font-size:12px;color:#666;text-align:center\">AVM Knowledge Manager - Contradiction Detector</div>\n</div>",
        "options": {}
      },
      "id": "c96f5e8b-f473-4b2e-b91d-b1865fda5bcd",
      "name": "Alert Contradictions Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail AVM"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read All Knowledge Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Knowledge Records": {
      "main": [
        [
          {
            "node": "Group by Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Topic": {
      "main": [
        [
          {
            "node": "Has Topic Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Topic Groups": {
      "main": [
        [
          {
            "node": "AI Contradiction Detection",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Contradiction Detection": {
      "main": [
        [
          {
            "node": "Extract Contradictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contradictions": {
      "main": [
        [
          {
            "node": "Contradictions Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contradictions Found": {
      "main": [
        [
          {
            "node": "Alert Contradictions Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "knowledge",
    "contradiction",
    "weekly"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_knowledge_manager.py",
    "built_at": "2026-03-14T19:19:12.917902"
  }
}