workflows/personal-ops-dept/pp01_morning_mission_board.json
{
  "name": "PP-01 Morning Mission Board",
  "nodes": [
    {
      "id": "83ddabf7-050b-448d-9788-3b2f5c9317d0",
      "name": "Daily 06:30 SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "aeb2b52b-f614-4678-9949-a6283d6efc17",
      "name": "Compute Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute today's context in SAST\nconst SAST_OFFSET_HOURS = 2;\nconst now = new Date();\nconst sastNow = new Date(now.getTime() + SAST_OFFSET_HOURS * 3600 * 1000);\nconst yyyy = sastNow.getUTCFullYear();\nconst mm = String(sastNow.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(sastNow.getUTCDate()).padStart(2, '0');\nconst today = `${yyyy}-${mm}-${dd}`;\n\n// Working window in SAST (07:00-20:00 local)\nconst dayStart = `${today}T07:00:00+02:00`;\nconst dayEnd = `${today}T20:00:00+02:00`;\n\n// Day N of 100 Day Challenge (launch = 2026-04-22)\nconst launch = new Date('2026-04-22T00:00:00+02:00');\nconst todayMidnight = new Date(`${today}T00:00:00+02:00`);\nconst dayN = Math.floor((todayMidnight - launch) / (86400 * 1000)) + 1;\n\n// Weekday theme\nconst weekdayNum = sastNow.getUTCDay(); // 0=Sun, 1=Mon...\nconst themeMap = {1:'Mon_Metrics',2:'Tue_Tutorial',3:'Wed_Win',4:'Thu_Thought',5:'Fri_Fails',6:'Sat_Strategy',0:'Sun_Story'};\nconst weekdayTheme = themeMap[weekdayNum];\nconst weekdayName = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][weekdayNum];\n\n// 100 Day phase\nlet phase = 'Pre-launch';\nlet monthlyTarget = 'n/a';\nif (dayN >= 1 && dayN <= 28) { phase = 'Phase_1_Foundation_W1-4'; monthlyTarget = 'R20K-R40K/mo'; }\nelse if (dayN >= 29 && dayN <= 56) { phase = 'Phase_2_Proof_W5-8'; monthlyTarget = 'R60K-R100K/mo'; }\nelse if (dayN >= 57 && dayN <= 84) { phase = 'Phase_3_Scale_W9-12'; monthlyTarget = 'R100K-R140K/mo'; }\nelse if (dayN >= 85 && dayN <= 98) { phase = 'Phase_4_Push_W13-14'; monthlyTarget = 'R140K-R180K/mo'; }\n\nreturn [{\n  json: {\n    today,\n    day_start_iso: dayStart,\n    day_end_iso: dayEnd,\n    day_n: dayN,\n    weekday_num: weekdayNum,\n    weekday_theme: weekdayTheme,\n    weekday_name: weekdayName,\n    phase,\n    monthly_target: monthlyTarget,\n    is_pre_launch: dayN < 1,\n  }\n}];"
      }
    },
    {
      "id": "539e859a-694a-4b8c-ae76-be2a648195dd",
      "name": "Read Player",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        720,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSQ3DJ3o7gv2zli",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "options": {},
        "filterByFormula": "{Player ID}='ian-immelman'"
      }
    },
    {
      "id": "4bc70388-a0ef-46e1-88b8-370d8066bb9f",
      "name": "Read Perf Snapshots",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        980,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl9OoFiM0kxGc48T",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 7,
        "options": {},
        "filterByFormula": "DATETIME_DIFF(TODAY(), {Date}, 'days')<=7"
      }
    },
    {
      "id": "f06c2836-d338-4ff4-80d3-3e8f5d0e68a1",
      "name": "Read Active Boss",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblP7Uj60ase4jWgR",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "options": {},
        "filterByFormula": "{Status}='Active'"
      }
    },
    {
      "id": "a3d7a224-9d68-4743-a3fb-c700098c43eb",
      "name": "Consolidate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "// Pull everything together into a single item for downstream nodes\nconst dates = $('Compute Dates').first().json;\nconst playerItems = $('Read Player').all();\nconst player = playerItems.length > 0 ? playerItems[0].json : {\n  'Player ID': 'ian-immelman',\n  'Display Name': 'Ian Immelman',\n  'Current XP': 0,\n  'Lifetime XP': 0,\n  'Level': 1,\n  'Current Streak Days': 0,\n  'Current Difficulty': 'Normal',\n};\n\nconst snapshots = $('Read Perf Snapshots').all().map(i => i.json);\nconst totalAssigned = snapshots.reduce((s, x) => s + (x['Missions Assigned'] || 0), 0);\nconst totalCompleted = snapshots.reduce((s, x) => s + (x['Missions Completed'] || 0), 0);\nconst rate7d = totalAssigned > 0 ? Math.round((totalCompleted / totalAssigned) * 100) : 0;\n\n// Read Active Boss runs N times due to upstream fan-out from Read Perf\n// Snapshots (N items). With alwaysOutputData=true, zero matches emit a\n// synthetic empty {} item — which is truthy, so a plain length check\n// would mis-classify \"no boss\" as \"boss exists with all fields undefined\"\n// and feed garbage into the AI prompt. Pick the first item that has an\n// actual Title; if none, treat as no active boss.\nconst bossItems = $('Read Active Boss').all();\nconst activeBossRaw = bossItems.find(i => i.json && i.json['Title']);\nconst activeBoss = activeBossRaw ? activeBossRaw.json : null;\n\nreturn [{\n  json: {\n    ...dates,\n    player_id: player['Player ID'],\n    player_name: player['Display Name'],\n    current_xp: player['Current XP'] || 0,\n    lifetime_xp: player['Lifetime XP'] || 0,\n    level: player['Level'] || 1,\n    streak: player['Current Streak Days'] || 0,\n    difficulty: player['Current Difficulty'] || 'Normal',\n    rate_7d: rate7d,\n    snapshots_n: snapshots.length,\n    active_boss: activeBoss ? {\n      title: activeBoss['Title'],\n      narrative: activeBoss['Narrative'],\n      target_metric: activeBoss['Target Metric'],\n      current_progress: activeBoss['Current Progress'],\n      xp_reward: activeBoss['XP Reward'],\n    } : null,\n  }\n}];"
      }
    },
    {
      "id": "f8728950-a695-42e6-a3f5-43982deadba7",
      "name": "Read Calendar Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [
        1760,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "I5zIYf0UxlkUt3KG",
          "name": "Google Calendar AVM Tutorial"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.day_start_iso }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.day_end_iso }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "38d1a6b4-6b96-4c5c-b97b-e093a5c85c72",
      "name": "Compute Free Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        300
      ],
      "parameters": {
        "jsCode": "// Compute free slots between existing events in the 07:00-20:00 window\nconst ctx = $('Consolidate Context').first().json;\nconst calResp = $input.item.json;  // from HTTP Read Calendar Today\nconst events = (calResp.items || [])\n  .filter(e => e.start && e.start.dateTime && e.status !== 'cancelled')\n  .map(e => ({\n    start: new Date(e.start.dateTime),\n    end: new Date(e.end.dateTime),\n    summary: e.summary || 'busy',\n  }))\n  .sort((a, b) => a.start - b.start);\n\nconst windowStart = new Date(ctx.day_start_iso);\nconst windowEnd = new Date(ctx.day_end_iso);\n\nconst freeSlots = [];\nlet cursor = windowStart;\nfor (const ev of events) {\n  if (ev.end <= windowStart || ev.start >= windowEnd) continue;\n  if (ev.start > cursor) {\n    const minutes = Math.floor((ev.start - cursor) / 60000);\n    if (minutes >= 15) {\n      freeSlots.push({\n        start_iso: cursor.toISOString(),\n        end_iso: ev.start.toISOString(),\n        minutes,\n      });\n    }\n  }\n  if (ev.end > cursor) cursor = ev.end;\n}\nif (cursor < windowEnd) {\n  const minutes = Math.floor((windowEnd - cursor) / 60000);\n  if (minutes >= 15) {\n    freeSlots.push({\n      start_iso: cursor.toISOString(),\n      end_iso: windowEnd.toISOString(),\n      minutes,\n    });\n  }\n}\n\nconst totalFreeMinutes = freeSlots.reduce((s, slot) => s + slot.minutes, 0);\n\n// Build AI user message\nconst userMsg = `Generate today's mission board.\n\nTODAY: ${ctx.today} (${ctx.weekday_name}, Day ${ctx.day_n} of 100)\nWEEKLY THEME: ${ctx.weekday_theme}\n100-DAY PHASE: ${ctx.phase}\nMONTHLY TARGET: ${ctx.monthly_target}\nPRE-LAUNCH: ${ctx.is_pre_launch}\n\nPLAYER STATE:\n- Level ${ctx.level} · ${ctx.current_xp}/500 XP (lifetime ${ctx.lifetime_xp})\n- Streak: ${ctx.streak} day(s)\n- Difficulty: ${ctx.difficulty}\n- Last-7-day completion rate: ${ctx.rate_7d}% across ${ctx.snapshots_n} snapshots\n\n${ctx.active_boss ? `ACTIVE BOSS BATTLE: \"${ctx.active_boss.title}\" — ${ctx.active_boss.narrative}\n  Target: ${ctx.active_boss.target_metric} · Progress: ${ctx.active_boss.current_progress} · Reward: ${ctx.active_boss.xp_reward} XP\n  RESERVE ONE Must-Complete slot that advances this boss.` : 'No active boss battle.'}\n\nFREE CALENDAR SLOTS (SAST):\n${freeSlots.map(s => `  - ${s.start_iso.substring(11,16)}-${s.end_iso.substring(11,16)} (${s.minutes} min)`).join('\\n') || '  NONE — day is fully booked, generate 2-3 Optional/Maintenance missions only'}\nTotal free time: ${totalFreeMinutes} minutes.\n\nReturn the JSON object with \"missions\" array. No markdown, no commentary.`;\n\nreturn [{\n  json: {\n    ...ctx,\n    free_slots: freeSlots,\n    total_free_minutes: totalFreeMinutes,\n    user_message: userMsg,\n  }\n}];"
      }
    },
    {
      "id": "b7d6c642-2531-4be3-ab36-015c2c11ce43",
      "name": "AI Generate Missions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [
        2280,
        300
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            },
            {
              "name": "X-Title",
              "value": "AVM Coach PP-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"anthropic/claude-sonnet-4.5\", \"max_tokens\": 3000, \"temperature\": 0.4, \"messages\": [{\"role\": \"system\", \"content\": \"You are Ian Immelman's AVM Coach.\\n\\nCONTEXT: Ian is running a \\\"100 Days of Building South Africa's First Million-Dollar AI Company\\\" challenge. You are generating his daily mission board.\\n\\nABOUT IAN:\\n- Solo founder, AnyVision Media (AVM), Johannesburg, ZAR currency, UK English spelling\\n- Building agency services + digital products + consulting ladder\\n- Brand: AVM (agency) + Ian Immelman (personal founder brand). Dual-brand strategy.\\n- Deep n8n + AI automation stack (34+ workflows across 7 departments)\\n\\nREVENUE LADDER (month-target must align to current phase):\\n- Month 1-2:  R20K-R40K/mo  (2-3 clients, free AI Audit funnel, R2,500/hr consulting)\\n- Month 3-4:  R60K-R100K/mo (5-7 clients, digital products R499-R999, case studies)\\n- Month 5-6:  R100K-R180K/mo (8+ clients, course R1,999-R4,999, events R5-25K)\\n\\nWEEKDAY CONTENT THEMES (at least ONE Growth mission MUST align with today's theme):\\n- Mon_Metrics   \\u2014 Weekly numbers, revenue, honest dashboard\\n- Tue_Tutorial  \\u2014 Teach one specific thing (automation, prompt, workflow)\\n- Wed_Win       \\u2014 One concrete win (client, deal, system shipped)\\n- Thu_Thought   \\u2014 Opinion/essay (AI, SA tech, agency economics)\\n- Fri_Fails     \\u2014 What broke this week, lessons\\n- Sat_Strategy  \\u2014 Long-form strategic thinking\\n- Sun_Story     \\u2014 Personal narrative, connection > conversion\\n\\nCATEGORIES:\\n- Revenue      Non-negotiable income work. Always prefer for Must-Complete slots.\\n- Growth       Content, SEO, ads, brand. Must match weekday theme for \\u22651 mission.\\n- Build        Ship workflows, systems, product features.\\n- Learning     Must produce an artifact (notes, summary, re-applied lesson).\\n- Maintenance  Admin, follow-ups, CRM hygiene. Cap at 1-2 per day.\\n\\nTIERS + XP BANDS (respect Player's difficulty multiplier below):\\n- Must-Complete  60-120 XP  (2-3 missions, bias Revenue/Growth, non-negotiable)\\n- High-Value     30-60 XP   (2-3 missions)\\n- Optional       10-30 XP   (1-3 missions)\\n\\nDIFFICULTY MULTIPLIER (applied to XP bands):\\nEasy 0.8\\u00d7 \\u00b7 Normal 1.0\\u00d7 \\u00b7 Hard 1.2\\u00d7 \\u00b7 Legendary 1.4\\u00d7\\n\\nHARD CONSTRAINTS:\\n1. Generate 6-9 missions total.\\n2. At least ONE Growth mission MUST match today's weekday theme.\\n3. Total focus time \\u2264 360 minutes (6 hours).\\n4. Respect free calendar slots passed in user message \\u2014 do not schedule into busy slots.\\n5. Mission titles start with a verb, \\u226480 chars.\\n6. Descriptions \\u2264140 chars, concrete deliverable.\\n7. If pre-launch (day_n < 1): NO ad-spend missions, focus on Build/Growth prep.\\n8. If an active boss battle exists, reserve ONE Must-Complete slot that advances it.\\n\\nRESPONSE FORMAT (JSON object with a \\\"missions\\\" array \\u2014 return nothing else):\\n{\\\"missions\\\":[\\n  {\\n    \\\"title\\\": \\\"Call AquaFlow re R8K retainer renewal\\\",\\n    \\\"description\\\": \\\"45min discovery call. Offer Growth package with automation audit addon.\\\",\\n    \\\"category\\\": \\\"Revenue\\\",\\n    \\\"tier\\\": \\\"Must-Complete\\\",\\n    \\\"xp_value\\\": 110,\\n    \\\"est_minutes\\\": 60,\\n    \\\"preferred_block\\\": \\\"morning\\\",\\n    \\\"linked_100day_theme\\\": null\\n  }\\n]}\\n\\npreferred_block: \\\"morning\\\" (07:00-11:00) | \\\"midday\\\" (11:00-14:00) | \\\"afternoon\\\" (14:00-17:00) | \\\"evening\\\" (17:00-20:00)\\nlinked_100day_theme: only set for Growth missions matching the weekday theme, else null.\\n\"}, {\"role\": \"user\", \"content\": \"{{ $json.user_message.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}], \"response_format\": {\"type\": \"json_object\"}}",
        "options": {
          "timeout": 90000
        }
      }
    },
    {
      "id": "25ad071d-38cf-4504-8a81-a36d593a0ac9",
      "name": "Parse & Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        300
      ],
      "parameters": {
        "jsCode": "// Parse Claude's JSON response and assign time blocks from free slots\nconst aiResp = $input.item.json;\nconst ctx = $('Compute Free Slots').first().json;\n\nlet content = '';\ntry {\n  content = aiResp.choices?.[0]?.message?.content || '{}';\n} catch (e) {\n  throw new Error('OpenRouter response missing choices: ' + JSON.stringify(aiResp).substring(0, 500));\n}\n\n// Strip markdown code fences if present (```json ... ``` or ``` ... ```)\nif (typeof content === 'string') {\n  content = content.trim();\n  const fenceMatch = content.match(/^```(?:json)?\\s*\\n?([\\s\\S]*?)\\n?```$/);\n  if (fenceMatch) content = fenceMatch[1].trim();\n}\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error('Invalid JSON from AI (first 600 chars): ' + String(content).substring(0, 600));\n}\n\n// Accept both {missions:[...]} and raw array [...]\nlet missions;\nif (Array.isArray(parsed)) {\n  missions = parsed;\n} else if (parsed && Array.isArray(parsed.missions)) {\n  missions = parsed.missions;\n} else {\n  missions = [];\n}\nif (missions.length === 0) {\n  throw new Error('AI returned 0 missions. Raw content: ' + String(content).substring(0, 600));\n}\n\n// Category → colorId map\nconst COLOR_MAP = {\n  'Revenue': '11',\n  'Growth': '5',\n  'Build': '9',\n  'Learning': '10',\n  'Maintenance': '8',\n};\n\n// Greedy-pack missions into free slots (sorted by tier priority, then size)\nconst TIER_PRIORITY = {'Must-Complete': 0, 'High-Value': 1, 'Optional': 2};\nconst BLOCK_PREFERENCE = {'morning': 0, 'midday': 1, 'afternoon': 2, 'evening': 3};\n\nconst sorted = [...missions].sort((a, b) => {\n  const tierDiff = (TIER_PRIORITY[a.tier] ?? 99) - (TIER_PRIORITY[b.tier] ?? 99);\n  if (tierDiff !== 0) return tierDiff;\n  return (b.est_minutes || 30) - (a.est_minutes || 30);\n});\n\nconst slots = ctx.free_slots.map(s => ({\n  start: new Date(s.start_iso),\n  end: new Date(s.end_iso),\n  remainingMin: s.minutes,\n}));\n\nfunction buildCalendarBody(mission) {\n  // Pre-stringify the entire body in the Code node. The HTTP node will\n  // send this string as the raw body (specifyBody: 'string').\n  const body = {\n    summary: '[' + mission.category + '] ' + mission.title + ' - ' + mission.xp_value + 'XP',\n    description: (mission.description || '') + '. Tier: ' + mission.tier + '. Theme: ' + (mission.linked_100day_theme || 'n/a') + '. Mission ID: ' + mission.mission_id,\n    start: {dateTime: mission.scheduled_start_iso, timeZone: 'Africa/Johannesburg'},\n    end: {dateTime: mission.scheduled_end_iso, timeZone: 'Africa/Johannesburg'},\n    colorId: String(mission.color_id),\n    reminders: {useDefault: false, overrides: [{method: 'popup', minutes: 10}]},\n  };\n  return JSON.stringify(body);\n}\n\nconst enriched = [];\nlet missionIdx = 0;\nfor (const m of sorted) {\n  const minsNeeded = Math.max(15, m.est_minutes || 30);\n  let placed = false;\n  for (const slot of slots) {\n    if (slot.remainingMin >= minsNeeded) {\n      const start = new Date(slot.start);\n      const end = new Date(start.getTime() + minsNeeded * 60000);\n      slot.start = end;\n      slot.remainingMin -= minsNeeded;\n\n      const today = ctx.today;\n      const missionId = `pp-${today.replace(/-/g, '')}-${String(missionIdx + 1).padStart(2, '0')}`;\n      const mission = {\n        mission_id: missionId,\n        date: today,\n        title: (m.title || '').substring(0, 80),\n        description: (m.description || '').substring(0, 140),\n        category: m.category || 'Maintenance',\n        tier: m.tier || 'Optional',\n        xp_value: m.xp_value || 20,\n        est_minutes: minsNeeded,\n        scheduled_start_iso: start.toISOString(),\n        scheduled_end_iso: end.toISOString(),\n        source: 'AI_Generated',\n        linked_100day_theme: m.linked_100day_theme || null,\n        color_id: COLOR_MAP[m.category] || '8',\n        ctx_day_n: ctx.day_n,\n        ctx_weekday_theme: ctx.weekday_theme,\n        ctx_phase: ctx.phase,\n      };\n      mission.calendar_body = buildCalendarBody(mission);\n      enriched.push(mission);\n      missionIdx++;\n      placed = true;\n      break;\n    }\n  }\n  if (!placed) {\n    const today = ctx.today;\n    const missionId = `pp-${today.replace(/-/g, '')}-${String(missionIdx + 1).padStart(2, '0')}`;\n    const mission = {\n      mission_id: missionId,\n      date: today,\n      title: (m.title || '').substring(0, 80) + ' [UNSCHEDULED]',\n      description: (m.description || '').substring(0, 140),\n      category: m.category || 'Maintenance',\n      tier: m.tier || 'Optional',\n      xp_value: m.xp_value || 20,\n      est_minutes: minsNeeded,\n      scheduled_start_iso: `${today}T19:00:00+02:00`,\n      scheduled_end_iso: `${today}T19:${String(Math.min(59, minsNeeded)).padStart(2, '0')}:00+02:00`,\n      source: 'AI_Generated',\n      linked_100day_theme: m.linked_100day_theme || null,\n      color_id: COLOR_MAP[m.category] || '8',\n      ctx_day_n: ctx.day_n,\n      ctx_weekday_theme: ctx.weekday_theme,\n      ctx_phase: ctx.phase,\n    };\n    mission.calendar_body = buildCalendarBody(mission);\n    enriched.push(mission);\n    missionIdx++;\n  }\n}\n\nreturn enriched.map(m => ({json: m}));"
      }
    },
    {
      "id": "bb4b2bbf-2a95-4700-89d4-5968436e3820",
      "name": "Create PP_Missions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        2800,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblD66W7bTOoMxczA",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mission ID": "={{ $json.mission_id }}",
            "Date": "={{ $json.date }}",
            "Title": "={{ $json.title }}",
            "Description": "={{ $json.description }}",
            "Category": "={{ $json.category }}",
            "Tier": "={{ $json.tier }}",
            "XP Value": "={{ $json.xp_value }}",
            "Status": "Pending",
            "Est. Minutes": "={{ $json.est_minutes }}",
            "Scheduled Start": "={{ $json.scheduled_start_iso }}",
            "Scheduled End": "={{ $json.scheduled_end_iso }}",
            "Source": "={{ $json.source }}",
            "Linked 100Day Theme": "={{ $json.linked_100day_theme }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "d1e3172f-e7a6-4ea4-9e6a-5eba31209e93",
      "name": "Loop Missions",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3060,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "0cd5c410-533a-4a43-9b17-6149208dc0c3",
      "name": "Prepare Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst f = raw.fields || raw || {};\nreturn [{\n  json: {\n    mission_id: f['Mission ID'] || raw.mission_id || '',\n    title: f['Title'] || raw.title || '',\n    description: f['Description'] || raw.description || '',\n    category: f['Category'] || raw.category || 'Maintenance',\n    tier: f['Tier'] || raw.tier || 'Optional',\n    xp_value: f['XP Value'] || raw.xp_value || 0,\n    scheduled_start_iso: f['Scheduled Start'] || raw.scheduled_start_iso || '',\n    scheduled_end_iso: f['Scheduled End'] || raw.scheduled_end_iso || '',\n    linked_100day_theme: f['Linked 100Day Theme'] || raw.linked_100day_theme || null,\n    color_id: raw.color_id || '8',\n    airtable_record_id: raw.id || '',\n  }\n}];"
      }
    },
    {
      "id": "85613432-4bea-4ed0-a70f-a244c9c8f2b5",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "onError": "continueRegularOutput",
      "position": [
        3580,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "I5zIYf0UxlkUt3KG",
          "name": "Google Calendar AVM Tutorial"
        }
      },
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.scheduled_start_iso }}",
        "end": "={{ $json.scheduled_end_iso }}",
        "additionalFields": {
          "summary": "=[{{ $json.category }}] {{ $json.title }} - {{ $json.xp_value }}XP",
          "description": "={{ $json.description }}. Tier: {{ $json.tier }}. Theme: {{ $json.linked_100day_theme || 'n/a' }}. Mission ID: {{ $json.mission_id }}",
          "colorId": "={{ $json.color_id }}"
        }
      }
    },
    {
      "id": "6f95cf54-06b9-42d5-8027-5c0de1c597bc",
      "name": "Merge Event ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        300
      ],
      "parameters": {
        "jsCode": "// Pull airtable_record_id + mission_id from the Prepare Event upstream\n// item, event id from the Create Calendar Event response. Build a single\n// payload so the Airtable update can match by Airtable record id (globally\n// unique) rather than Mission ID (per-day sequence, collision-prone when\n// a manual seed and an automated run share the same day).\nconst missionItem = $('Prepare Event').item.json;\nconst calResp = $input.item.json;\nconst eventId = calResp && calResp.id && !calResp.error ? calResp.id : '';\nconst calError = calResp && calResp.error ? JSON.stringify(calResp.error).substring(0, 200) : null;\nreturn [{\n  json: {\n    airtable_record_id: missionItem.airtable_record_id,\n    mission_id: missionItem.mission_id,\n    event_id: eventId,\n    cal_error: calError,\n  }\n}];"
      }
    },
    {
      "id": "fed23a12-3008-48c6-8db4-e224ff01230e",
      "name": "Update Event ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        4100,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblD66W7bTOoMxczA",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "value": {
            "id": "={{ $json.airtable_record_id }}",
            "Calendar Event ID": "={{ $json.event_id }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "3616d2fb-7af8-4184-83ea-d3700d937e19",
      "name": "Render Board",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        480
      ],
      "parameters": {
        "jsCode": "// Render mission board markdown for Telegram + build inline keyboard\nconst ctx = $('Compute Free Slots').first().json;\nconst createRows = $('Create PP_Missions').all().map(i => i.json);\n\n// Airtable v2 output may come as {id, fields:{...}} or flat {id, ...fields}.\n// Mirror the Prepare Event pattern so both shapes work.\nconst missions = createRows.map(raw => {\n  const f = raw.fields || raw || {};\n  return {\n    airtable_record_id: raw.id || '',\n    title: f['Title'] || raw.title || '',\n    category: f['Category'] || raw.category || 'Maintenance',\n    tier: f['Tier'] || raw.tier || 'Optional',\n    xp_value: f['XP Value'] || raw.xp_value || 0,\n    scheduled_start_iso: f['Scheduled Start'] || raw.scheduled_start_iso || '',\n    est_minutes: f['Est. Minutes'] || raw.est_minutes || 0,\n    linked_100day_theme: f['Linked 100Day Theme'] || raw.linked_100day_theme || null,\n  };\n});\n\nconst TIER_EMOJI = {'Must-Complete':'🔴','High-Value':'🟠','Optional':'🔵'};\nconst byTier = {'Must-Complete':[],'High-Value':[],'Optional':[]};\nlet n = 1;\nfor (const m of missions) {\n  byTier[m.tier] = byTier[m.tier] || [];\n  byTier[m.tier].push({...m, idx: n++});\n}\n\nconst header = `🎮 *AVM COACH* — ${ctx.weekday_name} ${ctx.today}\nDay ${ctx.day_n} of 100 · Phase: ${ctx.phase}\nTheme: *${ctx.weekday_theme}* · Monthly target: ${ctx.monthly_target}\n\nPlayer: Level ${ctx.level} · ${ctx.current_xp}/500 XP · 🔥 ${ctx.streak}-day streak · ${ctx.difficulty}\n7-day completion rate: ${ctx.rate_7d}%\n`;\n\nlet body = '';\n// Collect missions in render order for the inline-keyboard button layout.\nconst orderedMissions = [];\nfor (const tier of ['Must-Complete', 'High-Value', 'Optional']) {\n  const list = byTier[tier] || [];\n  if (list.length === 0) continue;\n  body += `\\n${TIER_EMOJI[tier]} *${tier.toUpperCase()}* (${list.length})\\n`;\n  for (const m of list) {\n    const t = (m.scheduled_start_iso || '').substring(11, 16);\n    const themeTag = m.linked_100day_theme ? ` [${m.linked_100day_theme}]` : '';\n    body += `  ${m.idx}. [${m.category}] ${m.title} — *${m.xp_value} XP*${themeTag}\\n     ${t} · ${m.est_minutes} min\\n`;\n    orderedMissions.push(m);\n  }\n}\n\nconst totalXp = missions.reduce((s, m) => s + (m.xp_value || 0), 0);\nconst totalMin = missions.reduce((s, m) => s + (m.est_minutes || 0), 0);\nconst footer = `\\n📊 Total board: ${totalXp} XP · ${totalMin} min focus\nTap ✅ below to mark a mission complete.\n🎯 Go.`;\n\n// Inline keyboard: 3 buttons per row, text \"✅ #N\", callback \"cmpl:<recId>\".\n// Filter out missions with no Airtable id (shouldn't happen, defensive).\nconst buttons = orderedMissions\n  .filter(m => m.airtable_record_id)\n  .map(m => ({\n    text: `✅ #${m.idx}`,\n    callback_data: `cmpl:${m.airtable_record_id}`,\n  }));\nconst rows = [];\nfor (let i = 0; i < buttons.length; i += 3) {\n  rows.push(buttons.slice(i, i + 3));\n}\nconst replyMarkup = JSON.stringify({ inline_keyboard: rows });\n\nreturn [{\n  json: {\n    telegram_text: header + body + footer,\n    mission_count: missions.length,\n    total_xp: totalXp,\n    reply_markup: replyMarkup,\n  }\n}];"
      }
    },
    {
      "id": "c5eeeeba-7c33-4702-b28e-bb4300bcdc15",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "onError": "continueRegularOutput",
      "position": [
        3580,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "Ha3Ewmk9ofbvWyZ9",
          "name": "Telegram AVMCRMBot"
        }
      },
      "parameters": {
        "operation": "sendMessage",
        "chatId": "6311361442",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false,
          "reply_markup": "={{ $json.reply_markup }}"
        }
      }
    }
  ],
  "connections": {
    "Daily 06:30 SAST": {
      "main": [
        [
          {
            "node": "Compute Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Dates": {
      "main": [
        [
          {
            "node": "Read Player",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Player": {
      "main": [
        [
          {
            "node": "Read Perf Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Perf Snapshots": {
      "main": [
        [
          {
            "node": "Read Active Boss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Boss": {
      "main": [
        [
          {
            "node": "Consolidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Context": {
      "main": [
        [
          {
            "node": "Read Calendar Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Calendar Today": {
      "main": [
        [
          {
            "node": "Compute Free Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Free Slots": {
      "main": [
        [
          {
            "node": "AI Generate Missions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Missions": {
      "main": [
        [
          {
            "node": "Parse & Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Schedule": {
      "main": [
        [
          {
            "node": "Create PP_Missions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PP_Missions": {
      "main": [
        [
          {
            "node": "Loop Missions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Missions": {
      "main": [
        [
          {
            "node": "Render Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Merge Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Event ID": {
      "main": [
        [
          {
            "node": "Update Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event ID": {
      "main": [
        [
          {
            "node": "Loop Missions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Board": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}