workflows/personal-ops-dept/pp02_midday_checkin.json
{
  "name": "PP-02 Midday Check-in",
  "nodes": [
    {
      "id": "34e54771-2add-4a7f-8a96-a2a0eecb4d2b",
      "name": "Daily 13:00 SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "ba90f66f-fe0c-449d-86ff-fc0168d1d4f3",
      "name": "Compute Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const SAST_OFFSET_HOURS = 2;\nconst now = new Date();\nconst sastNow = new Date(now.getTime() + SAST_OFFSET_HOURS * 3600 * 1000);\nconst yyyy = sastNow.getUTCFullYear();\nconst mm = String(sastNow.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(sastNow.getUTCDate()).padStart(2, '0');\nconst today = `${yyyy}-${mm}-${dd}`;\n\nconst launch = new Date('2026-04-22T00:00:00+02:00');\nconst todayMidnight = new Date(`${today}T00:00:00+02:00`);\nconst dayN = Math.floor((todayMidnight - launch) / (86400 * 1000)) + 1;\n\nconst weekdayNum = sastNow.getUTCDay();\nconst themeMap = {1:'Mon_Metrics',2:'Tue_Tutorial',3:'Wed_Win',4:'Thu_Thought',5:'Fri_Fails',6:'Sat_Strategy',0:'Sun_Story'};\nconst weekdayTheme = themeMap[weekdayNum];\nconst weekdayName = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][weekdayNum];\n\n// Hours remaining until 20:00 SAST working-window close\nconst WORKING_END_HOUR_SAST = 20;\nconst sastHour = sastNow.getUTCHours() + sastNow.getUTCMinutes() / 60;\nconst hoursRemaining = Math.max(0, WORKING_END_HOUR_SAST - sastHour);\nconst hoursInt = Math.floor(hoursRemaining);\nconst minsInt = Math.round((hoursRemaining - hoursInt) * 60);\n\nreturn [{\n  json: {\n    today,\n    day_n: dayN,\n    weekday_theme: weekdayTheme,\n    weekday_name: weekdayName,\n    hours_remaining: Math.round(hoursRemaining * 10) / 10,\n    remaining_label: `${hoursInt}h ${minsInt}m`,\n  }\n}];"
      }
    },
    {
      "id": "53a6ca01-8b9c-473e-9527-640005257a0d",
      "name": "Read Today Missions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        720,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblD66W7bTOoMxczA",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 30,
        "options": {},
        "filterByFormula": "IS_SAME({Date},TODAY(),'day')"
      }
    },
    {
      "id": "fe257d48-7a1e-4b2d-8b8c-a2ec5ae22131",
      "name": "Read Player",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        980,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSQ3DJ3o7gv2zli",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "options": {},
        "filterByFormula": "{Player ID}='ian-immelman'"
      }
    },
    {
      "id": "f85ae1e8-a97e-4b24-9511-10a8ed1674d4",
      "name": "Read Today XP Log",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptjjBx34z9340tK",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbldpF8Q2rKuGmKOn",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 50,
        "options": {},
        "filterByFormula": "AND(IS_SAME({Timestamp},TODAY(),'day'),{Event Type}='Mission_Complete')"
      }
    },
    {
      "id": "3949e9b4-2714-4e16-ba59-5345d0284545",
      "name": "Render Check-in",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const dates = $('Compute Dates').first().json;\n\nconst missionItems = $('Read Today Missions').all();\nconst missions = missionItems.map(i => i.json).filter(m => m && m['Mission ID']);\n\nconst playerItems = $('Read Player').all().filter(i => i.json && i.json['Player ID']);\nconst player = playerItems.length > 0 ? playerItems[0].json : {\n  'Player ID': 'ian-immelman',\n  'Current XP': 0,\n  'Lifetime XP': 0,\n  'Level': 1,\n  'Current Streak Days': 0,\n  'Current Difficulty': 'Normal',\n};\n\n// Dedupe XP log entries by Log ID. Upstream nodes (Read Today Missions\n// → Read Player → Read Today XP Log) fan out: 6 missions × 5 log rows =\n// 30 duplicated items reach this node. Without dedupe we inflate the\n// XP sum 6x. The same pattern applies to any Airtable search sitting\n// downstream of a multi-item producer.\nconst seenLogIds = new Set();\nconst xpLogItems = $('Read Today XP Log').all()\n  .map(i => i.json)\n  .filter(e => {\n    if (!e || !e['Log ID'] || e['Event Type'] !== 'Mission_Complete') return false;\n    if (seenLogIds.has(e['Log ID'])) return false;\n    seenLogIds.add(e['Log ID']);\n    return true;\n  });\nconst xpEarnedToday = xpLogItems.reduce((s, e) => s + (e['XP Delta'] || 0), 0);\n\n// Tier + status breakdown. Track skipped separately from pending so the\n// nudge can say \"unblock the skipped one\" vs \"pick the cheapest pending\".\nconst byTier = {\n  'Must-Complete': {total: 0, complete: 0, skipped: 0, pending: []},\n  'High-Value':    {total: 0, complete: 0, skipped: 0, pending: []},\n  'Optional':      {total: 0, complete: 0, skipped: 0, pending: []},\n};\n\nfor (const m of missions) {\n  const tier = m['Tier'] || 'Optional';\n  const status = m['Status'] || 'Pending';\n  if (!byTier[tier]) continue;\n  byTier[tier].total += 1;\n  if (status === 'Complete') {\n    byTier[tier].complete += 1;\n  } else if (status === 'Skipped' || status === 'Failed') {\n    byTier[tier].skipped += 1;\n  } else if (status === 'Pending' || status === 'In_Progress') {\n    byTier[tier].pending.push({\n      title: m['Title'] || '(untitled)',\n      category: m['Category'] || 'Maintenance',\n      xp: m['XP Value'] || 0,\n    });\n  }\n}\n\nconst mustTotal = byTier['Must-Complete'].total;\nconst mustDone = byTier['Must-Complete'].complete;\nconst mustSkipped = byTier['Must-Complete'].skipped;\nconst mustRate = mustTotal > 0 ? mustDone / mustTotal : 1;\nconst mustPending = byTier['Must-Complete'].pending;\n\n// Static coach nudge. Branching is deliberately layered: skipped/blocked\n// Musts are a different failure mode than pending ones and deserve a\n// different message.\nlet nudge;\nif (mustTotal === 0) {\n  nudge = \"No Must-Completes scheduled today. Use the window to push a High-Value forward.\";\n} else if (mustRate >= 1) {\n  nudge = \"🔥 Must-Completes nailed before midday. Ride momentum — bank a High-Value next.\";\n} else if (mustPending.length === 0 && mustSkipped > 0) {\n  nudge = `${mustSkipped} Must-Complete skipped, nothing else open. Unblock it, swap it, or accept the hit and double down on High-Value.`;\n} else if (mustRate >= 0.5 && mustPending.length > 0) {\n  nudge = \"Half the Must-Completes still open. Pick the cheapest one to knock out in the next 30 min.\";\n} else if (mustDone > 0 && mustPending.length > 0) {\n  nudge = `${mustPending.length} Must-Complete still open. Drop Optionals, batch the rest before 17:00.`;\n} else if (mustPending.length > 0) {\n  nudge = `Nothing Must-Complete done yet. Reality check: ${dates.remaining_label} left. Pick ONE Must and start it now.`;\n} else {\n  nudge = \"Must-Complete progress stalled. Check the mission list and either commit or swap.\";\n}\n\n// Must-Complete progress bar (5 segments)\nconst barLen = 5;\nconst filled = Math.round(mustRate * barLen);\nconst bar = '█'.repeat(filled) + '░'.repeat(barLen - filled);\n\n// Render pending Must list (up to 3)\nconst pendingLines = mustPending.slice(0, 3).map((m, i) => {\n  return `  ${i + 1}. [${m.category}] ${m.title} — ${m.xp} XP`;\n}).join('\\n');\n\nconst level = player['Level'] || 1;\nconst currentXp = player['Current XP'] || 0;\nconst streak = player['Current Streak Days'] || 0;\nconst streakEmoji = streak >= 7 ? '🔥 ' : streak >= 3 ? '⚡ ' : '';\nconst difficulty = player['Current Difficulty'] || 'Normal';\n\nconst body = `⏰ *MIDDAY CHECK-IN* — ${dates.weekday_name} ${dates.today}\nDay ${dates.day_n} of 100 · Theme: ${dates.weekday_theme}\n\nPlayer: Level ${level} · ${currentXp}/500 XP · ${streakEmoji}${streak}-day streak · ${difficulty}\nEarned today: *${xpEarnedToday} XP* across ${xpLogItems.length} mission(s)\nWorking window: *${dates.remaining_label}* left\n\n🔴 Must-Complete: ${bar}  ${mustDone}/${mustTotal}\n🟠 High-Value:    ${byTier['High-Value'].complete}/${byTier['High-Value'].total}\n🔵 Optional:      ${byTier['Optional'].complete}/${byTier['Optional'].total}\n${mustPending.length > 0 ? '\\n*Still open (Must-Complete):*\\n' + pendingLines : ''}\n\n${nudge}`;\n\nreturn [{\n  json: {\n    telegram_text: body,\n    xp_earned_today: xpEarnedToday,\n    must_complete_rate: mustRate,\n    must_pending_count: mustPending.length,\n  }\n}];"
      }
    },
    {
      "id": "517e0e44-2b59-4ef0-b9f0-383d96da934a",
      "name": "Send Check-in Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "onError": "continueRegularOutput",
      "position": [
        1760,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "Ha3Ewmk9ofbvWyZ9",
          "name": "Telegram AVMCRMBot"
        }
      },
      "parameters": {
        "operation": "sendMessage",
        "chatId": "6311361442",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      }
    }
  ],
  "connections": {
    "Daily 13:00 SAST": {
      "main": [
        [
          {
            "node": "Compute Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Dates": {
      "main": [
        [
          {
            "node": "Read Today Missions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Missions": {
      "main": [
        [
          {
            "node": "Read Player",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Player": {
      "main": [
        [
          {
            "node": "Read Today XP Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today XP Log": {
      "main": [
        [
          {
            "node": "Render Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Check-in": {
      "main": [
        [
          {
            "node": "Send Check-in Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}