workflows/remax/email-classifier/remax_email_agent_template.json
{
  "name": "RE/MAX Email Agent - AGENT_NAME_HERE",
  "nodes": [
    {
      "parameters": {},
      "id": "9a73c498-1312-4511-94d7-d1f73d7974ed",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        160
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "d4f21d93-bd90-423e-a7b6-b237a0a095cc",
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        208,
        432
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dnt-check",
              "leftValue": "={{ ($json.categories || []).includes('DNT') }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d67e9b1-b7fb-4347-a502-4d7d0b56aa3a",
      "name": "Has DNT Category?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        380,
        432
      ]
    },
    {
      "parameters": {},
      "id": "2f942edc-7b32-45fa-b91a-2a9a31a5fe5a",
      "name": "Skip - DNT",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        380,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// ---- CUSTOMIZE THESE PER AGENT ----\nconst AGENT_NAME = 'AGENT_NAME_HERE';\nconst AGENT_EMAIL = 'AGENT_EMAIL_HERE';\n// ------------------------------------\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const senderAddress = item.json.sender?.emailAddress?.address\n    || item.json.from?.emailAddress?.address || '';\n  const senderName = item.json.sender?.emailAddress?.name\n    || item.json.from?.emailAddress?.name || '';\n\n  // Extract attachment info for AI prompt\n  const attachmentNames = [];\n  if (item.json.hasAttachments && item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      attachmentNames.push(item.binary[key].fileName || key);\n    }\n  }\n\n  const emailData = {\n    from: senderName ? `${senderName} <${senderAddress}>` : senderAddress,\n    to: (item.json.toRecipients || [])\n      .map(r => r.emailAddress?.address || '').join(', '),\n    subject: item.json.subject || '',\n    date: item.json.receivedDateTime || item.json.createdDateTime\n      || new Date().toISOString(),\n    body: (item.json.bodyPreview\n      || (item.json.body?.content || '').replace(/<[^>]*>/g, '')\n      || '').substring(0, 3000),\n    hasAttachments: item.json.hasAttachments || false,\n    attachmentNames: attachmentNames.join(', '),\n    messageId: item.json.id || '',\n    threadId: item.json.conversationId || '',\n    agentName: AGENT_NAME,\n    agentEmail: AGENT_EMAIL\n  };\n\n  const classificationPrompt = `Analyze this email for a RE/MAX admin office. Return ONLY valid JSON.\n\nFrom: ${emailData.from}\nSubject: ${emailData.subject}\nDate: ${emailData.date}\nBody:\n${emailData.body}\nAttachments: ${emailData.hasAttachments ? emailData.attachmentNames || 'Yes (names unknown)' : 'None'}`;\n\n  results.push({\n    json: {\n      ...emailData,\n      classificationPrompt\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "9131fd22-c8d6-4abf-a04f-07b689ced798",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        432
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "E4KO4SYchVCAo8GW"
      },
      "id": "cc444c05-c528-4adc-9a29-38f75eb3e842",
      "name": "Classify Email (Sub-Workflow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        780,
        432
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Spam",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Spam"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Agent_Compliance",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Agent_Compliance"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Listing_Admin",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Listing_Admin"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Commission",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Commission"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Training",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Training"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-General_Inquiry",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "General_Inquiry"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cat-Internal",
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "Internal"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "be161b4b-4cae-48ea-8e21-1755d4435a57",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1000,
        432
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Spam"
          ]
        }
      },
      "id": "0929af32-afa9-41a7-85ca-dcf3f12d06e6",
      "name": "Categorize Spam",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        80
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Agent_Compliance"
          ]
        }
      },
      "id": "01df822f-b741-4076-88bf-09e192f87a2f",
      "name": "Categorize Compliance",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        240
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Listing_Admin"
          ]
        }
      },
      "id": "d795f356-0682-470c-b7a4-fa7a3539976a",
      "name": "Categorize Listing",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        400
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Commission"
          ]
        }
      },
      "id": "f2abd545-8b19-49fd-9611-3e4fb7779e86",
      "name": "Categorize Commission",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        560
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Training"
          ]
        }
      },
      "id": "d09070ed-5032-4737-b745-b753932c646d",
      "name": "Categorize Training",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        720
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "General_Inquiry"
          ]
        }
      },
      "id": "113917d7-7501-493e-9acb-043e5a2be9ef",
      "name": "Categorize General",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        880
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Internal"
          ]
        }
      },
      "id": "20e42611-8eb9-405e-ade1-a5a492b52236",
      "name": "Categorize Internal",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        1040
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "General_Inquiry"
          ]
        }
      },
      "id": "b4a12562-21a9-4a30-95ba-23bf7ef35410",
      "name": "Categorize General Fallback",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        1160
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $('Classify Email (Sub-Workflow)').first().json.original_message_id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "2dfeeb84-c20e-44cb-ad0d-4cc787e590bd",
      "name": "Mark Spam Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1520,
        80
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "194ab0ef-d5b0-4e83-96df-fb2b9dc2331a",
              "leftValue": "={{ $json.urgency }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "high"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fbd09a8f-31e5-4da9-89fd-5e79f5475f39",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        1400
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "categories": [
            "Urgent"
          ]
        }
      },
      "id": "d6790992-e7b2-4468-9fb2-ddfb21fc4a6b",
      "name": "Categorize Urgent",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        1360
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {},
      "id": "cd81331e-8891-41b5-8811-dfb7f8a3e769",
      "name": "Not Urgent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "57af6a37-68e3-48ab-a35a-ad75aace47e9",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "noreply"
            },
            {
              "id": "05b0d7c6-1c90-47a8-bfec-07c4e287ebc1",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "no-reply"
            },
            {
              "id": "8825192e-79bc-45b9-a1c8-2252771eb404",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "donotreply"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9561245c-4b79-4052-8e07-d1b680b990ee",
      "name": "Is No-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        1640
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.original_message_id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "c579368a-1dda-4dfc-9fdd-b5719019e936",
      "name": "Mark No-Reply Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        1600
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {},
      "id": "78fd1d32-5ec8-4998-ac04-70ee7ea0cfe1",
      "name": "Not No-Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "rn-action",
              "leftValue": "={{ $json.action_required }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            },
            {
              "id": "rn-resp",
              "leftValue": "={{ $json.suggested_response }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "rn-notspam",
              "leftValue": "={{ $json.is_spam }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": false
            },
            {
              "id": "rn-nr1",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "rightValue": "noreply"
            },
            {
              "id": "rn-nr2",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "rightValue": "no-reply"
            },
            {
              "id": "rn-nr3",
              "leftValue": "={{ $json.sender }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "rightValue": "donotreply"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5265a646-2e59-4b31-8123-6184b2198bb3",
      "name": "Reply Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        1900
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "additionalFields": {
          "subject": "=Re: {{ $json.original_subject }}",
          "bodyContent": "={{ $json.html_response }}",
          "bodyContentType": "HTML",
          "toRecipients": "={{ $json.sender }}"
        }
      },
      "id": "47ba0cba-c190-469b-a131-26d9ee0428e1",
      "name": "Create Draft Reply",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        1860
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $('Classify Email (Sub-Workflow)').first().json.original_message_id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "id": "7544e6b6-fa53-4c8c-8b4f-dbde19899d5c",
      "name": "Mark Replied Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1520,
        1860
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {},
      "id": "72656401-3144-41a4-b63f-8263efc7ca5c",
      "name": "No Reply Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "doc-flag",
              "leftValue": "={{ $json.has_document }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            },
            {
              "id": "doc-attach",
              "leftValue": "={{ $json.has_original_attachments }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20a51fb8-54ae-44a9-a399-ae7bbbb47d0d",
      "name": "Has Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        2200
      ]
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json.original_message_id }}",
        "output": "binary",
        "options": {}
      },
      "id": "bd993c66-e588-4e0b-ae6c-95596998b827",
      "name": "Fetch Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1260,
        2160
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook - AGENT_NAME_HERE"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Document type -> Google Drive folder ID mapping\n// These are populated at deploy time from config/env\nconst FOLDER_MAP = {\n  \"FICA\": \"1z7EAG6xO5n1cqsDMCRInDMqjGzlmBvg1\",\n  \"Offer_to_Purchase\": \"1TEYDa9e6Sal0qCS_qzeyielxyWyryqh0\",\n  \"Mandate\": \"1fjx5m-D9Q6kpGLq5ACHA3vq0o1M3tfEH\",\n  \"Title_Deed\": \"1yiO6CbEpDD-pgaBrL49PWKY3W8U2x2kx\",\n  \"Municipal\": \"1d4nCS2Uf0sibOfOOZvXcm_2kEEHrStWf\",\n  \"Bond_Finance\": \"1w08-dU7FKAiR5iRglo8vIf23BhN_SKy8\",\n  \"Compliance_Cert\": \"1EccDqbkyOUvrpzDl6rOBMXLAOiKINL41\",\n  \"Sectional_Scheme\": \"1-jgo4pMzWLmd1TxReh5PkvGmdT1yL4W6\",\n  \"Entity_Docs\": \"1oA41_pyytk6u7EFoq8hcZk_0YGJPFcl4\",\n  \"Other\": \"1FoAqGX2doyenuuxC0Lpo86mIDRdhLrh3\"\n};\n\nconst DEFAULT_FOLDER = FOLDER_MAP['Other'] || '1g--PD_BWICo4c57MURMZX9AY8A-DbO3N';\n\nreturn items.map(item => {\n  const docType = item.json.document_type || 'Other';\n  const folderId = FOLDER_MAP[docType] || DEFAULT_FOLDER;\n\n  return {\n    json: {\n      ...item.json,\n      target_folder_id: folderId,\n      target_folder_name: docType\n    }\n  };\n});"
      },
      "id": "db2b4cfa-3a97-41e9-b961-6ea7a5575f11",
      "name": "Determine Drive Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $now.format('yyyyMMdd_HHmmss') + '_' + ($json.name || $json.fileName || 'attachment') }}",
        "folderId": {
          "__rl": true,
          "value": "={{ $json.target_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5875539c-94de-4fb4-b746-93df2cd32b35",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        2160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h1nJlw5vhziBMlh8",
          "name": "Google Drive AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst classified = $('Classify Email (Sub-Workflow)').first().json;\n\nreturn items.map(item => {\n  return {\n    json: {\n      date: new Date().toISOString(),\n      admin_name: classified.agent_name || 'Admin',\n      sender: classified.sender || '',\n      sender_name: classified.sender_name || '',\n      document_type: classified.document_type || 'Other',\n      filename: item.json.name || item.json.fileName || 'unknown',\n      drive_link: item.json.webViewLink || item.json.webContentLink || '',\n      drive_file_id: item.json.id || '',\n      property_reference: '',\n      email_subject: classified.original_subject || ''\n    }\n  };\n});"
      },
      "id": "7e0bbffd-73df-48fc-8217-41e6548a69de",
      "name": "Build Doc Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1rOSvQlV_30wNcx7LedVL3an28P2Mxw5FxWpt92EglwE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Document_Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "9cf29858-aef0-436d-8d29-53c922e1d2c0",
      "name": "Log Document to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        2160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "60dd6d4c-498f-4970-92f5-4f008f0d07c2",
      "name": "No Documents",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        2300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4601a62-8308-48b7-b8f2-502172ae6735",
              "leftValue": "={{ $json.follow_up_required }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69a9ce56-459a-4559-bb77-85e7be5cb430",
      "name": "Follow-Up Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst fuId = 'FU-' + Date.now() + '-' + Math.random().toString(36).substring(2, 6);\n\nreturn [{\n  json: {\n    id: fuId,\n    created_date: new Date().toISOString(),\n    admin_name: item.agent_name || 'Admin',\n    agent_name: item.sender_name || 'Unknown',\n    agent_email: item.sender || '',\n    subject: item.original_subject || item.subject || '',\n    category: item.category || '',\n    follow_up_reason: item.follow_up_reason || 'Follow-up required',\n    follow_up_date: item.follow_up_date || '',\n    status: 'Open',\n    notes: '',\n    completed_date: ''\n  }\n}];"
      },
      "id": "cecc1d9b-ad2d-42d0-9429-40eb18e4afd0",
      "name": "Build Follow-Up Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        2460
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1rOSvQlV_30wNcx7LedVL3an28P2Mxw5FxWpt92EglwE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Follow_Up_Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "20099b6f-f1e4-404f-9d99-84e7479ebc64",
      "name": "Log Follow-Up to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        2420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.follow_up_date + 'T09:00:00' }}",
        "end": "={{ $json.follow_up_date + 'T09:30:00' }}",
        "additionalFields": {
          "description": "=Follow-up reminder (auto-generated)\n\nAgent: {{ $json.agent_name }} ({{ $json.agent_email }})\nCategory: {{ $json.category }}\nReason: {{ $json.follow_up_reason }}\nSubject: {{ $json.subject }}",
          "summary": "=Follow up: {{ $json.agent_name }} - {{ $json.follow_up_reason }}"
        }
      },
      "id": "bbdca427-9f16-4e2a-bfe2-ac0b3cc7e1b1",
      "name": "Create Calendar Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1520,
        2540
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "I5zIYf0UxlkUt3KG",
          "name": "Google Calendar AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "3b14d2f3-76b4-4db9-9f41-b643fe9959e0",
      "name": "No Follow-Up",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        2600
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1rOSvQlV_30wNcx7LedVL3an28P2Mxw5FxWpt92EglwE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email_Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "adae5436-a638-4660-9030-754a79612d3b",
      "name": "Log to Email Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        2760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "b8e4413f-8301-4b48-8470-40e04cbd38d1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        208,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  workflow_name: error.workflow?.name || 'RE/MAX Email Agent',\n  node_name: error.execution?.error?.node?.name || 'unknown',\n  error_message: error.execution?.error?.message || 'Unknown error',\n  execution_id: error.execution?.id || 'unknown'\n}}];"
      },
      "id": "471ccd06-cb2b-4919-9214-ecdc638677f7",
      "name": "Format Error Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1rOSvQlV_30wNcx7LedVL3an28P2Mxw5FxWpt92EglwE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Error_Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "f83f3349-ed6a-4c58-af3c-7345fc01a6a0",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        -200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "content": "## RE/MAX Email Agent: AGENT_NAME_HERE\n\n**Outlook Categories Required:**\nAgent_Compliance (green), Listing_Admin (blue),\nCommission (orange), Training (purple),\nGeneral_Inquiry (gray), Internal (yellow),\nSpam (red), Urgent (red)\n\n**Customization:**\n- AGENT_NAME / AGENT_EMAIL in Prepare Email Data\n- Outlook credential on all Outlook nodes\n- Master workflow ID in Classify Email node",
        "height": 380,
        "width": 350
      },
      "id": "d78cf25e-bea3-4af3-b144-619e02ca6814",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        80
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Has DNT Category?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has DNT Category?": {
      "main": [
        [
          {
            "node": "Skip - DNT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Classify Email (Sub-Workflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email (Sub-Workflow)": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is No-Reply?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply Needed?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Document?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Follow-Up Required?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Email Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Categorize Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize Compliance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize Listing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize Commission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize Training",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize Internal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Categorize General Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Spam": {
      "main": [
        [
          {
            "node": "Mark Spam Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Categorize Urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is No-Reply?": {
      "main": [
        [
          {
            "node": "Mark No-Reply Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not No-Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Needed?": {
      "main": [
        [
          {
            "node": "Create Draft Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reply Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft Reply": {
      "main": [
        [
          {
            "node": "Mark Replied Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Document?": {
      "main": [
        [
          {
            "node": "Fetch Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attachments": {
      "main": [
        [
          {
            "node": "Determine Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Drive Folder": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Build Doc Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Doc Log Entry": {
      "main": [
        [
          {
            "node": "Log Document to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up Required?": {
      "main": [
        [
          {
            "node": "Build Follow-Up Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-Up Entry": {
      "main": [
        [
          {
            "node": "Log Follow-Up to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Calendar Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Alert": {
      "main": [
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}