workflows/re-operations/re02_lead_router.json
{
  "name": "RE-02 Lead Router",
  "nodes": [
    {
      "id": "21e4d9cc-9222-404a-b108-bd564bf1fab6",
      "name": "Note RE-02",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-02: Lead Router\n\nNormalizes phone (+27), searches existing leads,\ncreates new client/lead if needed, calls RE-15\nScoring + RE-16 Assignment engines.",
        "width": 300,
        "height": 180,
        "color": 4
      }
    },
    {
      "id": "433985d7-5674-4ee0-b778-ac1d18745e99",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "parameters": {}
    },
    {
      "id": "64c9f734-9587-42df-b05c-1bd70e33c06b",
      "name": "Normalize Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "\n// Normalize phone to +27 format for South Africa\nconst input = $input.first().json;\nconst rawPhone = (input.sender_phone || '').replace(/[\\s\\-()]/g, '');\n\nlet normalized = rawPhone;\nif (rawPhone.startsWith('0') && rawPhone.length === 10) {\n  normalized = '+27' + rawPhone.substring(1);\n} else if (rawPhone.startsWith('27') && rawPhone.length === 11) {\n  normalized = '+' + rawPhone;\n} else if (!rawPhone.startsWith('+') && rawPhone.length > 0) {\n  normalized = '+' + rawPhone;\n}\n\nreturn {\n  json: {\n    sender_phone: input.sender_phone || '',\n    phone_normalized: normalized,\n    sender_email: input.sender_email || '',\n    channel: input.channel || 'unknown',\n    message_text: input.message_text || '',\n    received_at: new Date().toISOString(),\n  }\n};\n"
      }
    },
    {
      "id": "34c195b9-b846-4cfe-b29d-009ad5dfabe1",
      "name": "Read Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "337f8d4f-186a-4b34-be9e-cbac49570659",
      "name": "Search Existing Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\nconst target = $('Normalize Phone').first().json.phone_normalized;\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => r['Phone Normalized'] === target);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "1c67e3c6-09d8-4f43-834b-f394ff14a36b",
      "name": "Check Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\n// Determine if lead already exists from Google Sheets search results\nconst results = $input.all();\nconst inputData = $('Normalize Phone').first().json;\n\nconst hasExisting = results.length > 0\n  && results[0].json\n  && results[0].json.id;\n\nif (hasExisting) {\n  const existing = results[0].json;\n  return {\n    json: {\n      is_existing: true,\n      lead_id: existing.lead_id || existing.id || '',\n      client_id: existing.client_id || '',\n      client_name: existing.client_name || existing.Name || 'Unknown',\n      phone_normalized: inputData.phone_normalized,\n      email: existing.email || inputData.sender_email || '',\n      channel: inputData.channel,\n      message_text: inputData.message_text,\n      area: existing.area || '',\n      property_type: existing.property_type || '',\n      budget: existing.budget || '',\n      status: existing.status || 'Active',\n      tier: existing.tier || '',\n      assigned_agent: existing.assigned_agent || '',\n    }\n  };\n}\n\nreturn {\n  json: {\n    is_existing: false,\n    lead_id: '',\n    client_id: '',\n    client_name: '',\n    phone_normalized: inputData.phone_normalized,\n    email: inputData.sender_email || '',\n    channel: inputData.channel,\n    message_text: inputData.message_text,\n    area: '',\n    property_type: '',\n    budget: '',\n    status: 'New',\n    tier: '',\n    assigned_agent: '',\n  }\n};\n"
      }
    },
    {
      "id": "d37e1ef9-4a43-4d4a-9f6e-076955746064",
      "name": "Existing Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_existing }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "ddfaa581-2ce1-4c45-a61f-a79fd8d57748",
      "name": "Update Last Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Check Existing').first().json.lead_id }}",
            "last_contact": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "Lead ID"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "type": "string",
              "display": true,
              "displayName": "Lead ID"
            },
            {
              "id": "last_contact",
              "type": "string",
              "display": true,
              "displayName": "last_contact"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "548a281d-0100-4e45-bc1a-5449febb752d",
      "name": "Prepare New Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        500
      ],
      "parameters": {
        "jsCode": "\n// Prepare new client and lead records\nconst data = $input.first().json;\n\nconst clientId = 'CLI-' + Date.now().toString(36).toUpperCase();\nconst leadId = 'LEAD-' + Date.now().toString(36).toUpperCase();\n\nreturn {\n  json: {\n    client_id: clientId,\n    lead_id: leadId,\n    client_name: data.client_name || 'Unknown',\n    phone_normalized: data.phone_normalized,\n    email: data.email || '',\n    channel: data.channel,\n    message_text: data.message_text,\n    status: 'New',\n    source: data.channel,\n    created_at: new Date().toISOString(),\n  }\n};\n"
      }
    },
    {
      "id": "e9f333ae-a254-418e-9ba8-1f971ce8e1bb",
      "name": "Create Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "client_name": "={{ $json.client_name }}",
            "phone": "={{ $json.phone_normalized }}",
            "email": "={{ $json.email }}",
            "source": "={{ $json.channel }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_id",
              "type": "string",
              "display": true,
              "displayName": "client_id"
            },
            {
              "id": "client_name",
              "type": "string",
              "display": true,
              "displayName": "client_name"
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "displayName": "phone"
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "displayName": "email"
            },
            {
              "id": "source",
              "type": "string",
              "display": true,
              "displayName": "source"
            },
            {
              "id": "created_at",
              "type": "string",
              "display": true,
              "displayName": "created_at"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "4c113c70-3688-490a-8ee6-87f28f1a332d",
      "name": "Create Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Prepare New Client').first().json.lead_id }}",
            "client_id": "={{ $('Prepare New Client').first().json.client_id }}",
            "client_name": "={{ $('Prepare New Client').first().json.client_name }}",
            "phone_normalized": "={{ $('Prepare New Client').first().json.phone_normalized }}",
            "email": "={{ $('Prepare New Client').first().json.email }}",
            "channel": "={{ $('Prepare New Client').first().json.channel }}",
            "source": "={{ $('Prepare New Client').first().json.source }}",
            "status": "New",
            "last_contact": "={{ $now.toISO() }}",
            "created_at": "={{ $('Prepare New Client').first().json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "type": "string",
              "display": true,
              "displayName": "lead_id"
            },
            {
              "id": "client_id",
              "type": "string",
              "display": true,
              "displayName": "client_id"
            },
            {
              "id": "client_name",
              "type": "string",
              "display": true,
              "displayName": "client_name"
            },
            {
              "id": "phone_normalized",
              "type": "string",
              "display": true,
              "displayName": "phone_normalized"
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "displayName": "email"
            },
            {
              "id": "channel",
              "type": "string",
              "display": true,
              "displayName": "channel"
            },
            {
              "id": "source",
              "type": "string",
              "display": true,
              "displayName": "source"
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "displayName": "status"
            },
            {
              "id": "last_contact",
              "type": "string",
              "display": true,
              "displayName": "last_contact"
            },
            {
              "id": "created_at",
              "type": "string",
              "display": true,
              "displayName": "created_at"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "19530128-0162-4586-b6aa-fe10029f6218",
      "name": "Call RE-15 Scoring",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE15_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "2bd24854-5675-4a38-ac82-0c64f25bc77b",
      "name": "Call RE-16 Assignment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE16_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "b7f002ee-c528-4c79-9da8-5f2cb54db478",
      "name": "Log Lead Routed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2420,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activity_type": "Lead Routed",
            "entity_type": "Lead",
            "entity_id": "={{ $('Check Existing').first().json.lead_id || $('Prepare New Client').first().json.lead_id || 'unknown' }}",
            "description": "=Lead routed via {{ $('Normalize Phone').first().json.channel }}: {{ $('Normalize Phone').first().json.phone_normalized }}",
            "performed_by": "System",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "activity_type",
              "type": "string",
              "display": true,
              "displayName": "activity_type"
            },
            {
              "id": "entity_type",
              "type": "string",
              "display": true,
              "displayName": "entity_type"
            },
            {
              "id": "entity_id",
              "type": "string",
              "display": true,
              "displayName": "entity_id"
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "displayName": "description"
            },
            {
              "id": "performed_by",
              "type": "string",
              "display": true,
              "displayName": "performed_by"
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "displayName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Read Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Sheet": {
      "main": [
        [
          {
            "node": "Search Existing Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Lead": {
      "main": [
        [
          {
            "node": "Check Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing": {
      "main": [
        [
          {
            "node": "Existing Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Lead?": {
      "main": [
        [
          {
            "node": "Update Last Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare New Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Contact": {
      "main": [
        [
          {
            "node": "Call RE-15 Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare New Client": {
      "main": [
        [
          {
            "node": "Create Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client": {
      "main": [
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead": {
      "main": [
        [
          {
            "node": "Call RE-15 Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RE-15 Scoring": {
      "main": [
        [
          {
            "node": "Call RE-16 Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RE-16 Assignment": {
      "main": [
        [
          {
            "node": "Log Lead Routed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "lead-management",
    "routing",
    "sub-workflow"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:38:04.487195"
  }
}