workflows/re-operations/re04_email_ai_comms.json
{
  "name": "RE-04 Email AI Comms",
  "nodes": [
    {
      "id": "2120286a-d8c9-449c-8b80-d6b7d2bcd009",
      "name": "Note RE-04",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-04: Email AI Comms\n\nClassifies emails + generates draft replies.\nRoutes by confidence:\n  >= 0.75: auto-send\n  0.50-0.74: save as draft\n  < 0.50: admin review",
        "width": 300,
        "height": 200,
        "color": 3
      }
    },
    {
      "id": "a6cabb9d-1157-4908-a870-c772a13efce7",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "parameters": {}
    },
    {
      "id": "82ad468c-a0d1-42c4-8923-54be9ddccfdb",
      "name": "Build Email Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "\n// Build email classification + reply generation prompt\nconst input = $input.first().json;\nconst subject = input.email_subject || '(no subject)';\nconst body = (input.email_body || '').substring(0, 6000);\nconst sender = input.sender || 'Unknown';\nconst threadHistory = input.thread_history || [];\n\nlet historyText = '';\nif (threadHistory.length > 0) {\n  historyText = '\\n\\nPREVIOUS THREAD:\\n' + threadHistory\n    .slice(-5)\n    .map(t => `[${t.direction || ''}] ${t.subject || ''}: ${(t.body || '').substring(0, 500)}`)\n    .join('\\n\\n');\n}\n\nreturn {\n  json: {\n    prompt_text: `From: ${sender}\\nSubject: ${subject}\\n\\nBody:\\n${body}${historyText}`,\n    email_subject: subject,\n    email_body: body,\n    sender: sender,\n    has_attachments: !!(input.attachments && input.attachments.length > 0),\n    attachments: input.attachments || [],\n    agent_context: input.agent_context || {},\n  }\n};\n"
      }
    },
    {
      "id": "4d625af7-7d6c-4dd6-a998-6077cc340cca",
      "name": "AI Classify Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4-20250514\", \"max_tokens\": 1200, \"temperature\": 0.3, \"messages\": [{\"role\": \"system\", \"content\": \"You are an email assistant for a South African real estate agency.\\\\n\\\\nGiven an incoming email, you must:\\\\n1. Classify the email (enquiry, viewing_request, offer, document, feedback, complaint, spam, other)\\\\n2. Determine urgency (critical, high, medium, low)\\\\n3. Draft a professional reply\\\\n\\\\nRESPONSE FORMAT (JSON only, no markdown fences):\\\\n{\\\\n  \\\\\\\"classification\\\\\\\": \\\\\\\"enquiry|viewing_request|offer|document|feedback|complaint|spam|other\\\\\\\",\\\\n  \\\\\\\"urgency\\\\\\\": \\\\\\\"critical|high|medium|low\\\\\\\",\\\\n  \\\\\\\"summary\\\\\\\": \\\\\\\"One-line summary\\\\\\\",\\\\n  \\\\\\\"draft_reply\\\\\\\": \\\\\\\"Professional email reply text\\\\\\\",\\\\n  \\\\\\\"confidence\\\\\\\": 0.0-1.0,\\\\n  \\\\\\\"action_items\\\\\\\": [\\\\\\\"List of follow-up actions\\\\\\\"],\\\\n  \\\\\\\"has_attachment_needs\\\\\\\": true/false\\\\n}\"}, {\"role\": \"user\", \"content\": \"={{$json.prompt_text}}\"}]}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "cf84c2d0-1c1b-4b8a-ba8a-953537e8db16",
      "name": "Parse Email AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\n// Parse AI email classification response\nconst aiResp = $input.first().json;\nconst content = (aiResp.choices && aiResp.choices[0])\n  ? aiResp.choices[0].message.content\n  : '{}';\n\nconst promptData = $('Build Email Prompt').first().json;\n\nlet parsed = {};\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    classification: 'other',\n    urgency: 'medium',\n    summary: 'Could not classify email',\n    draft_reply: '',\n    confidence: 0.0,\n    action_items: [],\n  };\n}\n\nconst confidence = parseFloat(parsed.confidence || 0);\n\n// Route: >= 0.75 auto-send, 0.5-0.74 draft, < 0.5 admin review\nlet route = 'admin_review';\nif (confidence >= 0.75) route = 'auto_send';\nelse if (confidence >= 0.5) route = 'draft';\n\nreturn {\n  json: {\n    classification: parsed.classification || 'other',\n    urgency: parsed.urgency || 'medium',\n    summary: parsed.summary || '',\n    draft_reply: parsed.draft_reply || '',\n    confidence: confidence,\n    action_items: parsed.action_items || [],\n    has_attachment_needs: parsed.has_attachment_needs || false,\n    route: route,\n    email_subject: promptData.email_subject,\n    email_body: promptData.email_body,\n    sender: promptData.sender,\n    has_attachments: promptData.has_attachments,\n    attachments: promptData.attachments,\n  }\n};\n"
      }
    },
    {
      "id": "d849c610-173f-4263-8eed-3db2b04ae275",
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "auto_send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "admin_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "533fff62-fab9-4ca4-bb8e-5ad7090c1d1e",
      "name": "Auto Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        100
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "sendTo": "={{ $('Parse Email AI').first().json.sender }}",
        "subject": "=Re: {{ $('Parse Email AI').first().json.email_subject }}",
        "emailType": "html",
        "message": "={{ $('Parse Email AI').first().json.draft_reply }}",
        "options": {}
      }
    },
    {
      "id": "b140088b-566a-4dd2-af9d-bacf9de57ccd",
      "name": "Save Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "createDraft",
        "sendTo": "={{ $('Parse Email AI').first().json.sender }}",
        "subject": "=Re: {{ $('Parse Email AI').first().json.email_subject }}",
        "emailType": "html",
        "message": "={{ $('Parse Email AI').first().json.draft_reply }}",
        "options": {}
      }
    },
    {
      "id": "32340c6c-2106-4e0a-a2ed-1c0f266b439a",
      "name": "Notify Draft Ready",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE18_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "3a91fb5a-3cd0-4acf-9469-a0e9c85bbaae",
      "name": "Notify Admin Review",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        500
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE18_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "b9d3999b-9d3e-4ca6-899a-d66ffe18a85b",
      "name": "Log Email Thread",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Threads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender": "={{ $('Parse Email AI').first().json.sender }}",
            "subject": "={{ $('Parse Email AI').first().json.email_subject }}",
            "classification": "={{ $('Parse Email AI').first().json.classification }}",
            "urgency": "={{ $('Parse Email AI').first().json.urgency }}",
            "summary": "={{ $('Parse Email AI').first().json.summary }}",
            "confidence": "={{ $('Parse Email AI').first().json.confidence }}",
            "route": "={{ $('Parse Email AI').first().json.route }}",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender",
              "type": "string",
              "display": true,
              "displayName": "sender"
            },
            {
              "id": "subject",
              "type": "string",
              "display": true,
              "displayName": "subject"
            },
            {
              "id": "classification",
              "type": "string",
              "display": true,
              "displayName": "classification"
            },
            {
              "id": "urgency",
              "type": "string",
              "display": true,
              "displayName": "urgency"
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "displayName": "summary"
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "displayName": "confidence"
            },
            {
              "id": "route",
              "type": "string",
              "display": true,
              "displayName": "route"
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "displayName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "7d1c9122-50c3-43f8-a7bb-f1ac61a2a933",
      "name": "Log Email Message",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Messages",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "=EMAIL-{{ $now.toFormat('yyyyMMddHHmmss') }}",
            "conversation_id": "={{ $('Parse Email AI').first().json.sender }}",
            "direction": "inbound",
            "channel": "email",
            "body": "={{ $('Parse Email AI').first().json.email_body }}",
            "sender": "={{ $('Parse Email AI').first().json.sender }}",
            "intent": "={{ $('Parse Email AI').first().json.classification }}",
            "confidence": "={{ $('Parse Email AI').first().json.confidence }}",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "type": "string",
              "display": true,
              "displayName": "message_id"
            },
            {
              "id": "conversation_id",
              "type": "string",
              "display": true,
              "displayName": "conversation_id"
            },
            {
              "id": "direction",
              "type": "string",
              "display": true,
              "displayName": "direction"
            },
            {
              "id": "channel",
              "type": "string",
              "display": true,
              "displayName": "channel"
            },
            {
              "id": "body",
              "type": "string",
              "display": true,
              "displayName": "body"
            },
            {
              "id": "sender",
              "type": "string",
              "display": true,
              "displayName": "sender"
            },
            {
              "id": "intent",
              "type": "string",
              "display": true,
              "displayName": "intent"
            },
            {
              "id": "confidence",
              "type": "string",
              "display": true,
              "displayName": "confidence"
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "displayName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "767b1b25-c62a-47a7-9589-fb37185ad84f",
      "name": "Check Proceeding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "jsCode": "\n// Check if email classification indicates client wants to proceed\nconst data = $('Parse Email AI').first().json;\nconst cls = (data.classification || '').toLowerCase();\nconst confidence = parseFloat(data.confidence || 0);\nconst body = (data.email_body || '').toLowerCase();\n\n// Detect proceeding intent from classification or email body keywords\nconst proceedKeywords = ['proceed', 'go ahead', 'move forward', 'make an offer',\n  'ready to buy', 'ready to sell', 'send me the documents', 'send paperwork',\n  'send the forms', 'what documents do i need'];\nconst hasKeyword = proceedKeywords.some(k => body.includes(k));\n\nconst isProceeding = (cls === 'proceeding' || cls === 'offer') ||\n  (hasKeyword && confidence >= 0.6);\n\n// Determine transaction type\nlet packType = 'buyer';\nif (body.includes('sell') || body.includes('mandate') || body.includes('list my')) {\n  packType = 'seller';\n}\n\nreturn {\n  json: {\n    trigger_re19: isProceeding,\n    lead_id: data.lead_id || '',\n    pack_type: packType,\n    source: 're04',\n    confidence: confidence,\n  }\n};\n"
      }
    },
    {
      "id": "fccd3751-67a2-40e5-883e-a96a1c8dff2d",
      "name": "Email Send Docs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.trigger_re19 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "1a312ffe-831c-4edf-891a-1c7d354175b4",
      "name": "Call RE-19 Email Docs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE19_ID || '' }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Email Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Prompt": {
      "main": [
        [
          {
            "node": "AI Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify Email": {
      "main": [
        [
          {
            "node": "Parse Email AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email AI": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Auto Send Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin Review",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Auto Send Reply": {
      "main": [
        [
          {
            "node": "Log Email Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft": {
      "main": [
        [
          {
            "node": "Notify Draft Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Draft Ready": {
      "main": [
        [
          {
            "node": "Log Email Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin Review": {
      "main": [
        [
          {
            "node": "Log Email Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Thread": {
      "main": [
        [
          {
            "node": "Log Email Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Message": {
      "main": [
        [
          {
            "node": "Check Proceeding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Proceeding": {
      "main": [
        [
          {
            "node": "Email Send Docs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Send Docs?": {
      "main": [
        [
          {
            "node": "Call RE-19 Email Docs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "email",
    "ai",
    "sub-workflow"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:38:05.552687"
  }
}