workflows/re-operations/re09_telegram_command_hub.json
{
  "name": "RE-09 Telegram Command Hub",
  "nodes": [
    {
      "id": "4a2f08c5-13d8-48ad-9034-622b8363ea21",
      "name": "Note RE-09",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-09: Telegram Command Hub\n\nMain user-facing interface. Authorized users\nsend /commands to manage the RE operations system.\nCommands: /help /today /lead /newleads /hotleads\n/unassigned /appointments /agentload /exceptions\n/search /status /reassign /approve /pause /resume",
        "width": 340,
        "height": 240,
        "color": 6
      }
    },
    {
      "id": "07348bfe-4030-4909-99a5-4909aede5a16",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        400
      ],
      "webhookId": "72120f7a-29f0-45f6-9d1a-817a1782bd4c",
      "credentials": {
        "telegramApi": {
          "id": "37DtsPS5RQYxY2i1",
          "name": "Telegram RE Operations Bot"
        }
      },
      "parameters": {
        "updates": [
          "message"
        ]
      }
    },
    {
      "id": "0b4171a0-bba5-4423-ab4e-453893f443e6",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "parameters": {
        "jsCode": "\n// Extract Telegram message fields\nconst msg = $input.first().json;\nconst message = msg.message || msg;\n\nreturn {\n  json: {\n    from_id: String((message.from && message.from.id) || ''),\n    chat_id: String((message.chat && message.chat.id) || ''),\n    first_name: (message.from && message.from.first_name) || '',\n    message_text: message.text || '',\n  }\n};\n"
      }
    },
    {
      "id": "7b23a6a6-92d2-480f-9ee1-2adcaa1d7ece",
      "name": "Read Admin Staff Auth",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Admin Staff",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "f31489ed-ad4d-4ef1-ab7b-10fa04bf14a0",
      "name": "Check Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "parameters": {
        "jsCode": "\nconst fromId = $('Extract Message').first().json.from_id;\nconst rows = $input.all().map(i => i.json).filter(r => r['Admin ID']);\nconst matches = rows.filter(r =>\n  String(r['Telegram User ID'] || '') === fromId ||\n  String(r['Telegram Chat ID'] || '') === fromId\n);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "9494e106-bc80-48c9-b8c0-42fed7016080",
      "name": "Verify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "\n// Verify Telegram user is authorized (check Admin Staff table results)\n// Pull original message data from Extract Message (not $input, which is the auth filter output)\nconst msg = $('Extract Message').first().json;\nconst authRow = $input.first().json;\n\nconst telegramUserId = String(msg.from_id || '');\nconst hasMatch = authRow && (authRow['Admin ID'] || authRow['Name']);\nconst isAuthorized = hasMatch &&\n  (String(authRow['Telegram User ID'] || '') === telegramUserId ||\n   String(authRow['Telegram Chat ID'] || '') === telegramUserId);\n\nreturn {\n  json: {\n    is_authorized: isAuthorized,\n    telegram_user_id: telegramUserId,\n    chat_id: String(msg.chat_id || ''),\n    message_text: msg.message_text || '',\n    first_name: msg.first_name || '',\n    admin_name: isAuthorized ? (authRow['Name'] || 'Admin') : '',\n    admin_role: isAuthorized ? (authRow['Role'] || 'staff') : '',\n  }\n};\n"
      }
    },
    {
      "id": "94f814f1-0564-4907-8bf2-3f5a725f92e7",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_authorized }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "c7b34007-b723-42e4-a2c6-4f16bbe5e1a2",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        400
      ],
      "parameters": {
        "jsCode": "\n// Parse /command and arguments from message text\nconst data = $input.first().json;\nconst text = (data.message_text || '').trim();\n\nlet command = '';\nlet args = '';\nlet argParts = [];\n\nif (text.startsWith('/')) {\n  const spaceIdx = text.indexOf(' ');\n  if (spaceIdx > 0) {\n    command = text.substring(1, spaceIdx).toLowerCase();\n    args = text.substring(spaceIdx + 1).trim();\n    argParts = args.split(/\\s+/);\n  } else {\n    command = text.substring(1).toLowerCase();\n  }\n} else {\n  command = 'unknown';\n  args = text;\n}\n\nreturn {\n  json: {\n    ...data,\n    command: command,\n    args: args,\n    arg_parts: argParts,\n    arg1: argParts[0] || '',\n    arg2: argParts[1] || '',\n    arg3: argParts[2] || '',\n  }\n};\n"
      }
    },
    {
      "id": "0706fd7b-0f1d-4ab6-a815-5b5c03d84ee3",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1760,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "newleads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "hotleads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "unassigned",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "appointments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "agentload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "exceptions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "reassign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "senddocs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "2edbd3f5-c055-44fb-a525-97fe565f7dea",
      "name": "Handle Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -200
      ],
      "parameters": {
        "jsCode": "\n// Build /help response\nconst data = $input.first().json;\n\nconst helpText = `<b>RE Operations Command Hub</b>\n\n<b>Dashboard:</b>\n/today - Today's summary (leads, appointments, deals)\n/status - System health overview\n\n<b>Leads:</b>\n/newleads - New leads (last 24h)\n/hotleads - Hot-tier leads requiring attention\n/unassigned - Unassigned leads\n/lead [id] - View specific lead details\n/search [query] - Search leads/properties\n\n<b>Agents:</b>\n/agentload - Agent workload overview\n/reassign [lead_id] [agent_id] - Reassign a lead\n/pause [agent_id] - Pause agent (set unavailable)\n/resume [agent_id] - Resume agent (set available)\n\n<b>Operations:</b>\n/appointments [date] - View appointments\n/exceptions - Open exceptions/escalations\n/approve [id] - Approve pending action\n\n<b>Documents:</b>\n/senddocs [lead_id] [buyer|seller] - Send document pack\n\n<b>Other:</b>\n/help - This message`;\n\nreturn {\n  json: {\n    response: helpText,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "5e31a18d-9ea3-4e36-985f-74b9a74aa424",
      "name": "Read Leads Today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        -50
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "89a8c68d-b47f-4fa6-8ab3-4014a4703ce3",
      "name": "Today Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -50
      ],
      "parameters": {
        "jsCode": "\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => {\n  const d = new Date(r['Created At']);\n  return !isNaN(d.getTime()) && d > cutoff;\n});\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "0cdf34e5-0fca-4e88-a355-9e6d0492e46d",
      "name": "Read Appointments Today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        -50
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "1815964b-be9d-470f-b1f1-1df2d7743817",
      "name": "Today Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -50
      ],
      "parameters": {
        "jsCode": "\nconst today = new Date().toDateString();\nconst rows = $input.all().map(i => i.json).filter(r => r['Appointment ID']);\nconst matches = rows.filter(r => new Date(r['Start Time']).toDateString() === today);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "7a889a4d-ad75-4039-b940-13459e96ecab",
      "name": "Read Exceptions Today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3080,
        -50
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Exceptions",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "4112c98e-5dd5-4297-8773-2dfff47bce1b",
      "name": "Open Exceptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        -50
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Exception ID']);\nconst matches = rows.filter(r => r['Status'] === 'Open');\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "c63316c9-93c9-4ae3-803d-d9a644fef42a",
      "name": "Handle Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -50
      ],
      "parameters": {
        "jsCode": "\n// Build /today summary by fetching data from upstream nodes\nconst data = $input.first().json;\nconst todayLeads = $('Today Leads').all();\nconst todayAppts = $('Today Appointments').all();\nconst openExceptions = $('Open Exceptions').all();\n\nconst leadsCount = todayLeads.length;\nconst apptsCount = todayAppts.length;\nconst exceptionsCount = openExceptions.length;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nlet leadsList = '';\nif (leadsCount > 0) {\n  leadsList = todayLeads.slice(0, 5).map(l => {\n    const ld = l.json;\n    return `  - ${ld.client_name || 'Unknown'} (${ld.tier || 'Unscored'}) via ${ld.channel || 'unknown'}`;\n  }).join('\\n');\n}\n\nlet apptsList = '';\nif (apptsCount > 0) {\n  apptsList = todayAppts.slice(0, 5).map(a => {\n    const ad = a.json;\n    return `  - ${ad.client_name || 'Unknown'} @ ${ad.event_start || 'TBD'} (${ad.agent_name || 'Unassigned'})`;\n  }).join('\\n');\n}\n\nconst summary = `<b>Daily Summary - ${dateStr}</b>\n\n<b>Leads Today:</b> ${leadsCount}\n${leadsList || '  No new leads'}\n\n<b>Appointments:</b> ${apptsCount}\n${apptsList || '  No appointments scheduled'}\n\n<b>Open Exceptions:</b> ${exceptionsCount}\n${exceptionsCount > 0 ? '  Use /exceptions for details' : '  All clear'}`;\n\nreturn {\n  json: {\n    response: summary,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "8e4629e8-3f49-45a0-9d3c-e92311828b4c",
      "name": "Read Leads Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "ba90fcc2-0b62-44fb-a737-a70b42735e3f",
      "name": "Search Lead By ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        100
      ],
      "parameters": {
        "jsCode": "\nconst targetId = $('Parse Command').first().json.arg1;\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => r['Lead ID'] === targetId);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "954d5de3-3f18-4517-bc01-44d34e522579",
      "name": "Handle Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        100
      ],
      "parameters": {
        "jsCode": "\n// Build /lead [id] response\nconst data = $input.first().json;\nconst leadResults = $('Search Lead By ID').all();\n\nif (leadResults.length === 0 || !leadResults[0].json.lead_id) {\n  return { json: {\n    response: `No lead found with ID: ${data.arg1 || 'none'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nconst lead = leadResults[0].json;\n\nconst detail = `<b>Lead: ${lead.client_name || 'Unknown'}</b>\n\n<b>ID:</b> ${lead.lead_id || lead.id || ''}\n<b>Status:</b> ${lead.status || 'Unknown'}\n<b>Tier:</b> ${lead.tier || 'Unscored'}\n<b>Score:</b> ${lead.lead_score || 'N/A'}\n<b>Phone:</b> ${lead.phone_normalized || lead.phone || 'N/A'}\n<b>Email:</b> ${lead.email || 'N/A'}\n<b>Channel:</b> ${lead.channel || 'N/A'}\n<b>Area:</b> ${lead.area || 'Not specified'}\n<b>Budget:</b> ${lead.budget || 'Not specified'}\n<b>Agent:</b> ${lead.assigned_agent || 'Unassigned'}\n<b>Last Contact:</b> ${lead.last_contact || 'N/A'}\n<b>Created:</b> ${lead.created_at || 'N/A'}`;\n\nreturn {\n  json: {\n    response: detail,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "f7dbebd3-1b74-4d45-af9f-f7dfaa079621",
      "name": "Read Leads Newleads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        250
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "f93e5999-becb-4cc7-9555-b8560bd02c4b",
      "name": "New Leads 24h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        250
      ],
      "parameters": {
        "jsCode": "\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => {\n  const d = new Date(r['Created At']);\n  return !isNaN(d.getTime()) && d > cutoff;\n});\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "8499d9e9-d188-430d-b4a4-858e5a00a019",
      "name": "Handle Newleads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        250
      ],
      "parameters": {
        "jsCode": "\n// Build /newleads response\nconst leads = $('New Leads 24h').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'No new leads in the last 24 hours.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>New Leads (Last 24h): ${leads.length}</b>\\n`;\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (${lead.tier || 'Unscored'})`;\n  report += `\\n  Via: ${lead.channel || 'unknown'} | Area: ${lead.area || 'N/A'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "fc6b3ce1-c94c-4fbd-aa3e-af43506ea31e",
      "name": "Read Leads Hotleads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "97513fbc-0e19-45ef-8120-60461bcbcfbf",
      "name": "Hot Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        400
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst active = ['New', 'Active', 'Contacted'];\nconst matches = rows.filter(r => r['Score'] >= 80 && active.includes(r['Status']));\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "1fcc333d-6dc6-441e-9b46-c40d8020139f",
      "name": "Handle Hotleads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        400
      ],
      "parameters": {
        "jsCode": "\n// Build /hotleads response\nconst leads = $('Hot Leads').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'No hot leads at the moment.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = '<b>Hot Leads (Score >= 80)</b>\\n';\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (Score: ${lead.lead_score || 'N/A'})`;\n  report += `\\n  ${lead.area || 'No area'} | Budget: ${lead.budget || 'N/A'} | Agent: ${lead.assigned_agent || 'Unassigned'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "4018ce36-714b-4f48-bc29-d750c702bde7",
      "name": "Read Leads Unassigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        550
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "921b516b-3949-4e75-93cf-69ca9d73b5eb",
      "name": "Unassigned Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        550
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => !r['Assigned Agent'] || r['Assigned Agent'] === '');\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "0e6d6f73-44eb-4bb3-b536-4db11379c3e8",
      "name": "Handle Unassigned",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        550
      ],
      "parameters": {
        "jsCode": "\n// Build /unassigned response\nconst leads = $('Unassigned Leads').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'All leads are currently assigned.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>Unassigned Leads: ${leads.length}</b>\\n`;\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (${lead.tier || 'Unscored'})`;\n  report += `\\n  ID: ${lead.lead_id || lead.id || ''} | Area: ${lead.area || 'N/A'}`;\n}\nreport += '\\n\\nUse /reassign [lead_id] [agent_id] to assign';\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "903ae0b3-bde4-40f5-a46f-8a63e8edcdc9",
      "name": "Read Appointments Cmd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "f33552cd-0e5b-4713-bf80-d547f66f9798",
      "name": "Search Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        700
      ],
      "parameters": {
        "jsCode": "\nconst argDate = $('Parse Command').first().json.arg1;\nconst target = argDate ? new Date(argDate).toDateString() : new Date().toDateString();\nconst rows = $input.all().map(i => i.json).filter(r => r['Appointment ID']);\nconst matches = rows.filter(r => new Date(r['Start Time']).toDateString() === target);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "a02c9b63-e513-46b1-be6a-039957d5af8a",
      "name": "Handle Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        700
      ],
      "parameters": {
        "jsCode": "\n// Build /appointments [date] response\nconst data = $input.first().json;\nconst appts = $('Search Appointments').all();\n\nif (appts.length === 0) {\n  return { json: {\n    response: `No appointments found for ${data.arg1 || 'today'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nlet list = `<b>Appointments - ${data.arg1 || 'Today'}</b>\\n`;\nfor (const apt of appts.slice(0, 10)) {\n  const a = apt.json;\n  list += `\\n- ${a.client_name || 'Unknown'} @ ${a.event_start || 'TBD'}`;\n  list += `\\n  Agent: ${a.agent_name || 'Unassigned'} | ${a.viewing_type || 'Viewing'} | ${a.status || ''}`;\n}\n\nreturn {\n  json: {\n    response: list,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "2fdcefc2-2b13-4790-ae1b-848a9120fe27",
      "name": "Read Agents Agentload",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        850
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agents",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "bd4d8025-b4a7-4718-b525-b894d230b000",
      "name": "Fetch All Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        850
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Agent Name']);\nconst matches = rows.filter(r => String(r['Is Active']).toUpperCase() === 'TRUE');\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "b683a3b2-4d25-4c60-80e2-1e1ba6498c1a",
      "name": "Handle Agentload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        850
      ],
      "parameters": {
        "jsCode": "\n// Build /agentload response\nconst agents = $('Fetch All Agents').all();\n\nif (agents.length === 0) {\n  return { json: {\n    response: 'No agents found in the system.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = '<b>Agent Workload Overview</b>\\n';\nfor (const agentItem of agents) {\n  const agent = agentItem.json;\n  const name = agent.agent_name || agent.Name || 'Unknown';\n  const active = agent.active_deals || 0;\n  const max = agent.max_deals || 10;\n  const available = agent.Is_Available !== false;\n  const status = available ? 'Available' : 'Paused';\n  const bar = '|'.repeat(Math.round(active / max * 10)).padEnd(10, '.');\n\n  report += `\\n<b>${name}</b> [${status}]`;\n  report += `\\n  Deals: ${active}/${max} [${bar}]`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "55c17553-e075-452c-a495-109a898b58d4",
      "name": "Read Exceptions Cmd",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        1000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Exceptions",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "29ba2d0a-0118-487a-b6d0-dc91528f9acb",
      "name": "Open Exceptions Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        1000
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Exception ID']);\nconst matches = rows.filter(r => r['Status'] === 'Open' || r['Status'] === 'Acknowledged');\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "0bc80a2d-35a7-4270-9cd0-8ff6b944d077",
      "name": "Handle Exceptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1000
      ],
      "parameters": {
        "jsCode": "\n// Build /exceptions response\nconst exceptions = $('Open Exceptions Data').all();\n\nif (exceptions.length === 0) {\n  return { json: {\n    response: 'No open exceptions. System running normally.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>Open Exceptions: ${exceptions.length}</b>\\n`;\nfor (const item of exceptions.slice(0, 10)) {\n  const exc = item.json;\n  report += `\\n- [${(exc.severity || 'medium').toUpperCase()}] ${exc.exception_type || 'Unknown'}`;\n  report += `\\n  ${exc.description || 'No description'}`;\n  report += `\\n  Entity: ${exc.entity_id || 'N/A'} | Created: ${exc.created_at || 'N/A'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "9f3b4cd1-654d-4b65-8801-8bacfd3449f0",
      "name": "Read Leads Search",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        1150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "cd0848f6-23c3-4f81-ad28-a9907038a86e",
      "name": "Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        1150
      ],
      "parameters": {
        "jsCode": "\nconst query = $('Parse Command').first().json.args.toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r => {\n  const name = (r['Client Name'] || '').toLowerCase();\n  const area = (r['Area Preference'] || '').toLowerCase();\n  const email = (r['Email'] || '').toLowerCase();\n  return name.includes(query) || area.includes(query) || email.includes(query);\n});\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "5d869998-3ef7-4c98-a6b7-4feaf1765d15",
      "name": "Handle Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1150
      ],
      "parameters": {
        "jsCode": "\n// Build /search [query] response\nconst data = $input.first().json;\nconst results = $('Search Results').all();\n\nif (results.length === 0) {\n  return { json: {\n    response: `No results found for: ${data.args || 'empty query'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nlet report = `<b>Search Results for \"${data.args}\":</b>\\n`;\nfor (const item of results.slice(0, 10)) {\n  const r = item.json;\n  report += `\\n- <b>${r.client_name || r.Name || 'Unknown'}</b>`;\n  report += ` (${r.lead_id || r.id || ''})`;\n  report += `\\n  ${r.area || ''} | ${r.status || ''} | ${r.tier || ''}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "60eba50d-6e6b-4155-8fe4-bf9a897e147f",
      "name": "Handle Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1300
      ],
      "parameters": {
        "jsCode": "\n// Build /status response with system health\nconst data = $input.first().json;\nconst now = new Date();\nconst uptime = 'Running';\n\nconst status = `<b>System Status</b>\n\n<b>Time:</b> ${now.toISOString()} (SAST: ${new Date(now.getTime() + 2*60*60*1000).toISOString().substring(11, 16)})\n<b>Status:</b> ${uptime}\n<b>Workflows:</b> RE-01 through RE-18\n\n<b>Active Triggers:</b>\n  - RE-01: WhatsApp Intake\n  - RE-07: Email Intake\n  - RE-09: Telegram Command Hub\n  - RE-11: Daily Summary (07:00 SAST)\n  - RE-13: Stale Lead Follow-up (09:00 SAST)\n  - RE-14: Escalation Engine (every 15 min)\n  - RE-17: Orchestrator Monitor (every 15 min)\n  - RE-12: Agent Performance (Mon 06:00 SAST)\n\nUse /exceptions to check for issues.`;\n\nreturn {\n  json: {\n    response: status,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "2934461a-5f5a-4278-94d2-f738ccb026d3",
      "name": "Handle Reassign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1450
      ],
      "parameters": {
        "jsCode": "\n// Handle /reassign [lead_id] [agent_id]\nconst data = $input.first().json;\nconst leadId = data.arg1 || '';\nconst agentId = data.arg2 || '';\n\nif (!leadId || !agentId) {\n  return { json: {\n    response: 'Usage: /reassign [lead_id] [agent_id]\\nExample: /reassign LEAD-ABC123 AGENT-001',\n    chat_id: data.chat_id,\n    do_reassign: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `Reassigning lead ${leadId} to agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_reassign: true,\n    lead_id: leadId,\n    agent_id: agentId,\n  }\n};\n"
      }
    },
    {
      "id": "5a460e19-e50f-4291-b0dc-8c985d055ff4",
      "name": "Do Reassign?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        1450
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_reassign }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "1e6195db-d571-4d9b-9f11-091ba71586fd",
      "name": "Reassign Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        1450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Handle Reassign').first().json.lead_id }}",
            "Assigned Agent": "={{ $('Handle Reassign').first().json.agent_id }}"
          },
          "matchingColumns": [
            "Lead ID"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "type": "string",
              "display": true,
              "displayName": "Lead ID"
            },
            {
              "id": "Assigned Agent",
              "type": "string",
              "display": true,
              "displayName": "Assigned Agent"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "85d27612-1e60-4a25-a76e-8c6be33374d2",
      "name": "Handle Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1600
      ],
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nif (!data.arg1) {\n  return { json: { response: 'Usage: /approve [id]', chat_id: data.chat_id } };\n}\nreturn { json: {\n  response: `Approved: ${data.arg1}`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "e4ae051f-5e7c-4fbe-9bef-e026200b425b",
      "name": "Handle Pause",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1750
      ],
      "parameters": {
        "jsCode": "\n// Handle /pause or /resume [agent_id]\nconst data = $input.first().json;\nconst agentId = data.arg1 || '';\nconst action = data.command; // 'pause' or 'resume'\n\nif (!agentId) {\n  return { json: {\n    response: `Usage: /${action} [agent_id]\\nExample: /${action} AGENT-001`,\n    chat_id: data.chat_id,\n    do_update: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `${action === 'pause' ? 'Pausing' : 'Resuming'} agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_update: true,\n    agent_id: agentId,\n    new_availability: action === 'resume',\n  }\n};\n"
      }
    },
    {
      "id": "1f01ebc8-2946-4f21-a35b-6978bab4bc40",
      "name": "Do Pause?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        1750
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_update }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "82af0244-a4eb-4ade-a5c5-e1a8de435311",
      "name": "Pause Agent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        1750
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agents",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent ID": "={{ $('Handle Pause').first().json.agent_id }}",
            "Is Active": "=false"
          },
          "matchingColumns": [
            "Agent ID"
          ],
          "schema": [
            {
              "id": "Agent ID",
              "type": "string",
              "display": true,
              "displayName": "Agent ID"
            },
            {
              "id": "Is Active",
              "type": "string",
              "display": true,
              "displayName": "Is Active"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "143dd664-af7e-40ae-8bcb-7b7842f41a27",
      "name": "Handle Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1900
      ],
      "parameters": {
        "jsCode": "\n// Handle /pause or /resume [agent_id]\nconst data = $input.first().json;\nconst agentId = data.arg1 || '';\nconst action = data.command; // 'pause' or 'resume'\n\nif (!agentId) {\n  return { json: {\n    response: `Usage: /${action} [agent_id]\\nExample: /${action} AGENT-001`,\n    chat_id: data.chat_id,\n    do_update: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `${action === 'pause' ? 'Pausing' : 'Resuming'} agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_update: true,\n    agent_id: agentId,\n    new_availability: action === 'resume',\n  }\n};\n"
      }
    },
    {
      "id": "2f033793-df9d-48a2-9cff-4defe938504d",
      "name": "Do Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        1900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_update }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "7dcd67a7-cf9c-4c0d-972a-1f5889f98875",
      "name": "Resume Agent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        1900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agents",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent ID": "={{ $('Handle Resume').first().json.agent_id }}",
            "Is Active": "=true"
          },
          "matchingColumns": [
            "Agent ID"
          ],
          "schema": [
            {
              "id": "Agent ID",
              "type": "string",
              "display": true,
              "displayName": "Agent ID"
            },
            {
              "id": "Is Active",
              "type": "string",
              "display": true,
              "displayName": "Is Active"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "63a30891-5749-4c2a-8be0-8ec832b52c89",
      "name": "Handle Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        2050
      ],
      "parameters": {
        "jsCode": "\n// Handle unknown command\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    response: `Unknown command: /${data.command || '?'}\\n\\nUse /help to see available commands.`,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "71954588-a09b-4f01-8e18-aaf4922ca92a",
      "name": "Unauthorized Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        600
      ],
      "parameters": {
        "jsCode": "\nreturn {\n  json: {\n    response: 'Unauthorized. Contact admin for access.',\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "027dd91b-6eb1-415d-a1ab-ec228715d5e6",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3740,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "37DtsPS5RQYxY2i1",
          "name": "Telegram RE Operations Bot"
        }
      },
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "bb0a1f7a-711c-45b4-b08d-828008064c7f",
      "name": "Reassign Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1450
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Reassign').first().json;\nreturn { json: {\n  response: `Lead ${data.lead_id} reassigned to agent ${data.agent_id}.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "be6fe462-f81f-4921-9fcd-ba20d8ffa73a",
      "name": "Pause Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1750
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Pause').first().json;\nreturn { json: {\n  response: `Agent ${data.agent_id} has been paused.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "c1490918-bf8c-4e98-90c5-45ebeb3867a7",
      "name": "Resume Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1900
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Resume').first().json;\nreturn { json: {\n  response: `Agent ${data.agent_id} has been resumed.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "f65bd344-b83e-4bdd-aee1-f399bb222212",
      "name": "Handle Senddocs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        2200
      ],
      "parameters": {
        "jsCode": "\n// Handle /senddocs [lead_id] [buyer|seller]\nconst data = $input.first().json;\nconst leadId = data.arg1 || '';\nconst packType = (data.arg2 || '').toLowerCase();\n\nif (!leadId) {\n  return { json: {\n    response: '<b>Usage:</b> /senddocs [lead_id] [buyer|seller]\\n\\n' +\n              '<b>Example:</b> /senddocs LEAD-ABC123 buyer\\n\\n' +\n              'Pack types: buyer, seller, tenant, landlord',\n    chat_id: data.chat_id,\n    trigger_re19: false,\n  }};\n}\n\nconst validTypes = ['buyer', 'seller', 'tenant', 'landlord'];\nconst resolvedType = validTypes.includes(packType) ? packType : 'buyer';\n\nif (!packType) {\n  return { json: {\n    response: `Sending <b>buyer</b> document pack to lead <b>${leadId}</b>...\\n(Defaulted to buyer. Use /senddocs ${leadId} seller for seller pack)`,\n    chat_id: data.chat_id,\n    trigger_re19: true,\n    lead_id: leadId,\n    pack_type: resolvedType,\n    source: 're09',\n  }};\n}\n\nreturn { json: {\n  response: `Sending <b>${resolvedType}</b> document pack to lead <b>${leadId}</b>...`,\n  chat_id: data.chat_id,\n  trigger_re19: true,\n  lead_id: leadId,\n  pack_type: resolvedType,\n  source: 're09',\n}};\n"
      }
    },
    {
      "id": "b0d50b21-a8f9-4fce-9783-907e1647514b",
      "name": "Do Senddocs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        2200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.trigger_re19 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "57201e9f-0448-4836-a7d7-313cff6a9198",
      "name": "Call RE-19 Docs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2640,
        2100
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE19_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "c1968431-0b1e-4f63-a6c0-37b97dcfa2df",
      "name": "Senddocs Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        2100
      ],
      "parameters": {
        "jsCode": "\nreturn { json: {\n  response: 'Document pack sent successfully.',\n  chat_id: $('Handle Senddocs').first().json.chat_id,\n}};\n"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Read Admin Staff Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Admin Staff Auth": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Verify Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Auth": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Handle Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Today",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Newleads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Hotleads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Unassigned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Appointments Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Agents Agentload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Exceptions Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Leads Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Reassign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Pause",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Senddocs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Help": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Today": {
      "main": [
        [
          {
            "node": "Today Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today Leads": {
      "main": [
        [
          {
            "node": "Read Appointments Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments Today": {
      "main": [
        [
          {
            "node": "Today Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today Appointments": {
      "main": [
        [
          {
            "node": "Read Exceptions Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Exceptions Today": {
      "main": [
        [
          {
            "node": "Open Exceptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Exceptions": {
      "main": [
        [
          {
            "node": "Handle Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Today": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Lead": {
      "main": [
        [
          {
            "node": "Search Lead By ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead By ID": {
      "main": [
        [
          {
            "node": "Handle Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Lead": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Newleads": {
      "main": [
        [
          {
            "node": "New Leads 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Leads 24h": {
      "main": [
        [
          {
            "node": "Handle Newleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Newleads": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Hotleads": {
      "main": [
        [
          {
            "node": "Hot Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Leads": {
      "main": [
        [
          {
            "node": "Handle Hotleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Hotleads": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Unassigned": {
      "main": [
        [
          {
            "node": "Unassigned Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unassigned Leads": {
      "main": [
        [
          {
            "node": "Handle Unassigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unassigned": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments Cmd": {
      "main": [
        [
          {
            "node": "Search Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Appointments": {
      "main": [
        [
          {
            "node": "Handle Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Appointments": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Agents Agentload": {
      "main": [
        [
          {
            "node": "Fetch All Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Agents": {
      "main": [
        [
          {
            "node": "Handle Agentload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Agentload": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Exceptions Cmd": {
      "main": [
        [
          {
            "node": "Open Exceptions Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Exceptions Data": {
      "main": [
        [
          {
            "node": "Handle Exceptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Exceptions": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Search": {
      "main": [
        [
          {
            "node": "Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Results": {
      "main": [
        [
          {
            "node": "Handle Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Search": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Status": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Reassign": {
      "main": [
        [
          {
            "node": "Do Reassign?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Reassign?": {
      "main": [
        [
          {
            "node": "Reassign Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reassign Lead": {
      "main": [
        [
          {
            "node": "Reassign Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reassign Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Approve": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Pause": {
      "main": [
        [
          {
            "node": "Do Pause?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Pause?": {
      "main": [
        [
          {
            "node": "Pause Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Agent": {
      "main": [
        [
          {
            "node": "Pause Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Resume": {
      "main": [
        [
          {
            "node": "Do Resume?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Resume?": {
      "main": [
        [
          {
            "node": "Resume Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Agent": {
      "main": [
        [
          {
            "node": "Resume Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Senddocs": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Do Senddocs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Senddocs?": {
      "main": [
        [
          {
            "node": "Call RE-19 Docs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call RE-19 Docs": {
      "main": [
        [
          {
            "node": "Senddocs Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senddocs Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unknown": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "telegram",
    "command-hub",
    "trigger"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:38:06.575739"
  }
}