workflows/re-operations/re09_telegram_command_hub.json
{
  "name": "RE-09 Telegram Command Hub",
  "nodes": [
    {
      "id": "b1d13847-8112-4c25-b987-c40e0be18c6f",
      "name": "Note RE-09",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-09: Telegram Command Hub\n\nMain user-facing interface. Authorized users\nsend /commands to manage the RE operations system.\nCommands: /help /today /lead /newleads /hotleads\n/unassigned /appointments /agentload /exceptions\n/search /status /reassign /approve /pause /resume",
        "width": 340,
        "height": 240,
        "color": 6
      }
    },
    {
      "id": "e258b7b0-4b34-456a-aa9a-1bba8199db2a",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        400
      ],
      "webhookId": "328cc38e-61d3-4d2b-ac17-3cfbfa7e02c0",
      "credentials": {
        "telegramApi": {
          "id": "37DtsPS5RQYxY2i1",
          "name": "Telegram RE Operations Bot"
        }
      },
      "parameters": {
        "updates": [
          "message"
        ]
      }
    },
    {
      "id": "7162f4de-45d7-4677-8af4-ba23345ec93f",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "parameters": {
        "jsCode": "\n// Extract Telegram message fields\nconst msg = $input.first().json;\nconst message = msg.message || msg;\n\nreturn {\n  json: {\n    from_id: String((message.from && message.from.id) || ''),\n    chat_id: String((message.chat && message.chat.id) || ''),\n    first_name: (message.from && message.from.first_name) || '',\n    message_text: message.text || '',\n  }\n};\n"
      }
    },
    {
      "id": "7b4b1e9e-870c-4d96-8653-db94cbdf2d6a",
      "name": "Check Auth",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        660,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblmktJaE9V3pFRoa",
          "mode": "id"
        },
        "filterByFormula": "=OR({telegram_user_id} = '{{ $json.from_id }}', {telegram_chat_id} = '{{ $json.from_id }}')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "3b0bcc5c-7c29-4fe0-85fb-45d19747cc4a",
      "name": "Verify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "parameters": {
        "jsCode": "\n// Verify Telegram user is authorized (check Admin Staff table results)\nconst input = $input.first().json;\nconst authResults = $('Check Auth').all();\n\nconst telegramUserId = String(input.from_id || '');\nconst isAuthorized = authResults.length > 0\n  && authResults[0].json\n  && String(authResults[0].json.telegram_user_id || authResults[0].json.telegram_chat_id || '') === telegramUserId;\n\nreturn {\n  json: {\n    is_authorized: isAuthorized,\n    telegram_user_id: telegramUserId,\n    chat_id: String(input.chat_id || ''),\n    message_text: input.message_text || '',\n    first_name: input.first_name || '',\n    admin_name: isAuthorized ? (authResults[0].json.name || authResults[0].json.Name || 'Admin') : '',\n    admin_role: isAuthorized ? (authResults[0].json.role || 'staff') : '',\n  }\n};\n"
      }
    },
    {
      "id": "e25c1a10-50dd-4d26-9718-ae9ad3845b73",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_authorized }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "40dd288c-24cf-4c04-a812-4256b9a39d6e",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ],
      "parameters": {
        "jsCode": "\n// Parse /command and arguments from message text\nconst data = $input.first().json;\nconst text = (data.message_text || '').trim();\n\nlet command = '';\nlet args = '';\nlet argParts = [];\n\nif (text.startsWith('/')) {\n  const spaceIdx = text.indexOf(' ');\n  if (spaceIdx > 0) {\n    command = text.substring(1, spaceIdx).toLowerCase();\n    args = text.substring(spaceIdx + 1).trim();\n    argParts = args.split(/\\s+/);\n  } else {\n    command = text.substring(1).toLowerCase();\n  }\n} else {\n  command = 'unknown';\n  args = text;\n}\n\nreturn {\n  json: {\n    ...data,\n    command: command,\n    args: args,\n    arg_parts: argParts,\n    arg1: argParts[0] || '',\n    arg2: argParts[1] || '',\n    arg3: argParts[2] || '',\n  }\n};\n"
      }
    },
    {
      "id": "d2b29fb6-1a26-429b-8676-87737d2b794c",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1540,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "newleads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "hotleads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "unassigned",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "appointments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "agentload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "exceptions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "reassign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "senddocs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "b18f7889-7698-4637-bea9-4b37c212e45a",
      "name": "Handle Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -200
      ],
      "parameters": {
        "jsCode": "\n// Build /help response\nconst data = $input.first().json;\n\nconst helpText = `<b>RE Operations Command Hub</b>\n\n<b>Dashboard:</b>\n/today - Today's summary (leads, appointments, deals)\n/status - System health overview\n\n<b>Leads:</b>\n/newleads - New leads (last 24h)\n/hotleads - Hot-tier leads requiring attention\n/unassigned - Unassigned leads\n/lead [id] - View specific lead details\n/search [query] - Search leads/properties\n\n<b>Agents:</b>\n/agentload - Agent workload overview\n/reassign [lead_id] [agent_id] - Reassign a lead\n/pause [agent_id] - Pause agent (set unavailable)\n/resume [agent_id] - Resume agent (set available)\n\n<b>Operations:</b>\n/appointments [date] - View appointments\n/exceptions - Open exceptions/escalations\n/approve [id] - Approve pending action\n\n<b>Documents:</b>\n/senddocs [lead_id] [buyer|seller] - Send document pack\n\n<b>Other:</b>\n/help - This message`;\n\nreturn {\n  json: {\n    response: helpText,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "f3e83c81-a08f-408d-9767-fbf7b5b5906b",
      "name": "Today Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        -50
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=IS_AFTER({created_at}, DATEADD(TODAY(), -1, 'days'))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "7fa10da3-f753-43a2-a61b-0881a27bce00",
      "name": "Today Appointments",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2200,
        -50
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQ72B5XSgRLdKIc",
          "mode": "id"
        },
        "filterByFormula": "=IS_SAME({event_start}, TODAY(), 'day')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "c212c976-1c9a-469e-8099-4376e9cf27f7",
      "name": "Open Exceptions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        -50
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblDunXJFQr0elXon",
          "mode": "id"
        },
        "filterByFormula": "=({status} = 'Open')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "d86c71ec-67e8-4163-82cd-abf2541e02f7",
      "name": "Handle Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -50
      ],
      "parameters": {
        "jsCode": "\n// Build /today summary by fetching data from upstream nodes\nconst data = $input.first().json;\nconst todayLeads = $('Today Leads').all();\nconst todayAppts = $('Today Appointments').all();\nconst openExceptions = $('Open Exceptions').all();\n\nconst leadsCount = todayLeads.length;\nconst apptsCount = todayAppts.length;\nconst exceptionsCount = openExceptions.length;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nlet leadsList = '';\nif (leadsCount > 0) {\n  leadsList = todayLeads.slice(0, 5).map(l => {\n    const ld = l.json;\n    return `  - ${ld.client_name || 'Unknown'} (${ld.tier || 'Unscored'}) via ${ld.channel || 'unknown'}`;\n  }).join('\\n');\n}\n\nlet apptsList = '';\nif (apptsCount > 0) {\n  apptsList = todayAppts.slice(0, 5).map(a => {\n    const ad = a.json;\n    return `  - ${ad.client_name || 'Unknown'} @ ${ad.event_start || 'TBD'} (${ad.agent_name || 'Unassigned'})`;\n  }).join('\\n');\n}\n\nconst summary = `<b>Daily Summary - ${dateStr}</b>\n\n<b>Leads Today:</b> ${leadsCount}\n${leadsList || '  No new leads'}\n\n<b>Appointments:</b> ${apptsCount}\n${apptsList || '  No appointments scheduled'}\n\n<b>Open Exceptions:</b> ${exceptionsCount}\n${exceptionsCount > 0 ? '  Use /exceptions for details' : '  All clear'}`;\n\nreturn {\n  json: {\n    response: summary,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "0108005d-4d96-4b7f-9072-d1df28ed3e72",
      "name": "Search Lead By ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        100
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=({lead_id} = '{{ $('Parse Command').first().json.arg1 }}')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "2b77bc48-94b8-450f-85ab-237d16cc8be6",
      "name": "Handle Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ],
      "parameters": {
        "jsCode": "\n// Build /lead [id] response\nconst data = $input.first().json;\nconst leadResults = $('Search Lead By ID').all();\n\nif (leadResults.length === 0 || !leadResults[0].json.lead_id) {\n  return { json: {\n    response: `No lead found with ID: ${data.arg1 || 'none'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nconst lead = leadResults[0].json;\n\nconst detail = `<b>Lead: ${lead.client_name || 'Unknown'}</b>\n\n<b>ID:</b> ${lead.lead_id || lead.id || ''}\n<b>Status:</b> ${lead.status || 'Unknown'}\n<b>Tier:</b> ${lead.tier || 'Unscored'}\n<b>Score:</b> ${lead.lead_score || 'N/A'}\n<b>Phone:</b> ${lead.phone_normalized || lead.phone || 'N/A'}\n<b>Email:</b> ${lead.email || 'N/A'}\n<b>Channel:</b> ${lead.channel || 'N/A'}\n<b>Area:</b> ${lead.area || 'Not specified'}\n<b>Budget:</b> ${lead.budget || 'Not specified'}\n<b>Agent:</b> ${lead.assigned_agent || 'Unassigned'}\n<b>Last Contact:</b> ${lead.last_contact || 'N/A'}\n<b>Created:</b> ${lead.created_at || 'N/A'}`;\n\nreturn {\n  json: {\n    response: detail,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "8bf717fe-62d4-46c4-9b5f-2a4f347fe72d",
      "name": "New Leads 24h",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        250
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=IS_AFTER({created_at}, DATEADD(NOW(), -24, 'hours'))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "35449630-e674-4bd8-b6b9-0ff626aca6d9",
      "name": "Handle Newleads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        250
      ],
      "parameters": {
        "jsCode": "\n// Build /newleads response\nconst leads = $('New Leads 24h').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'No new leads in the last 24 hours.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>New Leads (Last 24h): ${leads.length}</b>\\n`;\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (${lead.tier || 'Unscored'})`;\n  report += `\\n  Via: ${lead.channel || 'unknown'} | Area: ${lead.area || 'N/A'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "8068c008-bf1b-4b8f-a6da-85f0c303da60",
      "name": "Hot Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=AND({tier} = 'Hot', OR({status} = 'New', {status} = 'Active', {status} = 'Contacted'))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "994c7a8e-2c98-40be-b1fe-66f8d3d250dc",
      "name": "Handle Hotleads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "parameters": {
        "jsCode": "\n// Build /hotleads response\nconst leads = $('Hot Leads').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'No hot leads at the moment.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = '<b>Hot Leads (Score >= 80)</b>\\n';\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (Score: ${lead.lead_score || 'N/A'})`;\n  report += `\\n  ${lead.area || 'No area'} | Budget: ${lead.budget || 'N/A'} | Agent: ${lead.assigned_agent || 'Unassigned'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "9fc3b168-f670-4ca7-b152-578f79023e8b",
      "name": "Unassigned Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        550
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=OR({assigned_agent} = '', {assigned_agent} = BLANK())",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "4e68de9b-7b4c-4541-a66d-db6919b9f9a2",
      "name": "Handle Unassigned",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        550
      ],
      "parameters": {
        "jsCode": "\n// Build /unassigned response\nconst leads = $('Unassigned Leads').all();\n\nif (leads.length === 0) {\n  return { json: {\n    response: 'All leads are currently assigned.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>Unassigned Leads: ${leads.length}</b>\\n`;\nfor (const item of leads.slice(0, 10)) {\n  const lead = item.json;\n  report += `\\n- <b>${lead.client_name || 'Unknown'}</b> (${lead.tier || 'Unscored'})`;\n  report += `\\n  ID: ${lead.lead_id || lead.id || ''} | Area: ${lead.area || 'N/A'}`;\n}\nreport += '\\n\\nUse /reassign [lead_id] [agent_id] to assign';\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "dc392966-1e31-4c9b-b1ae-56f458f8b3fe",
      "name": "Search Appointments",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        700
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQ72B5XSgRLdKIc",
          "mode": "id"
        },
        "filterByFormula": "=IS_SAME({event_start}, IF('{{ $('Parse Command').first().json.arg1 }}' = '', TODAY(), DATETIME_PARSE('{{ $('Parse Command').first().json.arg1 }}')), 'day')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "a4847d95-523e-4e75-8836-5acb930f02a1",
      "name": "Handle Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        700
      ],
      "parameters": {
        "jsCode": "\n// Build /appointments [date] response\nconst data = $input.first().json;\nconst appts = $('Search Appointments').all();\n\nif (appts.length === 0) {\n  return { json: {\n    response: `No appointments found for ${data.arg1 || 'today'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nlet list = `<b>Appointments - ${data.arg1 || 'Today'}</b>\\n`;\nfor (const apt of appts.slice(0, 10)) {\n  const a = apt.json;\n  list += `\\n- ${a.client_name || 'Unknown'} @ ${a.event_start || 'TBD'}`;\n  list += `\\n  Agent: ${a.agent_name || 'Unassigned'} | ${a.viewing_type || 'Viewing'} | ${a.status || ''}`;\n}\n\nreturn {\n  json: {\n    response: list,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "7c7d9c8e-92b5-4e88-a087-7cf1c8d48808",
      "name": "Fetch All Agents",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        850
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOIksmbzg44M514",
          "mode": "id"
        },
        "filterByFormula": "=({Is Active} = TRUE())",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "900bd3bb-d59a-4dc3-9510-d176d3ffa626",
      "name": "Handle Agentload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        850
      ],
      "parameters": {
        "jsCode": "\n// Build /agentload response\nconst agents = $('Fetch All Agents').all();\n\nif (agents.length === 0) {\n  return { json: {\n    response: 'No agents found in the system.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = '<b>Agent Workload Overview</b>\\n';\nfor (const agentItem of agents) {\n  const agent = agentItem.json;\n  const name = agent.agent_name || agent.Name || 'Unknown';\n  const active = agent.active_deals || 0;\n  const max = agent.max_deals || 10;\n  const available = agent.Is_Available !== false;\n  const status = available ? 'Available' : 'Paused';\n  const bar = '|'.repeat(Math.round(active / max * 10)).padEnd(10, '.');\n\n  report += `\\n<b>${name}</b> [${status}]`;\n  report += `\\n  Deals: ${active}/${max} [${bar}]`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "ab2113a3-1806-44c0-bdd2-410eca76c193",
      "name": "Open Exceptions Data",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        1000
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblDunXJFQr0elXon",
          "mode": "id"
        },
        "filterByFormula": "=({status} = 'Open')",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "c2825c88-1a53-42de-a552-c994683b203e",
      "name": "Handle Exceptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1000
      ],
      "parameters": {
        "jsCode": "\n// Build /exceptions response\nconst exceptions = $('Open Exceptions Data').all();\n\nif (exceptions.length === 0) {\n  return { json: {\n    response: 'No open exceptions. System running normally.',\n    chat_id: $input.first().json.chat_id,\n  }};\n}\n\nlet report = `<b>Open Exceptions: ${exceptions.length}</b>\\n`;\nfor (const item of exceptions.slice(0, 10)) {\n  const exc = item.json;\n  report += `\\n- [${(exc.severity || 'medium').toUpperCase()}] ${exc.exception_type || 'Unknown'}`;\n  report += `\\n  ${exc.description || 'No description'}`;\n  report += `\\n  Entity: ${exc.entity_id || 'N/A'} | Created: ${exc.created_at || 'N/A'}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "d4d0bfb8-f82c-4867-a290-d9f60755720d",
      "name": "Search Results",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        1150
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "filterByFormula": "=OR(FIND(LOWER('{{ $('Parse Command').first().json.args }}'), LOWER({client_name})), FIND(LOWER('{{ $('Parse Command').first().json.args }}'), LOWER({area})), FIND(LOWER('{{ $('Parse Command').first().json.args }}'), LOWER({email})))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "f9b9eec0-9a64-40e8-a963-c505e9b575e9",
      "name": "Handle Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        1150
      ],
      "parameters": {
        "jsCode": "\n// Build /search [query] response\nconst data = $input.first().json;\nconst results = $('Search Results').all();\n\nif (results.length === 0) {\n  return { json: {\n    response: `No results found for: ${data.args || 'empty query'}`,\n    chat_id: data.chat_id,\n  }};\n}\n\nlet report = `<b>Search Results for \"${data.args}\":</b>\\n`;\nfor (const item of results.slice(0, 10)) {\n  const r = item.json;\n  report += `\\n- <b>${r.client_name || r.Name || 'Unknown'}</b>`;\n  report += ` (${r.lead_id || r.id || ''})`;\n  report += `\\n  ${r.area || ''} | ${r.status || ''} | ${r.tier || ''}`;\n}\n\nreturn {\n  json: {\n    response: report,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "7c1086e2-a5ce-49a9-8d4c-40189cd7e647",
      "name": "Handle Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1300
      ],
      "parameters": {
        "jsCode": "\n// Build /status response with system health\nconst data = $input.first().json;\nconst now = new Date();\nconst uptime = 'Running';\n\nconst status = `<b>System Status</b>\n\n<b>Time:</b> ${now.toISOString()} (SAST: ${new Date(now.getTime() + 2*60*60*1000).toISOString().substring(11, 16)})\n<b>Status:</b> ${uptime}\n<b>Workflows:</b> RE-01 through RE-18\n\n<b>Active Triggers:</b>\n  - RE-01: WhatsApp Intake\n  - RE-07: Email Intake\n  - RE-09: Telegram Command Hub\n  - RE-11: Daily Summary (07:00 SAST)\n  - RE-13: Stale Lead Follow-up (09:00 SAST)\n  - RE-14: Escalation Engine (every 15 min)\n  - RE-17: Orchestrator Monitor (every 15 min)\n  - RE-12: Agent Performance (Mon 06:00 SAST)\n\nUse /exceptions to check for issues.`;\n\nreturn {\n  json: {\n    response: status,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "08bee02a-ec14-428b-a83c-75f273bc8169",
      "name": "Handle Reassign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1450
      ],
      "parameters": {
        "jsCode": "\n// Handle /reassign [lead_id] [agent_id]\nconst data = $input.first().json;\nconst leadId = data.arg1 || '';\nconst agentId = data.arg2 || '';\n\nif (!leadId || !agentId) {\n  return { json: {\n    response: 'Usage: /reassign [lead_id] [agent_id]\\nExample: /reassign LEAD-ABC123 AGENT-001',\n    chat_id: data.chat_id,\n    do_reassign: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `Reassigning lead ${leadId} to agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_reassign: true,\n    lead_id: leadId,\n    agent_id: agentId,\n  }\n};\n"
      }
    },
    {
      "id": "b93aebe5-99eb-4d1b-b2d5-76f7fae7aa83",
      "name": "Do Reassign?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        1450
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_reassign }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "592d5451-3b4c-4bf8-8ea0-bc4d56543b85",
      "name": "Reassign Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        1450
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblnsKB429zyzEpfJ",
          "mode": "id"
        },
        "matchingColumns": [
          "lead_id"
        ],
        "options": {},
        "columns": {
          "value": {
            "lead_id": "={{ $('Handle Reassign').first().json.lead_id }}",
            "assigned_agent": "={{ $('Handle Reassign').first().json.agent_id }}"
          }
        }
      }
    },
    {
      "id": "16acd7c3-829a-4a35-973a-8634f4bec2cc",
      "name": "Handle Approve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1600
      ],
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nif (!data.arg1) {\n  return { json: { response: 'Usage: /approve [id]', chat_id: data.chat_id } };\n}\nreturn { json: {\n  response: `Approved: ${data.arg1}`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "8d6a1b70-963c-4ec9-bc39-822978dbec43",
      "name": "Handle Pause",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1750
      ],
      "parameters": {
        "jsCode": "\n// Handle /pause or /resume [agent_id]\nconst data = $input.first().json;\nconst agentId = data.arg1 || '';\nconst action = data.command; // 'pause' or 'resume'\n\nif (!agentId) {\n  return { json: {\n    response: `Usage: /${action} [agent_id]\\nExample: /${action} AGENT-001`,\n    chat_id: data.chat_id,\n    do_update: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `${action === 'pause' ? 'Pausing' : 'Resuming'} agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_update: true,\n    agent_id: agentId,\n    new_availability: action === 'resume',\n  }\n};\n"
      }
    },
    {
      "id": "cf8d1ee7-edc8-415b-bd1a-c5bf7631722e",
      "name": "Do Pause?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        1750
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_update }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "01d9ed19-7008-4554-b602-a7be1a1b1c54",
      "name": "Pause Agent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        1750
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOIksmbzg44M514",
          "mode": "id"
        },
        "matchingColumns": [
          "agent_id"
        ],
        "options": {},
        "columns": {
          "value": {
            "agent_id": "={{ $('Handle Pause').first().json.agent_id }}",
            "Is_Available": "=false"
          }
        }
      }
    },
    {
      "id": "ded66ffa-f46d-4e52-ac8d-2824693c703a",
      "name": "Handle Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1900
      ],
      "parameters": {
        "jsCode": "\n// Handle /pause or /resume [agent_id]\nconst data = $input.first().json;\nconst agentId = data.arg1 || '';\nconst action = data.command; // 'pause' or 'resume'\n\nif (!agentId) {\n  return { json: {\n    response: `Usage: /${action} [agent_id]\\nExample: /${action} AGENT-001`,\n    chat_id: data.chat_id,\n    do_update: false,\n  }};\n}\n\nreturn {\n  json: {\n    response: `${action === 'pause' ? 'Pausing' : 'Resuming'} agent ${agentId}...`,\n    chat_id: data.chat_id,\n    do_update: true,\n    agent_id: agentId,\n    new_availability: action === 'resume',\n  }\n};\n"
      }
    },
    {
      "id": "07914864-7363-4643-bbe3-dd215bb1d6bd",
      "name": "Do Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        1900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.do_update }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "4f367687-4c64-4ab7-98a8-b4fe06a0584a",
      "name": "Resume Agent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        1900
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCVxBCRi5ppbUpV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblOIksmbzg44M514",
          "mode": "id"
        },
        "matchingColumns": [
          "agent_id"
        ],
        "options": {},
        "columns": {
          "value": {
            "agent_id": "={{ $('Handle Resume').first().json.agent_id }}",
            "Is_Available": "=true"
          }
        }
      }
    },
    {
      "id": "950bf2c8-f6db-403c-858d-b7f69ad1c0b3",
      "name": "Handle Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        2050
      ],
      "parameters": {
        "jsCode": "\n// Handle unknown command\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    response: `Unknown command: /${data.command || '?'}\\n\\nUse /help to see available commands.`,\n    chat_id: data.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "c27ad9bc-b2bd-4a2a-9925-8b5e772113ac",
      "name": "Unauthorized Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        600
      ],
      "parameters": {
        "jsCode": "\nreturn {\n  json: {\n    response: 'Unauthorized. Contact admin for access.',\n    chat_id: $input.first().json.chat_id,\n  }\n};\n"
      }
    },
    {
      "id": "91451963-9d49-4482-97ca-a53bfa636db0",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2860,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "37DtsPS5RQYxY2i1",
          "name": "Telegram RE Operations Bot"
        }
      },
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "252e2b49-858d-4645-8314-5dacd5f2fb3c",
      "name": "Reassign Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1450
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Reassign').first().json;\nreturn { json: {\n  response: `Lead ${data.lead_id} reassigned to agent ${data.agent_id}.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "5ed7d0d2-a1c2-49f3-9582-47663f2e3135",
      "name": "Pause Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1750
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Pause').first().json;\nreturn { json: {\n  response: `Agent ${data.agent_id} has been paused.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "a4c39cb5-74e7-43db-8ae8-a250ed5397bb",
      "name": "Resume Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1900
      ],
      "parameters": {
        "jsCode": "\nconst data = $('Handle Resume').first().json;\nreturn { json: {\n  response: `Agent ${data.agent_id} has been resumed.`,\n  chat_id: data.chat_id,\n}};\n"
      }
    },
    {
      "id": "763a3fc3-992a-47e9-aebb-45ff877664c6",
      "name": "Handle Senddocs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        2200
      ],
      "parameters": {
        "jsCode": "\n// Handle /senddocs [lead_id] [buyer|seller]\nconst data = $input.first().json;\nconst leadId = data.arg1 || '';\nconst packType = (data.arg2 || '').toLowerCase();\n\nif (!leadId) {\n  return { json: {\n    response: '<b>Usage:</b> /senddocs [lead_id] [buyer|seller]\\n\\n' +\n              '<b>Example:</b> /senddocs LEAD-ABC123 buyer\\n\\n' +\n              'Pack types: buyer, seller, tenant, landlord',\n    chat_id: data.chat_id,\n    trigger_re19: false,\n  }};\n}\n\nconst validTypes = ['buyer', 'seller', 'tenant', 'landlord'];\nconst resolvedType = validTypes.includes(packType) ? packType : 'buyer';\n\nif (!packType) {\n  return { json: {\n    response: `Sending <b>buyer</b> document pack to lead <b>${leadId}</b>...\\n(Defaulted to buyer. Use /senddocs ${leadId} seller for seller pack)`,\n    chat_id: data.chat_id,\n    trigger_re19: true,\n    lead_id: leadId,\n    pack_type: resolvedType,\n    source: 're09',\n  }};\n}\n\nreturn { json: {\n  response: `Sending <b>${resolvedType}</b> document pack to lead <b>${leadId}</b>...`,\n  chat_id: data.chat_id,\n  trigger_re19: true,\n  lead_id: leadId,\n  pack_type: resolvedType,\n  source: 're09',\n}};\n"
      }
    },
    {
      "id": "1d62de6c-11df-457c-89c2-b5fab7c888dc",
      "name": "Do Senddocs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        2200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.trigger_re19 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "6b7810b9-2129-47a5-9d34-2e6d529a6f7c",
      "name": "Call RE-19 Docs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2640,
        2100
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE19_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "44781931-298b-4516-98ae-e91dff359b2e",
      "name": "Senddocs Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        2100
      ],
      "parameters": {
        "jsCode": "\nreturn { json: {\n  response: 'Document pack sent successfully.',\n  chat_id: $('Handle Senddocs').first().json.chat_id,\n}};\n"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Verify Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Auth": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Handle Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Today Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Lead By ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Leads 24h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hot Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unassigned Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Appointments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch All Agents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open Exceptions Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Reassign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Pause",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Senddocs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Help": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today Leads": {
      "main": [
        [
          {
            "node": "Today Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today Appointments": {
      "main": [
        [
          {
            "node": "Open Exceptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Exceptions": {
      "main": [
        [
          {
            "node": "Handle Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Today": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead By ID": {
      "main": [
        [
          {
            "node": "Handle Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Lead": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Leads 24h": {
      "main": [
        [
          {
            "node": "Handle Newleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Newleads": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Leads": {
      "main": [
        [
          {
            "node": "Handle Hotleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Hotleads": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unassigned Leads": {
      "main": [
        [
          {
            "node": "Handle Unassigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unassigned": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Appointments": {
      "main": [
        [
          {
            "node": "Handle Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Appointments": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Agents": {
      "main": [
        [
          {
            "node": "Handle Agentload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Agentload": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Exceptions Data": {
      "main": [
        [
          {
            "node": "Handle Exceptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Exceptions": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Results": {
      "main": [
        [
          {
            "node": "Handle Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Search": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Status": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Reassign": {
      "main": [
        [
          {
            "node": "Do Reassign?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Reassign?": {
      "main": [
        [
          {
            "node": "Reassign Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reassign Lead": {
      "main": [
        [
          {
            "node": "Reassign Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reassign Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Approve": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Pause": {
      "main": [
        [
          {
            "node": "Do Pause?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Pause?": {
      "main": [
        [
          {
            "node": "Pause Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Agent": {
      "main": [
        [
          {
            "node": "Pause Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Resume": {
      "main": [
        [
          {
            "node": "Do Resume?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Resume?": {
      "main": [
        [
          {
            "node": "Resume Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Agent": {
      "main": [
        [
          {
            "node": "Resume Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Senddocs": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Do Senddocs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Senddocs?": {
      "main": [
        [
          {
            "node": "Call RE-19 Docs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call RE-19 Docs": {
      "main": [
        [
          {
            "node": "Senddocs Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senddocs Success": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unknown": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "telegram",
    "command-hub",
    "trigger"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-03-26T09:23:42.618507"
  }
}