workflows/re-operations/re10_team_notifications.json
{
  "name": "RE-10 Team Notifications",
  "nodes": [
    {
      "id": "eb40d41d-e280-4ff2-8eaf-fb42a28f26a2",
      "name": "Note RE-10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-10: Team Notifications\n\nSends Telegram notifications with urgency prefixes.\nFalls back to email if Telegram fails.\nLogs all notifications to Activity_Log.",
        "width": 300,
        "height": 180,
        "color": 2
      }
    },
    {
      "id": "922ca344-e50e-4e2b-bf98-53c735969c5b",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "parameters": {}
    },
    {
      "id": "a3eab61d-7ab3-4404-825d-c057e15bc241",
      "name": "Build Notification Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "\n// Build Telegram message with urgency prefix\nconst input = $input.first().json;\nconst urgency = (input.urgency || 'medium').toLowerCase();\n\nconst prefixMap = {\n  critical: '\\u26A0\\uFE0F CRITICAL',\n  high: '\\u2757 HIGH',\n  medium: '\\u2139\\uFE0F',\n  low: '\\u2022',\n};\n\nconst prefix = prefixMap[urgency] || prefixMap.medium;\nconst notificationType = input.notification_type || 'General';\nconst message = input.message || 'No message provided';\nconst chatId = input.recipient_chat_id || '';\nconst timestamp = new Date().toISOString();\n\nconst telegramMessage = `${prefix} <b>${notificationType}</b>\\n\\n${message}\\n\\n<i>${timestamp}</i>`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    telegram_message: telegramMessage,\n    notification_type: notificationType,\n    urgency: urgency,\n    original_message: message,\n    timestamp: timestamp,\n    recipient_chat_id: chatId,\n  }\n};\n"
      }
    },
    {
      "id": "05295974-86cf-4194-b692-e7d77ecfa66f",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "37DtsPS5RQYxY2i1",
          "name": "Telegram RE Operations Bot"
        }
      },
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "abf879fe-d953-43a1-afd7-bde96b250266",
      "name": "Telegram OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok || !!$json.message_id || !!$json.result }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "e328be36-f23f-4469-b2a3-04a7ac7c7d72",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "jsCode": "\n// Prepare Activity_Log record\nconst data = $('Build Notification Message').first().json;\nconst deliveryMethod = $input.first().json.telegram_error ? 'email_fallback' : 'telegram';\n\nreturn {\n  json: {\n    activity_type: 'Notification Sent',\n    entity_type: 'Notification',\n    entity_id: `NOTIF-${Date.now().toString(36).toUpperCase()}`,\n    description: `${data.urgency.toUpperCase()} ${data.notification_type}: ${data.original_message.substring(0, 200)}`,\n    performed_by: 'System',\n    delivery_method: deliveryMethod,\n    recipient_chat_id: data.chat_id,\n    timestamp: data.timestamp,\n  }\n};\n"
      }
    },
    {
      "id": "992b91ae-4d32-4b40-af2b-344bb632c4ce",
      "name": "Build Email Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "jsCode": "\n// Build email fallback when Telegram fails\nconst data = $('Build Notification Message').first().json;\nconst errorInfo = $input.first().json;\n\nreturn {\n  json: {\n    subject: `[RE-OPS ${data.urgency.toUpperCase()}] ${data.notification_type}`,\n    body: `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<div style=\"background:#FF6D5A;padding:15px\"><h2 style=\"color:white;margin:0\">${data.notification_type}</h2></div>\n<div style=\"padding:20px\">\n<p><b>Urgency:</b> ${data.urgency.toUpperCase()}</p>\n<p>${data.original_message}</p>\n<p style=\"color:#999;font-size:12px\">Telegram delivery failed. This is an email fallback.<br>${data.timestamp}</p>\n</div></div>`,\n    telegram_error: JSON.stringify(errorInfo).substring(0, 500),\n    chat_id: data.chat_id,\n    notification_type: data.notification_type,\n    urgency: data.urgency,\n    timestamp: data.timestamp,\n  }\n};\n"
      }
    },
    {
      "id": "b0af7be8-da66-447a-b4c5-ec0599a0a69e",
      "name": "Send Fallback Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      }
    },
    {
      "id": "0284a325-cb86-4e0a-9926-f01773ec2163",
      "name": "Prepare Fallback Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        500
      ],
      "parameters": {
        "jsCode": "\n// Prepare Activity_Log record\nconst data = $('Build Notification Message').first().json;\nconst deliveryMethod = $input.first().json.telegram_error ? 'email_fallback' : 'telegram';\n\nreturn {\n  json: {\n    activity_type: 'Notification Sent',\n    entity_type: 'Notification',\n    entity_id: `NOTIF-${Date.now().toString(36).toUpperCase()}`,\n    description: `${data.urgency.toUpperCase()} ${data.notification_type}: ${data.original_message.substring(0, 200)}`,\n    performed_by: 'System',\n    delivery_method: deliveryMethod,\n    recipient_chat_id: data.chat_id,\n    timestamp: data.timestamp,\n  }\n};\n"
      }
    },
    {
      "id": "0a1a2701-c773-4ed4-afb5-09c8fb1903e5",
      "name": "Log Notification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activity_type": "={{ $json.activity_type }}",
            "entity_type": "={{ $json.entity_type }}",
            "entity_id": "={{ $json.entity_id }}",
            "description": "={{ $json.description }}",
            "performed_by": "={{ $json.performed_by }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "activity_type",
              "type": "string",
              "display": true,
              "displayName": "activity_type"
            },
            {
              "id": "entity_type",
              "type": "string",
              "display": true,
              "displayName": "entity_type"
            },
            {
              "id": "entity_id",
              "type": "string",
              "display": true,
              "displayName": "entity_id"
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "displayName": "description"
            },
            {
              "id": "performed_by",
              "type": "string",
              "display": true,
              "displayName": "performed_by"
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "displayName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "819678c8-eb7b-48ce-b800-9f4e1485eac8",
      "name": "Log Fallback Notification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activity_type": "={{ $json.activity_type }}",
            "entity_type": "={{ $json.entity_type }}",
            "entity_id": "={{ $json.entity_id }}",
            "description": "={{ $json.description }}",
            "performed_by": "={{ $json.performed_by }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "activity_type",
              "type": "string",
              "display": true,
              "displayName": "activity_type"
            },
            {
              "id": "entity_type",
              "type": "string",
              "display": true,
              "displayName": "entity_type"
            },
            {
              "id": "entity_id",
              "type": "string",
              "display": true,
              "displayName": "entity_id"
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "displayName": "description"
            },
            {
              "id": "performed_by",
              "type": "string",
              "display": true,
              "displayName": "performed_by"
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "displayName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Notification Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Message": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Telegram OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram OK?": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Email Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Entry": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Fallback": {
      "main": [
        [
          {
            "node": "Send Fallback Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Fallback Email": {
      "main": [
        [
          {
            "node": "Prepare Fallback Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fallback Log": {
      "main": [
        [
          {
            "node": "Log Fallback Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "notifications",
    "telegram",
    "sub-workflow"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:37:59.917835"
  }
}