workflows/re-operations/re14_escalation_engine.json
{
  "name": "RE-14 Escalation Engine",
  "nodes": [
    {
      "id": "6657da5c-4ff5-450f-82ce-3e2eddae4466",
      "name": "Note RE-14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-14: Escalation Engine\n\nRuns every 15 min. Finds:\n- Unresponded leads past SLA\n- Stale deals (7+ days)\n- Missed appointments (No Show)\nCreates Exception records, alerts via RE-18.",
        "width": 300,
        "height": 200,
        "color": 6
      }
    },
    {
      "id": "d989eb06-88b4-45a8-afe7-47d18ef53841",
      "name": "Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "18d41fe1-c144-4ae7-8fd6-aea461e5c91c",
      "name": "Read Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "fc2270dc-a0fd-40bc-bd89-896593665f15",
      "name": "Unresponded Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Lead ID']);\nconst matches = rows.filter(r =>\n  new Date(r['Last Contact']) < new Date(Date.now() - 2*3600000) &&\n  (r['Status'] === 'New' || r['Status'] === 'Active')\n);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "44ce1c12-5617-4c37-aaae-65c868d162ea",
      "name": "Read Deals Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Deals",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "a432ff0b-604f-4aee-9bee-2f8dfa25818a",
      "name": "Stale Deals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Deal ID']);\nconst matches = rows.filter(r =>\n  new Date(r['Updated At']) < new Date(Date.now() - 7*24*3600000) &&\n  (r['Status'] === 'Active' || r['Status'] === 'In Progress')\n);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "b347aa73-e5e1-4dd5-b9cf-62aed10d8cdd",
      "name": "Read Appointments Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "672b421b-a7b9-4086-8edc-24c9b2de4c7c",
      "name": "Missed Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "parameters": {
        "jsCode": "\nconst rows = $input.all().map(i => i.json).filter(r => r['Booking ID']);\nconst matches = rows.filter(r =>\n  r['Status'] === 'No_Show' &&\n  String(r['Escalated'] || '').toUpperCase() !== 'TRUE'\n);\nreturn matches.length ? matches.map(m => ({json: m})) : [{json: {}}];\n"
      }
    },
    {
      "id": "78bb98cf-e9fd-47f1-a404-bbda6a1092fb",
      "name": "Merge Exceptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "jsCode": "\n// Merge all exception sources and create Exception records\nconst unresponded = $('Unresponded Leads').all();\nconst staleDeals = $('Stale Deals').all();\nconst missedAppts = $('Missed Appointments').all();\n\nconst exceptions = [];\nconst now = new Date();\n\n// Unresponded leads (> 2 hours SLA)\nfor (const item of unresponded) {\n  const lead = item.json;\n  exceptions.push({\n    json: {\n      exception_id: 'EXC-' + Date.now().toString(36).toUpperCase() + Math.random().toString(36).substring(2, 6),\n      exception_type: 'Unresponded Lead',\n      severity: lead.tier === 'Hot' ? 'critical' : 'high',\n      entity_type: 'Lead',\n      entity_id: lead.lead_id || lead.id || '',\n      description: `Lead ${lead.client_name || 'Unknown'} (${lead.tier || 'Unscored'}) has not been responded to within SLA`,\n      assigned_agent: lead.assigned_agent || 'Unassigned',\n      status: 'Open',\n      created_at: now.toISOString(),\n    }\n  });\n}\n\n// Stale deals (> 7 days no update)\nfor (const item of staleDeals) {\n  const deal = item.json;\n  exceptions.push({\n    json: {\n      exception_id: 'EXC-' + Date.now().toString(36).toUpperCase() + Math.random().toString(36).substring(2, 6),\n      exception_type: 'Stale Deal',\n      severity: 'medium',\n      entity_type: 'Deal',\n      entity_id: deal.deal_id || deal.id || '',\n      description: `Deal \"${deal.deal_name || 'Unknown'}\" has had no updates for 7+ days`,\n      assigned_agent: deal.assigned_agent || 'Unknown',\n      status: 'Open',\n      created_at: now.toISOString(),\n    }\n  });\n}\n\n// Missed appointments\nfor (const item of missedAppts) {\n  const appt = item.json;\n  exceptions.push({\n    json: {\n      exception_id: 'EXC-' + Date.now().toString(36).toUpperCase() + Math.random().toString(36).substring(2, 6),\n      exception_type: 'Missed Appointment',\n      severity: 'high',\n      entity_type: 'Appointment',\n      entity_id: appt.booking_id || appt.id || '',\n      description: `No-show for appointment: ${appt.client_name || 'Unknown'} with ${appt.agent_name || 'Unknown'}`,\n      assigned_agent: appt.agent_name || 'Unknown',\n      status: 'Open',\n      created_at: now.toISOString(),\n    }\n  });\n}\n\nreturn exceptions.length > 0\n  ? exceptions\n  : [{ json: { no_exceptions: true, status: 'All clear', created_at: now.toISOString() } }];\n"
      }
    },
    {
      "id": "c323e91a-91d6-4808-be30-faca2143a8ab",
      "name": "Has Exceptions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !$json.no_exceptions }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "124c94b9-e470-44d3-a98c-25572d81d391",
      "name": "Create Exception",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Exceptions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Exception ID": "={{ $json.exception_id }}",
            "Exception Type": "={{ $json.exception_type }}",
            "Severity": "={{ $json.severity }}",
            "Entity Type": "={{ $json.entity_type }}",
            "Entity ID": "={{ $json.entity_id }}",
            "Description": "={{ $json.description }}",
            "Assigned Agent": "={{ $json.assigned_agent }}",
            "Status": "={{ $json.status }}",
            "Created At": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Exception ID",
              "type": "string",
              "display": true,
              "displayName": "Exception ID"
            },
            {
              "id": "Exception Type",
              "type": "string",
              "display": true,
              "displayName": "Exception Type"
            },
            {
              "id": "Severity",
              "type": "string",
              "display": true,
              "displayName": "Severity"
            },
            {
              "id": "Entity Type",
              "type": "string",
              "display": true,
              "displayName": "Entity Type"
            },
            {
              "id": "Entity ID",
              "type": "string",
              "display": true,
              "displayName": "Entity ID"
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "displayName": "Description"
            },
            {
              "id": "Assigned Agent",
              "type": "string",
              "display": true,
              "displayName": "Assigned Agent"
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "displayName": "Status"
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "displayName": "Created At"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "b85f307a-25a9-406b-89cb-046034d142a0",
      "name": "Is Critical/High?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.severity === 'critical' || $json.severity === 'high' }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "1f4eef2f-2484-41f3-9941-74ac68063500",
      "name": "Call RE-18 Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2640,
        200
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE18_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "e0fe40c6-eb58-458b-bb91-8d5ea26ea9ca",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Activity Type": "Escalation Check",
            "Entity Type": "System",
            "Entity ID": "=ESC-{{ $now.toFormat('yyyyMMddHHmmss') }}",
            "Description": "=Escalation engine check completed",
            "Performed By": "System",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Activity Type",
              "type": "string",
              "display": true,
              "displayName": "Activity Type"
            },
            {
              "id": "Entity Type",
              "type": "string",
              "display": true,
              "displayName": "Entity Type"
            },
            {
              "id": "Entity ID",
              "type": "string",
              "display": true,
              "displayName": "Entity ID"
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "displayName": "Description"
            },
            {
              "id": "Performed By",
              "type": "string",
              "display": true,
              "displayName": "Performed By"
            },
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "displayName": "Timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 15 Min": {
      "main": [
        [
          {
            "node": "Read Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Sheet": {
      "main": [
        [
          {
            "node": "Unresponded Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unresponded Leads": {
      "main": [
        [
          {
            "node": "Read Deals Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deals Sheet": {
      "main": [
        [
          {
            "node": "Stale Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stale Deals": {
      "main": [
        [
          {
            "node": "Read Appointments Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments Sheet": {
      "main": [
        [
          {
            "node": "Missed Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missed Appointments": {
      "main": [
        [
          {
            "node": "Merge Exceptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Exceptions": {
      "main": [
        [
          {
            "node": "Has Exceptions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Exceptions?": {
      "main": [
        [
          {
            "node": "Create Exception",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Exception": {
      "main": [
        [
          {
            "node": "Is Critical/High?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical/High?": {
      "main": [
        [
          {
            "node": "Call RE-18 Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RE-18 Alert": {
      "main": [
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "escalation",
    "scheduled",
    "monitoring"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:38:08.807204"
  }
}