workflows/re-operations/re17_orchestrator_monitor.json
{
  "name": "RE-17 Orchestrator Monitor",
  "nodes": [
    {
      "id": "8305d052-7942-45e1-814c-71384c0760dc",
      "name": "Note RE-17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "content": "RE-17: Orchestrator Monitor\n\nRuns every 15 min. Checks n8n API health\nand recent execution failures.\nAlerts via RE-18 if errors found.",
        "width": 300,
        "height": 180,
        "color": 7
      }
    },
    {
      "id": "a150dc9c-bc34-45be-aaab-de36cc7c3baf",
      "name": "Every 15 Min Monitor",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "4e3bf209-d76f-4d1a-b626-4c4558457eb2",
      "name": "Check n8n Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ianimmelman89.app.n8n.cloud/api/v1/workflows?limit=1",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "6c43c9cc-bc8a-4941-acc6-7c7af0b8ce9d",
      "name": "Check Recent Failures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ianimmelman89.app.n8n.cloud/api/v1/executions?status=error&limit=10",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "79491c94-fbac-4916-b083-a625e3a6bdc3",
      "name": "Analyze Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\n// Analyze recent execution failures\nconst healthData = $('Check n8n Health').first().json;\nconst execData = $('Check Recent Failures').first().json;\n\nconst executions = execData.data || [];\nconst failedExecs = executions.filter(e =>\n  e.status === 'error' || e.status === 'failed' || e.finished === false\n);\n\nconst now = new Date();\nconst hasErrors = failedExecs.length > 0;\n\nlet errorSummary = '';\nif (hasErrors) {\n  errorSummary = failedExecs.slice(0, 5).map(e => {\n    const wfName = e.workflowData ? e.workflowData.name : (e.workflowId || 'Unknown');\n    const errMsg = e.data && e.data.resultData && e.data.resultData.error\n      ? e.data.resultData.error.message || 'Unknown error'\n      : 'Execution failed';\n    return `- ${wfName}: ${errMsg.substring(0, 200)}`;\n  }).join('\\n');\n}\n\nreturn {\n  json: {\n    has_errors: hasErrors,\n    failed_count: failedExecs.length,\n    total_checked: executions.length,\n    error_summary: errorSummary,\n    health_status: healthData.status || 'unknown',\n    checked_at: now.toISOString(),\n    alert_type: 'System Health',\n    severity: failedExecs.length >= 3 ? 'critical' : failedExecs.length > 0 ? 'high' : 'low',\n    message: hasErrors\n      ? `${failedExecs.length} workflow execution(s) failed in the last 15 min:\\n${errorSummary}`\n      : 'All workflows executing normally.',\n  }\n};\n"
      }
    },
    {
      "id": "63043578-305b-439f-b9e4-81b33d0ba337",
      "name": "Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_errors }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "35275309-da7f-4994-8fcd-5a54e6a07be1",
      "name": "Create Health Exception",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Exceptions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Exception ID": "=HEALTH-{{ $now.toFormat('yyyyMMddHHmmss') }}",
            "Exception Type": "System Health",
            "Severity": "={{ $json.severity }}",
            "Entity Type": "System",
            "Entity ID": "=n8n-health-{{ $now.toFormat('yyyyMMddHHmm') }}",
            "Description": "={{ $json.message }}",
            "Status": "Open",
            "Created At": "={{ $json.checked_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Exception ID",
              "type": "string",
              "display": true,
              "displayName": "Exception ID"
            },
            {
              "id": "Exception Type",
              "type": "string",
              "display": true,
              "displayName": "Exception Type"
            },
            {
              "id": "Severity",
              "type": "string",
              "display": true,
              "displayName": "Severity"
            },
            {
              "id": "Entity Type",
              "type": "string",
              "display": true,
              "displayName": "Entity Type"
            },
            {
              "id": "Entity ID",
              "type": "string",
              "display": true,
              "displayName": "Entity ID"
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "displayName": "Description"
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "displayName": "Status"
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "displayName": "Created At"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "cfc62682-cee2-4622-966e-4a1f97652d26",
      "name": "Call RE-18 Health Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1540,
        200
      ],
      "parameters": {
        "workflowId": "={{ $env.RE_WF_RE18_ID || '' }}",
        "options": {}
      }
    },
    {
      "id": "960227f1-3395-4715-ae85-e2eae9b0907c",
      "name": "Log Health Check",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3zHyyRnIX2AaGQZZj9vn362XQQm5sqlhOAhNKe0b7I",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Activity Type": "Health Check",
            "Entity Type": "System",
            "Entity ID": "=HEALTH-{{ $now.toFormat('yyyyMMddHHmmss') }}",
            "Description": "={{ $json.message }}",
            "Performed By": "System",
            "Timestamp": "={{ $json.checked_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Activity Type",
              "type": "string",
              "display": true,
              "displayName": "Activity Type"
            },
            {
              "id": "Entity Type",
              "type": "string",
              "display": true,
              "displayName": "Entity Type"
            },
            {
              "id": "Entity ID",
              "type": "string",
              "display": true,
              "displayName": "Entity ID"
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "displayName": "Description"
            },
            {
              "id": "Performed By",
              "type": "string",
              "display": true,
              "displayName": "Performed By"
            },
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "displayName": "Timestamp"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 15 Min Monitor": {
      "main": [
        [
          {
            "node": "Check n8n Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check n8n Health": {
      "main": [
        [
          {
            "node": "Check Recent Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recent Failures": {
      "main": [
        [
          {
            "node": "Analyze Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Failures": {
      "main": [
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Create Health Exception",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Health Exception": {
      "main": [
        [
          {
            "node": "Call RE-18 Health Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RE-18 Health Alert": {
      "main": [
        [
          {
            "node": "Log Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    "re-operations",
    "monitoring",
    "health",
    "scheduled"
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "builder": "deploy_re_operations.py",
    "built_at": "2026-04-07T18:38:09.376967"
  }
}