workflows/business_email_mgmt_backup_g2uPmEBbAEtz9YP4L8utG.json
{
  "updatedAt": "2026-02-26T09:10:03.540Z",
  "createdAt": "2026-02-11T05:30:24.039Z",
  "id": "g2uPmEBbAEtz9YP4L8utG",
  "name": "Business Email Management Automation",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0e88b948-e755-4083-9204-55ad67bf82f4",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        160
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "cc4680f3-7bbd-4cda-a4eb-66f062882b38",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        208,
        432
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const emailData = {\n    from: item.json.from || item.json.sender || '',\n    to: item.json.to || '',\n    subject: item.json.subject || '',\n    date: item.json.date || new Date().toISOString(),\n    body: (item.json.textPlain || item.json.snippet || item.json.text || '').substring(0, 3000),\n    hasAttachments: item.json.attachments ? item.json.attachments.length > 0 : false,\n    attachmentCount: item.json.attachments ? item.json.attachments.length : 0,\n    messageId: item.json.id || item.json.messageId || '',\n    threadId: item.json.threadId || ''\n  };\n\n  const classificationPrompt = `Analyze this business email. Return ONLY valid JSON, no markdown, no backticks.\n\nFrom: ${emailData.from}\nSubject: ${emailData.subject}\nDate: ${emailData.date}\nBody:\n${emailData.body}\nHas Attachments: ${emailData.hasAttachments ? 'Yes (' + emailData.attachmentCount + ')' : 'No'}\n\nReturn this exact JSON:\n{\n  \"sender\": \"<email>\",\n  \"sender_name\": \"<name>\",\n  \"subject\": \"<subject>\",\n  \"intent\": \"<what sender wants>\",\n  \"tone\": \"<formal|informal|urgent|angry|friendly|neutral>\",\n  \"urgency\": \"<high|medium|low>\",\n  \"action_required\": true or false,\n  \"department\": \"<ONE of: Accounting_Finance|Customer_Support|Sales|Management|Admin|Legal|Internal|Spam_Irrelevant>\",\n  \"tags\": [\"<from: Invoice,Payment,Refund,Complaint,New_Lead,Contract,Meeting_Request,Follow_Up,Escalation,Urgent>\"],\n  \"is_spam\": true or false,\n  \"suggested_response\": \"<professional reply if action_required, else null>\",\n  \"summary\": \"<1-2 sentence summary>\",\n  \"escalation_needed\": true or false\n}\n\nRules:\n- Accounting_Finance: invoices, payments, billing, refunds\n- Customer_Support: complaints, technical issues, service support\n- Sales: new enquiries, pricing, leads\n- Management: strategy, legal, partnerships, high-level complaints\n- Spam_Irrelevant: suspicious links, phishing, irrelevant promos\n- Mark urgency HIGH if: urgent/ASAP in subject, legal threats, payment issues\n- Responses must be professional and concise`;\n\n  results.push({\n    json: {\n      ...emailData,\n      classificationPrompt\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "090c44f3-0c24-400f-a1e2-9e97549b3734",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const emailData = $('Prepare Email Data').first().json;\n\n  let parsed;\n  try {\n    // AI Agent outputs to item.json.output (string)\n    let aiContent = item.json.output || '';\n\n    // Fallback: try HTTP Request format if output is empty\n    if (!aiContent && item.json.choices) {\n      aiContent = item.json.choices[0].message.content;\n    }\n\n    // Clean any markdown formatting\n    const cleaned = aiContent\n      .replace(/```json\\n?/g, '')\n      .replace(/```\\n?/g, '')\n      .trim();\n\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    // Fallback classification when AI fails\n    parsed = {\n      sender: emailData.from || 'unknown',\n      sender_name: 'Unknown',\n      subject: emailData.subject || 'No Subject',\n      intent: 'Classification failed - manual review required',\n      tone: 'neutral',\n      urgency: 'medium',\n      action_required: true,\n      department: 'Admin',\n      tags: ['Escalation'],\n      is_spam: false,\n      suggested_response: null,\n      summary: 'Email could not be auto-classified. Manual review required.',\n      escalation_needed: true\n    };\n  }\n\n  results.push({\n    json: {\n      original_from: emailData.from || '',\n      original_to: emailData.to || '',\n      original_subject: emailData.subject || '',\n      original_date: emailData.date || '',\n      original_body: emailData.body || '',\n      original_message_id: emailData.messageId || '',\n      original_thread_id: emailData.threadId || '',\n      has_original_attachments: emailData.hasAttachments || false,\n      sender: parsed.sender || emailData.from || '',\n      sender_name: parsed.sender_name || 'Unknown',\n      subject: parsed.subject || emailData.subject || '',\n      intent: parsed.intent || '',\n      tone: parsed.tone || 'neutral',\n      urgency: parsed.urgency || 'medium',\n      action_required: parsed.action_required || false,\n      department: parsed.department || 'Admin',\n      tags: parsed.tags || [],\n      tags_string: (parsed.tags || []).join(', '),\n      is_spam: parsed.is_spam || false,\n      suggested_response: parsed.suggested_response || '',\n      summary: parsed.summary || '',\n      escalation_needed: parsed.escalation_needed || false,\n      processed_at: new Date().toISOString(),\n      is_interested_reply: parsed.is_interested_reply || false,\n      ticket_number: 'TKT-' + Date.now()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a7b02c02-8006-4085-899d-78d7b2f73178",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        432
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "33b4177f-3c75-48bb-876c-1c111ce15cc2",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Spam_Irrelevant",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "54d6b4b2-41c7-4d5c-b9d7-2d9d3341e804",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Accounting_Finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8e520b3e-6090-4425-98a9-ac9cee148037",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Customer_Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ac42f0c8-a276-4e7c-86de-48bd34d37629",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dca3f444-d848-463f-8c4e-e6b4848470ae",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Management",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "74df8011-06ae-4bdd-98be-af74ddbbab8a",
      "name": "Route by Department",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1248,
        432
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_8"
        ]
      },
      "id": "8c4c884f-b6df-439d-b98c-e318ab0e8751",
      "name": "Label Junk",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        112
      ],
      "webhookId": "02a30a23-deb8-44b0-a664-493775e45441",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "id": "0149ba51-e2ea-4f33-b6e6-8142ff62d174",
      "name": "Label Finance",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        288
      ],
      "webhookId": "d1a771d7-ce90-4843-930f-4baae1201771",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_2"
        ]
      },
      "id": "7840665c-5168-4d5c-beee-adeeef85fefa",
      "name": "Label Support",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        464
      ],
      "webhookId": "00fd3dbc-5fe5-459d-9df2-a44b9ad8d591",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_3"
        ]
      },
      "id": "55123197-12fa-42b9-8a5b-d8534198b45e",
      "name": "Label Sales",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        640
      ],
      "webhookId": "dd870cb0-93c6-4423-bfc1-0b3529748902",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_4"
        ]
      },
      "id": "2bb7615b-ef68-4a9b-bfa6-be1ab0daeda5",
      "name": "Label Management",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        832
      ],
      "webhookId": "7dd7c8b7-f08a-444e-854a-f0e4cb11cb6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_5"
        ]
      },
      "id": "99ac01df-dafb-4c89-9472-ae3341d0bbea",
      "name": "Label General",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        1008
      ],
      "webhookId": "4b20ecd2-7299-4892-adec-ba48a1ce91da",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "a2b31dbd-fcd9-4fdc-bc1c-d0236d3aebef",
      "name": "Mark Spam Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1760,
        112
      ],
      "webhookId": "ed05fcbb-64bc-45fb-b77e-c3a0555ff63f",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac825e60-9063-4148-bbb2-0594b56e1096",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b43903fa-2b60-45b5-8837-08dc09a425f8",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.original_message_id }}",
        "labelIds": [
          "Label_7"
        ]
      },
      "id": "864bbc67-ac57-4708-9298-d0fb010d627b",
      "name": "Label Urgent",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        1152
      ],
      "webhookId": "fe88f6d3-47da-4d74-8d91-70a88bca9e38",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "42c55407-23bc-4846-b7be-18ed1be72563",
      "name": "Not Urgent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "15bece9f-1dd2-4386-81a4-05ed0dd84c0a",
              "leftValue": "={{ $json.action_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "abaa36b5-7f0f-4dc3-9c57-4dea7df77518",
              "leftValue": "={{ $json.suggested_response }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "37523c7f-4424-4718-a41f-b907586b8e64",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "no-reply-check-1",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "no-reply-check-2",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "no-reply-check-3",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "donotreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "no-reply-check-4",
              "leftValue": "={{ $json.original_body }}",
              "rightValue": "no reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "block-eftcorp-reply",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "@eftcorp.atlassian.net",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52e94eb0-8f93-4919-beb8-22abfa907603",
      "name": "Reply Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "c05c71ec-bb10-463c-8fb4-a4f033629698",
      "name": "No Reply Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        1632
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1Adp3x0ler5H69Cih5tbMLqWEgZMziebhnOEWbMPTvaA"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "e9a52f82-ec11-4615-ac96-a36d51024fa6",
      "name": "Log to Email Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1248,
        1824
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst d = item.json;\n\nif (d.department === 'Sales' && d.tags_string && d.tags_string.includes('New_Lead')) {\n  return [{\n    json: {\n      date: d.processed_at,\n      lead_name: d.sender_name,\n      email: d.sender,\n      subject: d.original_subject,\n      interest: d.intent,\n      summary: d.summary,\n      urgency: d.urgency,\n      status: 'New',\n      follow_up_date: new Date(Date.now() + 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0],\n      is_lead: true\n    }\n  }];\n}\n\nreturn [{ json: { is_lead: false } }];"
      },
      "id": "3ec56c25-3fc2-4a9e-a5cb-c95045292d53",
      "name": "Check If Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36bbdd71-8940-4db6-ab42-87d538d90bdd",
              "leftValue": "={{ $json.is_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab017901-ab6d-43a7-b687-71693583e0ba",
      "name": "Is New Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        2080
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1G2P9gYuPKtqhDkkJaTVLbuA_yxj_IqTI7vuCfhFLklM"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "lead_name": "={{ $json.lead_name }}",
            "email": "={{ $json.email }}",
            "subject": "={{ $json.subject }}",
            "interest": "={{ $json.interest }}",
            "summary": "={{ $json.summary }}",
            "urgency": "={{ $json.urgency }}",
            "status": "={{ $json.status }}",
            "follow_up_date": "={{ $json.follow_up_date }}"
          }
        },
        "options": {}
      },
      "id": "579d75fa-da33-44fb-8913-8a03240f5858",
      "name": "Log New Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        2032
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.follow_up_date + 'T09:00:00' }}",
        "end": "={{ $json.follow_up_date + 'T09:30:00' }}",
        "additionalFields": {
          "description": "=Auto-generated sales lead follow-up.\n\nLead: {{ $json.lead_name }} ({{ $json.email }})\nInterest: {{ $json.interest }}\nSummary: {{ $json.summary }}",
          "summary": "=Follow up: {{ $json.lead_name }}"
        }
      },
      "id": "2ae8afd1-e602-4152-b279-aff3f0a19224",
      "name": "Create Follow-Up",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        2032,
        2032
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "I5zIYf0UxlkUt3KG",
          "name": "Google Calendar AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "8f49c530-ce07-4394-bb0a-16e1bc2d4f93",
      "name": "Not a Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        2160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.classificationPrompt }}",
        "options": {
          "systemMessage": "You are the AI Email Manager for AnyVision Media, a digital media and technology agency. Your job is to analyze incoming business emails and return a structured JSON classification.\n\n## Your Task\nFor every email you receive, analyze it and return ONLY a valid JSON object. No markdown formatting, no backticks, no explanation text \u2014 just the raw JSON.\n\n## Company Context\n- Company: AnyVision Media (digital media, AI solutions, web development)\n- Owner: Ian Immelman (ian@anyvisionmedia.com)\n- Services: AI workflow automation, web development, social media management, real estate tech solutions\n- Tone: Professional but approachable, tech-savvy\n\n## JSON Output Format\nReturn exactly this structure:\n{\n  \"sender\": \"<sender email address>\",\n  \"sender_name\": \"<sender display name>\",\n  \"subject\": \"<email subject line>\",\n  \"intent\": \"<1 sentence: what the sender wants or needs>\",\n  \"tone\": \"<one of: formal, informal, urgent, angry, friendly, neutral>\",\n  \"urgency\": \"<one of: high, medium, low>\",\n  \"action_required\": true or false,\n  \"department\": \"<ONE of: Accounting_Finance, Customer_Support, Sales, Management, Admin, Legal, Internal, Spam_Irrelevant>\",\n  \"tags\": [\"<applicable tags from the list below>\"],\n  \"is_spam\": true or false,\n  \"suggested_response\": \"<a professional draft reply if action_required is true, otherwise null>\",\n  \"summary\": \"<1-2 sentence summary of the email>\",\n  \"escalation_needed\": true or false,\n  \"is_interested_reply\": true or false\n}\n\n## Department Classification Rules\n- **Accounting_Finance**: Invoices, payments, billing inquiries, refund requests, financial statements, tax documents\n- **Customer_Support**: Service complaints, technical issues, bug reports, account help, feature requests\n- **Sales**: New business enquiries, pricing requests, partnership proposals, lead generation, RFP responses\n- **Management**: Strategic decisions, legal matters, high-level partnerships, media/PR, executive communications, escalated complaints\n- **Admin**: Documentation, compliance, vendor setup, office operations, routine administrative tasks\n- **Legal**: Contracts, legal threats, regulatory matters, NDAs, terms of service\n- **Internal**: Team communications, internal updates, HR matters\n- **Spam_Irrelevant**: Unsolicited marketing, phishing attempts, suspicious links, irrelevant promotions, newsletters not subscribed to\n\n## Available Tags\nInvoice, Payment, Refund, Complaint, New_Lead, Contract, Meeting_Request, Follow_Up, Escalation, Urgent\n\n## Urgency Rules\nMark as HIGH if any of these apply:\n- Subject contains \"urgent\", \"ASAP\", \"immediate\", \"critical\"\n- Legal threats or regulatory deadlines\n- Payment disputes or overdue invoices\n- Escalated customer complaints\n- Time-sensitive business opportunities\n\n## Response Writing Rules (for suggested_response)\nWhen action_required is true, write a professional, well-structured reply that:\n\n**FORMATTING REQUIREMENTS:**\n- Use proper line breaks (\\n\\n between paragraphs)\n- Start with a personalized greeting: \"Hi [name],\" or \"Dear [name],\"\n- Separate greeting, body paragraphs, and closing with blank lines\n- Keep paragraphs short (2-3 sentences max)\n- End with a professional signature block\n\n**STRUCTURE:**\n1. **Greeting** - Personalized with sender's name\n2. **Acknowledgment** - Thank them and acknowledge their specific concern\n3. **Response** - Address their question or request (1-2 paragraphs)\n4. **Next Steps** - What happens next (if applicable)\n5. **Closing** - Professional sign-off\n6. **Signature** - AnyVision Media Team contact info\n\n**CONTENT GUIDELINES:**\n- Acknowledge receipt of their email\n- Address their specific concern or question\n- Be professional, warm, and concise\n- Never promise specific timelines without verification\n- Never confirm financial or legal decisions\n- Never reveal that this is an automated system\n- Match their tone (formal vs casual) appropriately\n\n**EXAMPLE FORMAT:**\n```\nHi [Name],\n\nThank you for reaching out to AnyVision Media. I've received your inquiry regarding [specific topic].\n\n[Address their main concern or question here. Keep it concise and helpful.]\n\n[Optional: Next steps or additional information]\n\nIf you have any other questions, please don't hesitate to reach out.\n\nBest regards,\nAnyVision Media Team\nian@anyvisionmedia.com\n```\n\nWhen action_required is false or the email is spam, set suggested_response to null.\n\nCRITICAL: Return ONLY the JSON object. No other text.\n\n## Interested Reply Detection Rules\nSet is_interested_reply to TRUE if ALL of these apply:\n- The email appears to be a REPLY to a previous outreach/cold email from AnyVision Media\n- The sender expresses positive interest (wants to learn more, schedule a call, get pricing, says 'interested', 'sounds good', 'tell me more', 'let's chat', etc.)\n- The sender is NOT from AnyVision Media itself\n\nSet is_interested_reply to FALSE for:\n- First-time inbound emails (not replies to our outreach)\n- Negative responses ('not interested', 'unsubscribe', 'remove me')\n- Automated responses / out-of-office replies\n- Spam or irrelevant emails",
          "maxIterations": 1,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        432
      ],
      "id": "767b16db-6207-4dce-a66d-11383a604d28",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        720
      ],
      "id": "16704032-0b00-4972-8bee-8e2a5345b9de",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.original_message_id }}",
        "message": "={{ $json.suggested_response }}",
        "options": {}
      },
      "id": "d4e85743-cfe6-4f40-a23d-606a121ec0e2",
      "name": "Create Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        1472
      ],
      "webhookId": "d52dcfd2-8098-4c45-9ac5-1a441013c961",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        640
      ],
      "id": "11d65539-4831-47be-b334-b8a614b2549d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b3891fdb-59e4-4e9f-8eae-7e64850c8f7e",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3990f7a2-fe2a-4dfd-8c0d-a80906f82907",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4224a635-eea4-4938-a500-3854a96c7178",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "donotreply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "137abc50-8ef3-4350-8d4d-646e707f1ac8",
      "name": "Is No-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.original_message_id }}"
      },
      "id": "fa727640-d87a-451b-8e7d-46f3db889036",
      "name": "Mark No-Reply Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        1744
      ],
      "webhookId": "65f018ac-58cd-4ea8-b152-5aaea7647ece",
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "5c49a22d-adc6-4380-b837-0a18be7d8684",
      "name": "Not No-Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        1904
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dnt-check-gmail-001",
              "leftValue": "={{ ($json.labelIds || []).includes('Label_9') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dnt-check-0001-4000-8000-000000000001",
      "name": "Has DNT Label?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        340,
        432
      ]
    },
    {
      "parameters": {},
      "id": "dnt-skip-0002-4000-8000-000000000002",
      "name": "Skip - DNT",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "95142abe-abe0-4d7d-94d5-b21237bf074f",
              "leftValue": "={{ $json.is_interested_reply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "block-eftcorp-interested",
              "leftValue": "={{ $json.sender }}",
              "rightValue": "@eftcorp.atlassian.net",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a716db39-2c04-4839-bc39-4f833ea4156d",
      "name": "Is Interested Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        2340
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.original_message_id }}",
        "message": "Hi {{ $json.sender_name }},\\n\\nThank you so much for getting back to us! We really appreciate your interest.\\n\\nI'll be in touch shortly to discuss how AnyVision Media can help you further. In the meantime, if you have any questions, feel free to reply to this email.\\n\\nLooking forward to connecting!\\n\\nBest regards,\\nIan Immelman\\nAnyVision Media\\nian@anyvisionmedia.com",
        "options": {}
      },
      "id": "ff8bdccc-9aad-46c5-abeb-9648b23e1d4a",
      "name": "Send Thank You",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        2288
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Send Thank You').first().json.id || $json.original_message_id }}",
        "labelIds": [
          "Label_9"
        ]
      },
      "id": "a5906f42-bc56-483b-a131-3710f6b27c02",
      "name": "Apply DNT Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1760,
        2288
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "EC2l4faLSdgePOM6",
          "name": "Gmail AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1G2P9gYuPKtqhDkkJaTVLbuA_yxj_IqTI7vuCfhFLklM"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.sender }}",
            "status": "Converted - Do Not Follow Up"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "ignoreIt"
        },
        "dataMode": "autoMapInputData"
      },
      "id": "f8228d97-db25-4b0d-bf16-7701a4059446",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OkpDXxwI8WcUJp4P",
          "name": "Google Sheets AVM Tutorial"
        }
      }
    },
    {
      "parameters": {},
      "id": "2d6e00bd-d593-4227-9bbe-56458722f776",
      "name": "Not Interested Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        2432
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Has DNT Label?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Is No-Reply?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Department",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply Needed?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Email Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is No-Reply?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Interested Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Department": {
      "main": [
        [
          {
            "node": "Label Junk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Label Urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Needed?": {
      "main": [
        [
          {
            "node": "Create Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reply Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Lead": {
      "main": [
        [
          {
            "node": "Is New Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Lead?": {
      "main": [
        [
          {
            "node": "Log New Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not a Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log New Lead": {
      "main": [
        [
          {
            "node": "Create Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Label Junk": {
      "main": [
        [
          {
            "node": "Mark Spam Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is No-Reply?": {
      "main": [
        [
          {
            "node": "Mark No-Reply Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not No-Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has DNT Label?": {
      "main": [
        [
          {
            "node": "Skip - DNT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Interested Reply?": {
      "main": [
        [
          {
            "node": "Send Thank You",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Interested Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thank You": {
      "main": [
        [
          {
            "node": "Apply DNT Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply DNT Label": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1772180435,
      "possibleDuplicates": [
        "19c9e2f715a0a504"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "da6c62b1-54d3-49b8-9b0a-f6ef3252710b",
  "activeVersionId": null,
  "versionCounter": 96,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T13:04:10.642Z",
      "createdAt": "2026-02-22T13:04:10.642Z",
      "role": "workflow:owner",
      "workflowId": "g2uPmEBbAEtz9YP4L8utG",
      "projectId": "pcmgdUiECq7jnQCv",
      "project": {
        "updatedAt": "2025-11-18T07:15:09.271Z",
        "createdAt": "2025-04-12T06:49:26.305Z",
        "id": "pcmgdUiECq7jnQCv",
        "name": "Ian Immelman <ian@anyvisionmedia.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "74ac6501-35e4-401e-af85-5fe3fc463160"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}