workflows/demos/demo01_video_clips.json
{
  "name": "DEMO-01 Video Clip Factory",
  "nodes": [
    {
      "id": "b0928ca6-ac07-413a-abea-959cc1840f13",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        260
      ],
      "webhookId": "demo01-video-clips-form",
      "parameters": {
        "formTitle": "Video Clip Factory — AnyVision Media",
        "formDescription": "Drop your YouTube / Drive / direct mp4 link. We'll pick the 5 best moments and generate platform-optimised captions + hooks for TikTok, Reels, Shorts, LinkedIn.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video URL",
              "fieldType": "url",
              "requiredField": true
            },
            {
              "fieldLabel": "Title",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Demo Mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "0"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "5940df1b-3a47-48be-934d-778021f1ce67",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        480
      ],
      "webhookId": "demo01-video-clips",
      "parameters": {
        "httpMethod": "POST",
        "path": "demo01-video-clips",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "44d53451-4110-433f-922d-ee317d343213",
      "name": "Demo Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        370
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "eda4d1a2-ccc6-4a3b-ae68-e29672717023",
              "name": "sourceUrl",
              "type": "string",
              "value": "={{ $json['Video URL'] || $json.sourceUrl || 'https://example.com/demos/avm-podcast-ep12.mp4' }}"
            },
            {
              "id": "ed43f481-29ab-4500-b81e-15221aa117d2",
              "name": "title",
              "type": "string",
              "value": "={{ $json['Title'] || $json.title || 'AI for SMEs — 5 Tools That Run Our Agency (Ep. 12)' }}"
            },
            {
              "id": "5818e3fb-2f54-4844-a263-46aac6020a6f",
              "name": "demoMode",
              "type": "string",
              "value": "={{ String($json['Demo Mode'] ?? $json.demoMode ?? '1') }}"
            },
            {
              "id": "28c17155-255a-4f87-bece-4e0209225cc2",
              "name": "brandVoice",
              "type": "string",
              "value": "AnyVision Media — punchy, direct, SA-SME-focused. Founder voice, not corporate. First 6 words earn the scroll. No fluff."
            },
            {
              "id": "bb16cf05-dbb1-40e4-b868-18db53fadf7c",
              "name": "videoId",
              "type": "string",
              "value": "={{ 'VID-' + $now.toFormat('yyyyLLdd-HHmmss') }}"
            },
            {
              "id": "8ad1d774-6255-472b-9582-f221899231db",
              "name": "fixtureSegments",
              "type": "string",
              "value": "[{\"startSec\": 312, \"endSec\": 348, \"hook\": \"Most SMEs think AI costs R50k a month. Ours runs on R2k.\", \"summary\": \"Ian breaks down the actual monthly AI stack cost for a 12-person agency \\u2014 sub-R2k total.\", \"retentionScore\": 94, \"clipUrl\": \"https://social-render.up.railway.app/demo-clips/avm-ep12-clip1.mp4\"}, {\"startSec\": 612, \"endSec\": 648, \"hook\": \"The tool we fired last month saved us R18k in 30 days.\", \"summary\": \"Story of replacing a R5k/mo SaaS with a 15-line n8n workflow that runs for free.\", \"retentionScore\": 91, \"clipUrl\": \"https://social-render.up.railway.app/demo-clips/avm-ep12-clip2.mp4\"}, {\"startSec\": 1104, \"endSec\": 1138, \"hook\": \"Stop hiring VAs. Do this instead.\", \"summary\": \"Why a well-designed automation outperforms a junior VA for 80% of repeatable admin work.\", \"retentionScore\": 89, \"clipUrl\": \"https://social-render.up.railway.app/demo-clips/avm-ep12-clip3.mp4\"}, {\"startSec\": 1632, \"endSec\": 1668, \"hook\": \"The 3 AI mistakes that will burn your SA SME in 2026.\", \"summary\": \"Three pitfalls: chasing hype, over-engineering, and skipping the human-in-the-loop. Fix each in one line.\", \"retentionScore\": 87, \"clipUrl\": \"https://social-render.up.railway.app/demo-clips/avm-ep12-clip4.mp4\"}, {\"startSec\": 2205, \"endSec\": 2240, \"hook\": \"One client 10x'd bookings. Here's the exact workflow.\", \"summary\": \"The one-hour-per-week customer-reactivation flow that drove a R420k uplift for a Fourways gym.\", \"retentionScore\": 93, \"clipUrl\": \"https://social-render.up.railway.app/demo-clips/avm-ep12-clip5.mp4\"}]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9ab4f940-5c2a-4c03-b1e9-c5213d539375",
      "name": "DEMO_MODE Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        370
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.demoMode }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "demo"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.demoMode }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "live"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      }
    },
    {
      "id": "f96e5742-f613-4d35-b399-9090095544b8",
      "name": "Load Fixture Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Demo Config').first().json;\nconst segs = JSON.parse(cfg.fixtureSegments || '[]');\nreturn segs.map((s, i) => ({\n  json: {\n    videoId: cfg.videoId,\n    sourceUrl: cfg.sourceUrl,\n    title: cfg.title,\n    segmentIdx: i + 1,\n    startSec: s.startSec,\n    endSec: s.endSec,\n    durationSec: s.endSec - s.startSec,\n    hook: s.hook,\n    summary: s.summary,\n    retentionScore: s.retentionScore,\n    clipUrl: s.clipUrl,\n    source: 'fixture',\n  }\n}));"
      }
    },
    {
      "id": "bcd7362b-f724-46fc-8e76-77a3bb1c2b0d",
      "name": "Submit Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.ASSEMBLYAI_API_KEY || 'MISSING' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_url: $('Demo Config').first().json.sourceUrl, auto_highlights: true, auto_chapters: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "362df71a-f88c-4601-8035-2b133f5c9cd2",
      "name": "Poll Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        480
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.assemblyai.com/v2/transcript/' + ($json.id || 'MISSING') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.ASSEMBLYAI_API_KEY || 'MISSING' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "1e34dde2-56b1-4c69-92d3-b404200d3501",
      "name": "AI Segment Picker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4-20250514', max_tokens: 2000, temperature: 0.4, messages: [{role:'user', content: 'Given this transcript with timestamps, return the 5 segments MOST LIKELY to go viral as 20-40s short-form clips. Pick for emotional punch, quotable lines, or contrarian framing. Return STRICT JSON: {\"segments\":[{\"startSec\":n,\"endSec\":n,\"hook\":\"...\",\"summary\":\"...\",\"retentionScore\":0-100}]}\\n\\nTranscript: ' + JSON.stringify($json.utterances || $json.text || '')}] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "880fd4f6-1097-4feb-8007-71ca3fecfc57",
      "name": "Remotion Render (Live)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n-ai-workflow-manager-production.up.railway.app/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ composition: 'ClipWithBurnedCaptions', props: { sourceUrl: $('Demo Config').first().json.sourceUrl, segments: $json.segments || [] } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "6ac2e467-b2b1-4d2d-8654-090a8c7a1150",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1740,
        370
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "063e1110-3f18-422f-89a0-02a3e54022b3",
      "name": "Build Platform Copy Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        370
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const v = $json;\nconst cfg = $('Demo Config').first().json;\nconst prompt = `You are a direct-response copywriter for ${cfg.brandVoice}.\n\nWrite platform-optimised captions for this clip (NOT hooks — the hook is\nburned into the video; captions accompany the post).\n\nClip metadata:\n- Title: ${cfg.title}\n- Hook (burned in): \"${v.hook}\"\n- Summary: ${v.summary}\n- Duration: ${v.durationSec}s\n\nProduce captions for: tiktok, instagram, youtube, linkedin.\n\nPer platform:\n- tiktok     : 1-2 lines + 3 niche hashtags. Playful.\n- instagram  : 3-5 lines, 1 emoji, ends with DM-call-to-action. 3 hashtags.\n- youtube    : SEO-friendly one-sentence description. No hashtags.\n- linkedin   : 4-6 lines, no emoji, 1 line per idea, ends with a question.\n\nReturn STRICT JSON:\n{\n  \"copy\": {\n    \"tiktok\":   {\"caption\":\"...\",\"hashtags\":[\"...\",\"...\",\"...\"]},\n    \"instagram\":{\"caption\":\"...\",\"hashtags\":[\"...\",\"...\",\"...\"]},\n    \"youtube\":  {\"caption\":\"...\"},\n    \"linkedin\": {\"caption\":\"...\"}\n  }\n}`;\nreturn { json: { ...v, copyPrompt: prompt } };"
      }
    },
    {
      "id": "fb5344e8-17c7-4f15-8eaf-8ebca2a3f84a",
      "name": "AI Platform Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        370
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-haiku-4-5', max_tokens: 1200, temperature: 0.7, messages: [{role:'user', content: $json.copyPrompt}] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "51a4584a-9919-4ab6-99ae-bd8d12c48c8d",
      "name": "Parse Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        370
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const clip = $('Build Platform Copy Prompt').item.json;\nconst aiResp = $json || {};\n\nlet raw = '';\ntry {\n  raw = aiResp.choices && aiResp.choices[0] && aiResp.choices[0].message\n    ? aiResp.choices[0].message.content : '';\n} catch (e) { raw = ''; }\n\nlet copy = null;\ntry {\n  const cleaned = raw.replace(/^```(?:json)?\\s*|\\s*```$/g, '').trim();\n  const parsed = cleaned ? JSON.parse(cleaned) : {};\n  copy = parsed.copy || null;\n} catch (e) { copy = null; }\n\nif (!copy) {\n  copy = {\n    tiktok:    { caption: clip.hook, hashtags: ['#AIforSMEs','#BusinessAutomation','#SA'] },\n    instagram: { caption: clip.hook + '\\n\\nDM us GO', hashtags: ['#smegrowth','#aibusiness','#anyvision'] },\n    youtube:   { caption: clip.title + ' — ' + clip.summary },\n    linkedin:  { caption: clip.hook + '\\n\\n' + clip.summary + '\\n\\nWhat would you do first?' }\n  };\n}\n\nreturn { json: { ...clip, copy } };"
      }
    },
    {
      "id": "c8bef71c-2a4d-4d18-972b-a8c7aaee2a23",
      "name": "Log Clip to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2620,
        370
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video ID": "={{ $json.videoId }}",
            "Title": "={{ $json.title }}",
            "Source URL": "={{ $json.sourceUrl }}",
            "Segment Idx": "={{ $json.segmentIdx }}",
            "Start Sec": "={{ $json.startSec }}",
            "End Sec": "={{ $json.endSec }}",
            "Duration Sec": "={{ $json.durationSec }}",
            "Hook": "={{ $json.hook }}",
            "Summary": "={{ $json.summary }}",
            "Retention Score": "={{ $json.retentionScore }}",
            "Clip URL": "={{ $json.clipUrl }}",
            "Caption TikTok": "={{ $json.copy && $json.copy.tiktok ? $json.copy.tiktok.caption : '' }}",
            "Caption Instagram": "={{ $json.copy && $json.copy.instagram ? $json.copy.instagram.caption : '' }}",
            "Caption YouTube": "={{ $json.copy && $json.copy.youtube ? $json.copy.youtube.caption : '' }}",
            "Caption LinkedIn": "={{ $json.copy && $json.copy.linkedin ? $json.copy.linkedin.caption : '' }}",
            "Source": "={{ $json.source || 'live' }}",
            "Created At": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "b92907e4-ae7b-4615-874e-7bc26593c2bd",
      "name": "Aggregate Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        370
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nconst cfg = $('Demo Config').first().json;\nreturn [{\n  json: {\n    videoId: cfg.videoId,\n    title: cfg.title,\n    sourceUrl: cfg.sourceUrl,\n    clipsProduced: items.length,\n    clips: items.map(c => ({\n      segmentIdx: c.segmentIdx,\n      hook: c.hook,\n      clipUrl: c.clipUrl,\n      durationSec: c.durationSec,\n      retentionScore: c.retentionScore,\n      copy: c.copy,\n    })),\n    timestamp: new Date().toISOString(),\n    status: 'complete',\n  }\n}];"
      }
    },
    {
      "id": "b18d1ece-c3f2-41c6-86cb-5c31323d7970",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3060,
        370
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Demo Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Demo Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Config": {
      "main": [
        [
          {
            "node": "DEMO_MODE Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEMO_MODE Switch": {
      "main": [
        [
          {
            "node": "Load Fixture Segments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Fixture Segments": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcription": {
      "main": [
        [
          {
            "node": "Poll Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Transcription": {
      "main": [
        [
          {
            "node": "AI Segment Picker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Segment Picker": {
      "main": [
        [
          {
            "node": "Remotion Render (Live)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotion Render (Live)": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Build Platform Copy Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Platform Copy Prompt": {
      "main": [
        [
          {
            "node": "AI Platform Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Platform Copy": {
      "main": [
        [
          {
            "node": "Parse Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Copy": {
      "main": [
        [
          {
            "node": "Log Clip to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Clip to Airtable": {
      "main": [
        [
          {
            "node": "Aggregate Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Clips": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}