workflows/demos/whatsapp_ai_crm_demo.json
{
  "name": "AVM Demo: WhatsApp -> AI -> CRM Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1a00001-0001-4000-8000-000000000001",
      "name": "Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        380
      ],
      "webhookId": "whatsapp-incoming-demo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-sender",
              "name": "sender_name",
              "value": "={{ $json.body.sender_name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "set-phone",
              "name": "phone",
              "value": "={{ $json.body.phone || $json.body.from }}",
              "type": "string"
            },
            {
              "id": "set-message",
              "name": "message",
              "value": "={{ $json.body.message || $json.body.text }}",
              "type": "string"
            },
            {
              "id": "set-timestamp",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a00001-0002-4000-8000-000000000002",
      "name": "Extract Message Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a message classifier for a business. Classify the incoming WhatsApp message into exactly ONE category. Respond with ONLY a JSON object, no other text.\\n\\nCategories:\\n- order: Customer wants to place an order, buy something, or request a product/service\\n- lead: New contact expressing interest, asking about pricing, or requesting a quote\\n- inquiry: General question about business hours, policies, availability, or existing order status\\n- complaint: Customer expressing dissatisfaction, reporting a problem, or requesting a refund\\n\\nRespond with: {\\\"category\\\": \\\"<category>\\\", \\\"confidence\\\": <0.0-1.0>, \\\"summary\\\": \\\"<one-line summary>\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Message from {{ $json.sender_name }} ({{ $json.phone }}):\\n{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d1a00001-0003-4000-8000-000000000003",
      "name": "Classify with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI classification response\nconst aiResponse = $input.first().json;\nconst upstream = $('Extract Message Fields').first().json;\n\nlet parsed;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  // Handle both raw JSON and markdown-wrapped JSON\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { category: 'inquiry', confidence: 0.5, summary: 'Could not parse AI response' };\n}\n\nreturn [{\n  json: {\n    ...upstream,\n    category: parsed.category || 'inquiry',\n    confidence: parsed.confidence || 0.5,\n    summary: parsed.summary || '',\n    classified_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "d1a00001-0004-4000-8000-000000000004",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "order"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Orders"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "lead"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Leads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "inquiry"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Inquiries"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "complaint"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Complaints"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d1a00001-0005-4000-8000-000000000005",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract order details from this WhatsApp message. Respond with ONLY a JSON object:\\n{\\\"product\\\": \\\"<what they want>\\\", \\\"quantity\\\": <number or 1>, \\\"urgency\\\": \\\"normal|urgent\\\", \\\"special_instructions\\\": \\\"<any notes>\\\", \\\"estimated_value_zar\\\": <estimated rand value or 0>}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Order message from {{ $json.sender_name }}:\\n{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d1a00001-0006-4000-8000-000000000006",
      "name": "AI Extract Order Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse order extraction response\nconst aiResponse = $input.first().json;\nconst upstream = $('Route by Type').first().json;\n\nlet order;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  order = JSON.parse(cleaned);\n} catch (e) {\n  order = { product: 'Unknown', quantity: 1, urgency: 'normal', special_instructions: '', estimated_value_zar: 0 };\n}\n\nreturn [{\n  json: {\n    ...upstream,\n    ...order,\n    order_status: 'New',\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "d1a00001-0007-4000-8000-000000000007",
      "name": "Parse Order Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "REPLACE_WITH_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "REPLACE_WITH_ORDERS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json.sender_name }}",
            "Phone": "={{ $json.phone }}",
            "Product": "={{ $json.product }}",
            "Quantity": "={{ $json.quantity }}",
            "Urgency": "={{ $json.urgency }}",
            "Special Instructions": "={{ $json.special_instructions }}",
            "Estimated Value (ZAR)": "={{ $json.estimated_value_zar }}",
            "Status": "New",
            "Source": "WhatsApp",
            "Received At": "={{ $json.received_at }}",
            "AI Summary": "={{ $json.summary }}"
          }
        },
        "options": {}
      },
      "id": "d1a00001-0008-4000-8000-000000000008",
      "name": "Create Order in CRM",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        80
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_AIRTABLE_CRED_ID",
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "order-confirm",
              "name": "reply_message",
              "value": "=Hi {{ $('Route by Type').first().json.sender_name }}! We've received your order for {{ $json.fields.Product || $('Parse Order Details').first().json.product }}. Our team will confirm availability and pricing shortly. Order ref: {{ $json.id || 'pending' }}. Thank you for choosing AnyVision Media!",
              "type": "string"
            },
            {
              "id": "order-phone",
              "name": "reply_to",
              "value": "={{ $('Route by Type').first().json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a00001-0009-4000-8000-000000000009",
      "name": "Prepare Order Confirmation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a lead qualification assistant. Score this lead from 1-10 based on their WhatsApp message. Consider: intent clarity, budget signals, decision-making authority, timeline urgency, and fit with a digital marketing agency.\\n\\nRespond with ONLY a JSON object:\\n{\\\"score\\\": <1-10>, \\\"reasoning\\\": \\\"<brief reasoning>\\\", \\\"interest_area\\\": \\\"<what service they want>\\\", \\\"next_action\\\": \\\"<recommended follow-up>\\\", \\\"priority\\\": \\\"hot|warm|cold\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Lead message from {{ $json.sender_name }} ({{ $json.phone }}):\\n{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d1a00001-0010-4000-8000-000000000010",
      "name": "AI Qualify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse lead qualification response\nconst aiResponse = $input.first().json;\nconst upstream = $('Route by Type').first().json;\n\nlet lead;\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  lead = JSON.parse(cleaned);\n} catch (e) {\n  lead = { score: 5, reasoning: 'Could not parse', interest_area: 'General', next_action: 'Follow up', priority: 'warm' };\n}\n\nreturn [{\n  json: {\n    ...upstream,\n    lead_score: lead.score || 5,\n    reasoning: lead.reasoning || '',\n    interest_area: lead.interest_area || 'General',\n    next_action: lead.next_action || 'Follow up',\n    priority: lead.priority || 'warm',\n    qualified_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "d1a00001-0011-4000-8000-000000000011",
      "name": "Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "REPLACE_WITH_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "REPLACE_WITH_LEADS_TABLE_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.sender_name }}",
            "Phone": "={{ $json.phone }}",
            "Message": "={{ $json.message }}",
            "Lead Score": "={{ $json.lead_score }}",
            "Priority": "={{ $json.priority }}",
            "Interest Area": "={{ $json.interest_area }}",
            "AI Reasoning": "={{ $json.reasoning }}",
            "Next Action": "={{ $json.next_action }}",
            "Source": "WhatsApp",
            "Status": "New",
            "Received At": "={{ $json.received_at }}"
          }
        },
        "options": {}
      },
      "id": "d1a00001-0012-4000-8000-000000000012",
      "name": "Create Lead in CRM",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_AIRTABLE_CRED_ID",
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead-notify",
              "name": "notification",
              "value": "=NEW LEAD (Score: {{ $('Parse Lead Score').first().json.lead_score }}/10, {{ $('Parse Lead Score').first().json.priority }})\nFrom: {{ $('Parse Lead Score').first().json.sender_name }} ({{ $('Parse Lead Score').first().json.phone }})\nInterest: {{ $('Parse Lead Score').first().json.interest_area }}\nAction: {{ $('Parse Lead Score').first().json.next_action }}",
              "type": "string"
            },
            {
              "id": "lead-reply",
              "name": "reply_message",
              "value": "=Hi {{ $('Route by Type').first().json.sender_name }}! Thanks for reaching out to AnyVision Media. We'd love to help you with {{ $('Parse Lead Score').first().json.interest_area }}. One of our specialists will contact you within the hour. Is there a preferred time to chat?",
              "type": "string"
            },
            {
              "id": "lead-phone",
              "name": "reply_to",
              "value": "={{ $('Route by Type').first().json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a00001-0013-4000-8000-000000000013",
      "name": "Prepare Lead Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a friendly and professional WhatsApp assistant for AnyVision Media, a digital marketing agency in South Africa. Answer the customer's inquiry helpfully and concisely. Keep the response under 150 words and suitable for WhatsApp.\\n\\nIf you don't know the specific answer, provide a helpful general response and mention that a team member will follow up with details.\\n\\nBusiness hours: Mon-Fri 8:00-17:00 SAST\\nServices: Digital marketing, SEO, social media management, paid advertising, web development, content creation\\nLocation: Johannesburg, South Africa\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d1a00001-0014-4000-8000-000000000014",
      "name": "AI Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_OPENROUTER_CRED_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inquiry-reply",
              "name": "reply_message",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "inquiry-phone",
              "name": "reply_to",
              "value": "={{ $('Route by Type').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "inquiry-sender",
              "name": "sender_name",
              "value": "={{ $('Route by Type').first().json.sender_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a00001-0015-4000-8000-000000000015",
      "name": "Prepare Inquiry Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "complaint-escalate",
              "name": "reply_message",
              "value": "=Hi {{ $json.sender_name }}, we're sorry to hear about your experience. Your message has been escalated to our customer success team with HIGH priority. You'll receive a personal callback within 30 minutes. Reference: ESC-{{ $now.toFormat('yyyyMMddHHmm') }}",
              "type": "string"
            },
            {
              "id": "complaint-phone",
              "name": "reply_to",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "complaint-alert",
              "name": "escalation_alert",
              "value": "=URGENT COMPLAINT from {{ $json.sender_name }} ({{ $json.phone }}): {{ $json.summary }}. Immediate callback required.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a00001-0016-4000-8000-000000000016",
      "name": "Escalate Complaint",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"reply_to\": \"{{ $json.reply_to }}\",\n  \"message\": {{ JSON.stringify($json.reply_message) }},\n  \"category\": \"order\",\n  \"processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d1a00001-0017-4000-8000-000000000017",
      "name": "Send Order Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"reply_to\": \"{{ $json.reply_to }}\",\n  \"message\": {{ JSON.stringify($json.reply_message) }},\n  \"category\": \"lead\",\n  \"lead_score\": {{ $('Parse Lead Score').first().json.lead_score }},\n  \"priority\": \"{{ $('Parse Lead Score').first().json.priority }}\",\n  \"processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d1a00001-0018-4000-8000-000000000018",
      "name": "Send Lead Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"reply_to\": \"{{ $json.reply_to }}\",\n  \"message\": {{ JSON.stringify($json.reply_message) }},\n  \"category\": \"inquiry\",\n  \"processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d1a00001-0019-4000-8000-000000000019",
      "name": "Send Inquiry Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"escalated\",\n  \"reply_to\": \"{{ $json.reply_to }}\",\n  \"message\": {{ JSON.stringify($json.reply_message) }},\n  \"category\": \"complaint\",\n  \"escalation\": true,\n  \"processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d1a00001-0020-4000-8000-000000000020",
      "name": "Send Complaint Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        760
      ]
    },
    {
      "parameters": {
        "content": "## AVM Demo: WhatsApp -> AI -> CRM Pipeline\n\nThis workflow demonstrates AnyVision Media's AI-powered message processing:\n\n1. **Webhook** receives incoming WhatsApp messages\n2. **Claude AI** classifies message type (order/lead/inquiry/complaint)\n3. **Smart Router** sends each type down its own path\n4. **Orders**: AI extracts details -> Airtable CRM record -> confirmation\n5. **Leads**: AI scores 1-10 -> Airtable CRM record -> notification\n6. **Inquiries**: AI generates contextual reply\n7. **Complaints**: Auto-escalation with priority callback\n\n### Test with:\n```json\nPOST /webhook/whatsapp-incoming\n{\n  \"sender_name\": \"John Smith\",\n  \"phone\": \"+27821234567\",\n  \"message\": \"Hi, I'd like to order 5 branded videos for our product launch\"\n}\n```",
        "height": 480,
        "width": 420
      },
      "id": "d1a00001-0021-4000-8000-000000000021",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        120
      ]
    },
    {
      "parameters": {
        "content": "### Orders Path\nAI extracts product, quantity, urgency\n-> Creates Airtable record\n-> Sends confirmation",
        "height": 160,
        "width": 300,
        "color": 4
      },
      "id": "d1a00001-0022-4000-8000-000000000022",
      "name": "Sticky Note - Orders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "content": "### Leads Path\nAI scores lead 1-10 (hot/warm/cold)\n-> Creates Airtable record\n-> Sends notification + reply",
        "height": 160,
        "width": 300,
        "color": 5
      },
      "id": "d1a00001-0023-4000-8000-000000000023",
      "name": "Sticky Note - Leads",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        220
      ]
    },
    {
      "parameters": {
        "content": "### Inquiries Path\nAI generates contextual reply\nusing business knowledge",
        "height": 120,
        "width": 300,
        "color": 6
      },
      "id": "d1a00001-0024-4000-8000-000000000024",
      "name": "Sticky Note - Inquiries",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        470
      ]
    },
    {
      "parameters": {
        "content": "### Complaints Path\nAuto-escalation with\npriority callback promise",
        "height": 120,
        "width": 300,
        "color": 2
      },
      "id": "d1a00001-0025-4000-8000-000000000025",
      "name": "Sticky Note - Complaints",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        690
      ]
    }
  ],
  "connections": {
    "Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Fields": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "AI Extract Order Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Qualify Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Generate Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Order Details": {
      "main": [
        [
          {
            "node": "Parse Order Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order Details": {
      "main": [
        [
          {
            "node": "Create Order in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order in CRM": {
      "main": [
        [
          {
            "node": "Prepare Order Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Confirmation": {
      "main": [
        [
          {
            "node": "Send Order Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Qualify Lead": {
      "main": [
        [
          {
            "node": "Parse Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Score": {
      "main": [
        [
          {
            "node": "Create Lead in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in CRM": {
      "main": [
        [
          {
            "node": "Prepare Lead Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Notification": {
      "main": [
        [
          {
            "node": "Send Lead Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Reply": {
      "main": [
        [
          {
            "node": "Prepare Inquiry Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inquiry Reply": {
      "main": [
        [
          {
            "node": "Send Inquiry Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Complaint": {
      "main": [
        [
          {
            "node": "Send Complaint Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "demo"
    },
    {
      "name": "whatsapp"
    },
    {
      "name": "ai"
    },
    {
      "name": "crm"
    }
  ],
  "pinData": {}
}