workflows/ads-dept/ads02_copy_creative_generator.json
{
  "name": "AVM Ads: Copy & Creative Generator",
  "nodes": [
    {
      "id": "3273dd82-1ab7-4842-aca9-d0fe729522d3",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "6e2c4a90-1c7c-459d-b01e-f859e8205243",
      "parameters": {
        "path": "ads-generate-creatives",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "b6ced12e-5910-45e5-804e-464b10b3697c",
      "name": "Read Campaign Plans",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblon2FDqfifeF1Iv"
        },
        "filterByFormula": "={Status}='Planned'",
        "options": {}
      }
    },
    {
      "id": "b392badf-51f2-4f21-a995-c6dbb31f0304",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "google_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "meta_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "tiktok_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "ffe79084-8502-4a4b-a5c2-5ec5131f10d9",
      "name": "Google Copy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 2000, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Google Ads Copywriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\n\\nGenerate a Google Responsive Search Ad (RSA) with:\\n- 15 headlines (EXACTLY 30 characters max each, no exceptions)\\n- 4 descriptions (EXACTLY 90 characters max each, no exceptions)\\n- display_url_path1 (15 chars max)\\n- display_url_path2 (15 chars max)\\n\\nRules:\\n- Include \\\"AnyVision Media\\\" or \\\"AnyVision\\\" in at least 2 headlines\\n- Include numbers/stats where possible (\\\"3x ROI\\\", \\\"60% faster\\\")\\n- Include CTA headlines (\\\"Book Free Call\\\", \\\"Start Today\\\")\\n- No exclamation marks in headlines (Google policy)\\n- South African English spelling\\n\\nOutput as JSON: {{\\\"headlines\\\": [...], \\\"descriptions\\\": [...], \\\"display_url_path1\\\": \\\"...\\\", \\\"display_url_path2\\\": \\\"...\\\"}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "01c3c812-35a8-4839-974a-1f055e2aafb0",
      "name": "Meta Copy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 1500, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Meta Ads Copywriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\nAD FORMAT: Image\\n\\nGenerate a Meta (Facebook/Instagram) ad with:\\n- primary_text: compelling body copy (max 125 chars for feed, can be longer for other placements)\\n- headline: attention-grabbing headline (max 40 chars)\\n- description: supporting text (max 30 chars)\\n- cta: one of \\\"LEARN_MORE\\\", \\\"SIGN_UP\\\", \\\"CONTACT_US\\\", \\\"GET_QUOTE\\\", \\\"BOOK_NOW\\\"\\n\\nAlso generate 2 alternative versions for A/B testing.\\n\\nRules:\\n- Hook in first line (question, stat, or bold claim)\\n- Social proof where possible\\n- Clear value proposition for SaaS/AI automation\\n- South African English\\n\\nOutput as JSON: {{\\\"variants\\\": [{{\\\"primary_text\\\": \\\"...\\\", \\\"headline\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"cta\\\": \\\"...\\\"}}, ...]}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "b3269e35-f61a-4b76-ab99-a5c49fdf4ff9",
      "name": "TikTok Script Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 1500, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM TikTok Ads Scriptwriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\n\\nGenerate a TikTok ad script with:\\n- hook: first 3 seconds attention grabber (max 15 words)\\n- script: full video script (50-100 words, conversational tone)\\n- caption: post caption (max 100 chars)\\n- hashtags: 5 relevant hashtags\\n- cta_text: call to action overlay text (max 20 chars)\\n\\nRules:\\n- Native TikTok feel (not corporate)\\n- Problem-solution structure\\n- Fast-paced, direct language\\n- Speak to pain points of business owners\\n\\nOutput as JSON: {{\\\"hook\\\": \\\"...\\\", \\\"script\\\": \\\"...\\\", \\\"caption\\\": \\\"...\\\", \\\"hashtags\\\": [...], \\\"cta_text\\\": \\\"...\\\"}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "da3c6547-88cc-4399-935c-72208e702849",
      "name": "Merge Creatives",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "4bc697b0-7228-4859-8fc3-78734f5328de",
      "name": "Parse Creatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Parse AI creative responses and prepare for Airtable\nconst items = $input.all();\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nlet idx = 0;\n\nfor (const item of items) {\n  if (item.json.skip) continue;\n\n  const resp = item.json;\n  const content = resp.choices?.[0]?.message?.content || JSON.stringify(resp);\n\n  let creative;\n  try {\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    creative = JSON.parse(cleaned);\n  } catch (e) {\n    creative = {raw: content};\n  }\n\n  const campaignName = item.json._campaignName || 'Unknown';\n  const platform = item.json._platform || 'google_ads';\n\n  // Handle Google RSA format\n  if (creative.headlines) {\n    idx++;\n    results.push({json: {\n      'Creative Name': `${campaignName} - RSA ${now} #${idx}`,\n      'Campaign Name': campaignName,\n      'Platform': platform,\n      'Ad Format': 'RSA',\n      'Status': 'Draft',\n      'Headlines': JSON.stringify(creative.headlines),\n      'Descriptions': JSON.stringify(creative.descriptions || []),\n      'CTA': 'Learn_More',\n      'Created At': now,\n    }});\n  }\n\n  // Handle Meta format with variants\n  if (creative.variants) {\n    for (const v of creative.variants) {\n      idx++;\n      results.push({json: {\n        'Creative Name': `${campaignName} - Meta ${now} #${idx}`,\n        'Campaign Name': campaignName,\n        'Platform': platform,\n        'Ad Format': 'Image',\n        'Status': 'Draft',\n        'Primary Text': v.primary_text || '',\n        'Headlines': JSON.stringify([v.headline || '']),\n        'Descriptions': JSON.stringify([v.description || '']),\n        'CTA': (v.cta || 'Learn_More').replace('_', '_'),\n        'Created At': now,\n      }});\n    }\n  }\n\n  // Handle TikTok format\n  if (creative.hook && creative.script) {\n    idx++;\n    results.push({json: {\n      'Creative Name': `${campaignName} - TikTok ${now} #${idx}`,\n      'Campaign Name': campaignName,\n      'Platform': platform,\n      'Ad Format': 'Video',\n      'Status': 'Draft',\n      'Primary Text': creative.script,\n      'Headlines': JSON.stringify([creative.hook]),\n      'Descriptions': JSON.stringify([creative.caption || '']),\n      'CTA': 'Learn_More',\n      'Created At': now,\n    }});\n  }\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No creatives parsed'}}];\n"
      }
    },
    {
      "id": "97c35a90-e6b6-40ef-b113-150bad5712d6",
      "name": "Filter Valid Creatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "ec48f8c4-3b27-4d01-bfdc-d80bb0f1e545",
      "name": "Write Creatives",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblF1FwoZEQlMG6X9"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "926bc0eb-eee0-4154-ae35-75952ee6330a",
      "name": "Create Approval Request",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2250,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblov57B8uj09ZF2k"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign Name": "={{ $json.fields ? $json.fields['Campaign Name'] : $json['Campaign Name'] }}",
            "Request Type": "Creative_Update",
            "Requested By": "ADS-02",
            "Status": "Pending",
            "Details": "={{ ($json.fields ? $json.fields['Creative Name'] : $json['Creative Name']) + ' (' + ($json.fields ? $json.fields['Platform'] : $json['Platform']) + ')' }}",
            "Created At": "={{ new Date().toISOString().split('T')[0] }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "69cc928b-8754-4981-807f-59dfb93cfb42",
      "name": "Email Approval Link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2500,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads - New Creatives Pending Approval",
        "emailType": "html",
        "message": "={{\"<h2>New Ad Creatives Ready for Review</h2><p>\" + $json['Creative Name'] + \" created for \" + $json['Campaign Name'] + \"</p><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Campaign Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Campaign Plans": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "Google Copy Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Copy Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Script Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Copy Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Copy Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TikTok Script Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Creatives": {
      "main": [
        [
          {
            "node": "Parse Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Creatives": {
      "main": [
        [
          {
            "node": "Filter Valid Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Creatives": {
      "main": [
        [
          {
            "node": "Write Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Creatives": {
      "main": [
        [
          {
            "node": "Create Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Request": {
      "main": [
        [
          {
            "node": "Email Approval Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}