workflows/ads-dept/ads06_creative_recycler.json
{
  "name": "AVM Ads: Creative Recycler",
  "nodes": [
    {
      "id": "b3b17288-b5d1-477a-af18-b769242985e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 3"
            }
          ]
        }
      }
    },
    {
      "id": "4926dfff-250d-472c-a4e8-0036ef3bf6ad",
      "name": "Read Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblH1ztufqk5Kkkln"
        },
        "filterByFormula": "=IS_AFTER({Date}, DATEADD(TODAY(), -14, 'days'))",
        "options": {}
      }
    },
    {
      "id": "9ac4a1c8-0c60-46cc-85e7-d8258ccae7ab",
      "name": "Find Top Performers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Find top-performing campaigns (ROAS > 2.0 or CTR top 20%)\nconst items = $input.all();\nconst campaignMetrics = {};\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.skip) continue;\n\n  const key = d['Campaign Name'];\n  if (!campaignMetrics[key]) {\n    campaignMetrics[key] = {\n      campaign: key,\n      platform: d.Platform,\n      totalSpend: 0,\n      totalConversions: 0,\n      totalClicks: 0,\n      totalImpressions: 0,\n    };\n  }\n  const m = campaignMetrics[key];\n  m.totalSpend += d['Spend ZAR'] || 0;\n  m.totalConversions += d.Conversions || 0;\n  m.totalClicks += d.Clicks || 0;\n  m.totalImpressions += d.Impressions || 0;\n}\n\nconst ranked = Object.values(campaignMetrics)\n  .map(m => ({\n    ...m,\n    roas: m.totalSpend > 0 ? (m.totalConversions * 100) / m.totalSpend : 0,\n    ctr: m.totalImpressions > 0 ? m.totalClicks / m.totalImpressions : 0,\n  }))\n  .filter(m => m.roas > 2.0 || m.ctr > 0.02)\n  .sort((a, b) => b.roas - a.roas)\n  .slice(0, 5);\n\nreturn ranked.length > 0\n  ? ranked.map(m => ({json: m}))\n  : [{json: {skip: true, reason: 'No top performers found'}}];\n"
      }
    },
    {
      "id": "e401bf34-292a-478d-a72b-05fd38c8d657",
      "name": "Filter Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "3d8cb973-1e4c-47d7-a584-600df3e8ed4e",
      "name": "Read Original Creatives",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblF1FwoZEQlMG6X9"
        },
        "filterByFormula": "=OR({Status}='Active',{Status}='Approved')",
        "options": {}
      }
    },
    {
      "id": "349da519-83a1-41dc-9c7e-fb10975f4079",
      "name": "AI Variant Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4-20250514\", \"max_tokens\": 2000, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Creative Recycler for AnyVision Media.\\n\\nTOP PERFORMING CAMPAIGNS:\\n{{JSON.stringify($json)}}\\n\\nORIGINAL CREATIVES:\\n{{JSON.stringify($json)}}\\n\\nGenerate 2-3 new ad creative variants based on the winning patterns. For each variant:\\n- Keep the winning messaging angle but change the specific wording\\n- Try different hooks, CTAs, or emotional triggers\\n- Maintain platform-specific format requirements\\n- Reference the original creative it's based on\\n\\nOutput as JSON array with fields: campaign_name, platform, ad_format, headlines[], descriptions[], primary_text, cta\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "5b6eccee-1915-4401-b3af-1f05652d6238",
      "name": "Parse Variants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Parse AI variant suggestions and create new creative records\nconst aiResp = $('AI Variant Generator').first().json;\nconst content = aiResp.choices?.[0]?.message?.content || '[]';\nconst originals = $('Read Original Creatives').all();\n\nlet variants;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  variants = JSON.parse(cleaned);\n} catch (e) {\n  return [{json: {error: 'Failed to parse variants', raw: content}}];\n}\n\nif (!Array.isArray(variants)) variants = [variants];\n\nconst now = new Date().toISOString().split('T')[0];\nconst results = [];\n\nfor (let i = 0; i < variants.length; i++) {\n  const v = variants[i];\n  const orig = originals[0]?.json || {};\n\n  results.push({json: {\n    'Creative Name': `${orig['Creative Name'] || 'Recycled'} - Variant ${now} #${i + 1}`,\n    'Campaign Name': v.campaign_name || orig['Campaign Name'] || '',\n    'Platform': v.platform || orig.Platform || 'google_ads',\n    'Ad Format': v.ad_format || orig['Ad Format'] || 'RSA',\n    'Status': 'Draft',\n    'Headlines': JSON.stringify(v.headlines || []),\n    'Descriptions': JSON.stringify(v.descriptions || []),\n    'Primary Text': v.primary_text || '',\n    'CTA': v.cta || 'Learn_More',\n    'Parent Creative ID': orig['Creative Name'] || '',\n    'Created At': now,\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true}}];\n"
      }
    },
    {
      "id": "227087fa-d8b6-47f3-ad7b-f16238f690ac",
      "name": "Write New Creatives",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblF1FwoZEQlMG6X9"
        },
        "options": {},
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        }
      }
    },
    {
      "id": "fe987a5a-57a4-43cc-9c25-4878e589c800",
      "name": "Email Recycler Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2250,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads - Creative Recycler: New Variants Created",
        "emailType": "html",
        "message": "={{\"<h2>Creative Recycler Results</h2><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Performance": {
      "main": [
        [
          {
            "node": "Find Top Performers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Top Performers": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Read Original Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Original Creatives": {
      "main": [
        [
          {
            "node": "AI Variant Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Variant Generator": {
      "main": [
        [
          {
            "node": "Parse Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Variants": {
      "main": [
        [
          {
            "node": "Write New Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write New Creatives": {
      "main": [
        [
          {
            "node": "Email Recycler Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}