workflows/ads-dept/ads04_performance_monitor.json
{
  "name": "AVM Ads: Performance Monitor",
  "nodes": [
    {
      "id": "f1206f0c-382b-444f-89ee-bae2c45673e7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "026305f7-8481-4d67-98de-f6aedd847e73",
      "name": "Read Active Campaigns",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblon2FDqfifeF1Iv"
        },
        "filterByFormula": "=OR({Status}='Launched',{Status}='Active')",
        "options": {}
      }
    },
    {
      "id": "760f74e3-08da-4df9-be42-13a7629faf90",
      "name": "Google Ads Get Campaigns",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        750,
        100
      ],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "5au55TkIyGEnuZvD",
          "name": "Google Ads OAuth2"
        }
      },
      "parameters": {
        "resource": "campaign",
        "operation": "getAll",
        "customerId": "6925797193",
        "returnAll": true,
        "additionalFields": {}
      }
    },
    {
      "id": "1356d867-2177-4671-b555-bd4edc4f8212",
      "name": "Transform Google Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ],
      "parameters": {
        "jsCode": "\n// Transform Google Ads API response to common schema\nconst items = $input.all();\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nconst hour = new Date().toISOString().split('T')[1].substring(0, 5);\n\nfor (const item of items) {\n  const d = item.json;\n  const metrics = d.metrics || d;\n  const campaign = d.campaign || {};\n\n  const impressions = parseInt(metrics.impressions || 0);\n  const clicks = parseInt(metrics.clicks || 0);\n  const costMicros = parseInt(metrics.costMicros || metrics.cost_micros || 0);\n  const conversions = parseFloat(metrics.conversions || 0);\n  const videoViews = parseInt(metrics.videoViews || metrics.video_views || 0);\n\n  const spendZAR = costMicros / 1000000;\n  const ctr = impressions > 0 ? clicks / impressions : 0;\n  const cpc = clicks > 0 ? spendZAR / clicks : 0;\n  const cpm = impressions > 0 ? (spendZAR / impressions) * 1000 : 0;\n  const cpa = conversions > 0 ? spendZAR / conversions : 0;\n  const roas = spendZAR > 0 ? (conversions * 100) / spendZAR : 0;\n\n  results.push({\n    json: {\n      'Performance ID': `gads_${campaign.id || 'unknown'}_${now}_${hour}`,\n      'Campaign Name': campaign.name || d.campaignName || 'Unknown',\n      'Platform': 'google_ads',\n      'Date': now,\n      'Impressions': impressions,\n      'Clicks': clicks,\n      'CTR': parseFloat(ctr.toFixed(4)),\n      'Spend ZAR': parseFloat(spendZAR.toFixed(2)),\n      'Conversions': Math.round(conversions),\n      'CPA ZAR': parseFloat(cpa.toFixed(2)),\n      'ROAS': parseFloat(roas.toFixed(2)),\n      'CPM ZAR': parseFloat(cpm.toFixed(2)),\n      'CPC ZAR': parseFloat(cpc.toFixed(2)),\n      'Video Views': videoViews,\n      'Engagement Rate': 0,\n      'Snapshot Hour': hour,\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No Google Ads data'}}];\n"
      }
    },
    {
      "id": "f2b0819b-3d23-4887-9ce8-178b4e1bb276",
      "name": "Meta Ads Get Insights",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "4UZH1VRXvVufgvrI",
          "name": "Meta Ads Graph API"
        }
      },
      "parameters": {
        "httpRequestMethod": "GET",
        "graphApiVersion": "v21.0",
        "node": "=act_26395704183451218/insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "campaign_id,campaign_name,impressions,clicks,spend,actions,cpc,cpm,ctr,reach,video_views"
              },
              {
                "name": "date_preset",
                "value": "today"
              },
              {
                "name": "level",
                "value": "campaign"
              }
            ]
          }
        }
      }
    },
    {
      "id": "90b99de1-4560-437c-80a0-0fe7e3aaa1fe",
      "name": "Transform Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Transform Meta Ads insights to common schema\nconst items = $input.all();\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nconst hour = new Date().toISOString().split('T')[1].substring(0, 5);\n\nfor (const item of items) {\n  const d = item.json;\n  const impressions = parseInt(d.impressions || 0);\n  const clicks = parseInt(d.clicks || 0);\n  const spend = parseFloat(d.spend || 0);\n  const reach = parseInt(d.reach || 0);\n\n  // Extract conversions from actions array\n  let conversions = 0;\n  if (d.actions) {\n    for (const action of d.actions) {\n      if (action.action_type === 'lead' || action.action_type === 'complete_registration' || action.action_type === 'purchase') {\n        conversions += parseInt(action.value || 0);\n      }\n    }\n  }\n\n  const ctr = impressions > 0 ? clicks / impressions : 0;\n  const cpc = clicks > 0 ? spend / clicks : 0;\n  const cpm = impressions > 0 ? (spend / impressions) * 1000 : 0;\n  const cpa = conversions > 0 ? spend / conversions : 0;\n  const roas = spend > 0 ? (conversions * 100) / spend : 0;\n  const engRate = reach > 0 ? clicks / reach : 0;\n\n  results.push({\n    json: {\n      'Performance ID': `meta_${d.campaign_id || 'unknown'}_${now}_${hour}`,\n      'Campaign Name': d.campaign_name || 'Unknown',\n      'Platform': 'meta_ads',\n      'Date': now,\n      'Impressions': impressions,\n      'Clicks': clicks,\n      'CTR': parseFloat(ctr.toFixed(4)),\n      'Spend ZAR': parseFloat(spend.toFixed(2)),\n      'Conversions': conversions,\n      'CPA ZAR': parseFloat(cpa.toFixed(2)),\n      'ROAS': parseFloat(roas.toFixed(2)),\n      'CPM ZAR': parseFloat(cpm.toFixed(2)),\n      'CPC ZAR': parseFloat(cpc.toFixed(2)),\n      'Video Views': parseInt(d.video_views || 0),\n      'Engagement Rate': parseFloat(engRate.toFixed(4)),\n      'Snapshot Hour': hour,\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No Meta Ads data'}}];\n"
      }
    },
    {
      "id": "02735e01-b016-4cf7-8dc8-9844440995a3",
      "name": "TikTok Ads Get Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://business-api.tiktok.com/open_api/v1.3/report/integrated/get/",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"advertiser_id\": \"REPLACE\", \"report_type\": \"BASIC\", \"data_level\": \"AUCTION_CAMPAIGN\", \"dimensions\": [\"campaign_id\"], \"metrics\": [\"campaign_name\", \"impressions\", \"clicks\", \"spend\", \"conversion\", \"cpc\", \"cpm\", \"ctr\"], \"start_date\": \"={{$now.minus({days: 1}).toFormat('yyyy-MM-dd')}}\", \"end_date\": \"={{$now.toFormat('yyyy-MM-dd')}}\"}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "lJEEpPu9zE24Z38r",
          "name": "TikTok Ads HTTP Auth"
        }
      }
    },
    {
      "id": "61dc66b3-f178-4b00-a5f0-3ac54ee4ed3a",
      "name": "Merge All Metrics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "f4348691-3064-4e49-ac17-5a10506efb76",
      "name": "Filter Valid Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "828928ec-a1fe-4a8e-9342-0036427887bb",
      "name": "Write Ad Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblH1ztufqk5Kkkln"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      }
    },
    {
      "id": "726aa00c-7677-49d6-b69b-e8de5b9dea55",
      "name": "Anomaly Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Detect anomalies: spend > 2x daily budget, CTR drop > 50% vs 7-day avg\nconst items = $input.all();\nconst anomalies = [];\nconst DAILY_CAP = parseInt($env.ADS_DAILY_HARD_CAP_ZAR || '2000');\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.skip) continue;\n\n  const issues = [];\n\n  // Check spend against daily cap\n  if (d['Spend ZAR'] > DAILY_CAP) {\n    issues.push(`Spend R${d['Spend ZAR']} exceeds daily cap R${DAILY_CAP}`);\n  }\n\n  // Flag very low CTR (potential issue)\n  if (d.Impressions > 1000 && d.CTR < 0.001) {\n    issues.push(`CTR ${(d.CTR * 100).toFixed(2)}% critically low with ${d.Impressions} impressions`);\n  }\n\n  // Flag high CPA\n  if (d['CPA ZAR'] > 500 && d.Conversions > 0) {\n    issues.push(`CPA R${d['CPA ZAR']} exceeds R500 threshold`);\n  }\n\n  if (issues.length > 0) {\n    anomalies.push({\n      json: {\n        campaign: d['Campaign Name'],\n        platform: d.Platform,\n        date: d.Date,\n        issues: issues,\n        spendZAR: d['Spend ZAR'],\n        ctr: d.CTR,\n        cpa: d['CPA ZAR'],\n        severity: d['Spend ZAR'] > DAILY_CAP ? 'CRITICAL' : 'WARNING',\n      }\n    });\n  }\n}\n\nif (anomalies.length > 0) {\n  return anomalies;\n} else {\n  return [{json: {noAnomalies: true}}];\n}\n"
      }
    },
    {
      "id": "45cf65c3-5138-43a8-915a-66a57fe48aaa",
      "name": "Has Anomalies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.noAnomalies}}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "4d043099-eaab-4266-b5e4-82efdd5246b1",
      "name": "Send Anomaly Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2500,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads ALERT - Anomaly Detected",
        "emailType": "html",
        "message": "={{\"<h2>ADS ANOMALY ALERT</h2><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    },
    {
      "id": "e5134f87-0f7b-44ad-94e4-2a7ebe3f0881",
      "name": "No Anomalies",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2500,
        400
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Campaigns": {
      "main": [
        [
          {
            "node": "Google Ads Get Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Meta Ads Get Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Ads Get Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Ads Get Campaigns": {
      "main": [
        [
          {
            "node": "Transform Google Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Google Data": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Ads Get Insights": {
      "main": [
        [
          {
            "node": "Transform Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Meta Data": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TikTok Ads Get Report": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Metrics": {
      "main": [
        [
          {
            "node": "Filter Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Data": {
      "main": [
        [
          {
            "node": "Write Ad Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Ad Performance": {
      "main": [
        [
          {
            "node": "Anomaly Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Detection": {
      "main": [
        [
          {
            "node": "Has Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Anomalies": {
      "main": [
        [
          {
            "node": "Send Anomaly Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}