workflows/ads-dept/ads07_attribution.json
{
  "name": "AVM Ads: Attribution Engine",
  "nodes": [
    {
      "id": "5068e44a-640c-4f9a-bc49-dd95d20929ff",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "ed30d498-84ee-44f8-ae3d-f59ebfae4308",
      "name": "Read Ad Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblH1ztufqk5Kkkln"
        },
        "filterByFormula": "=IS_AFTER({Date}, DATEADD(TODAY(), -7, 'days'))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "77c13e30-3cce-412e-903e-1b26c9133713",
      "name": "Read Organic Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblLI70ZD0DkJKXvI"
        },
        "filterByFormula": "=IS_AFTER({Published At}, DATEADD(TODAY(), -7, 'days'))",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "5d991b26-18f6-427b-95a8-0d566ca1526d",
      "name": "Merge Paid Organic",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        750,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "b14c8c26-32b3-452b-a575-1e46e427ab7c",
      "name": "Compute Attribution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Compute cross-channel attribution: paid + organic data\nconst adPerf = $('Read Ad Performance').all();\nconst orgPerf = $('Read Organic Performance').all();\n\nconst channels = {};\n\n// Aggregate paid performance\nfor (const item of adPerf) {\n  const d = item.json;\n  if (d.skip) continue;\n  const key = d.Platform || 'unknown';\n  if (!channels[key]) {\n    channels[key] = {channel: key, type: 'paid', spend: 0, conversions: 0, clicks: 0, impressions: 0};\n  }\n  channels[key].spend += d['Spend ZAR'] || 0;\n  channels[key].conversions += d.Conversions || 0;\n  channels[key].clicks += d.Clicks || 0;\n  channels[key].impressions += d.Impressions || 0;\n}\n\n// Aggregate organic performance\nfor (const item of orgPerf) {\n  const d = item.json;\n  const key = 'organic_' + (d.Platform || d.platform || 'content');\n  if (!channels[key]) {\n    channels[key] = {channel: key, type: 'organic', spend: 0, conversions: 0, clicks: 0, impressions: 0};\n  }\n  channels[key].clicks += d.Clicks || d.clicks || d.Engagement || 0;\n  channels[key].impressions += d.Impressions || d.impressions || d.Reach || 0;\n}\n\n// Compute metrics\nconst totalSpend = Object.values(channels).reduce((sum, c) => sum + c.spend, 0);\nconst totalConversions = Object.values(channels).reduce((sum, c) => sum + c.conversions, 0);\nconst blendedCAC = totalConversions > 0 ? totalSpend / totalConversions : 0;\n\nconst results = Object.values(channels).map(c => ({\n  channel: c.channel,\n  type: c.type,\n  spend: parseFloat(c.spend.toFixed(2)),\n  conversions: c.conversions,\n  clicks: c.clicks,\n  impressions: c.impressions,\n  cpa: c.conversions > 0 ? parseFloat((c.spend / c.conversions).toFixed(2)) : 0,\n  roas: c.spend > 0 ? parseFloat(((c.conversions * 100) / c.spend).toFixed(2)) : 0,\n  spendShare: totalSpend > 0 ? parseFloat((c.spend / totalSpend * 100).toFixed(1)) : 0,\n}));\n\nreturn [{json: {\n  channels: results,\n  totalSpend: parseFloat(totalSpend.toFixed(2)),\n  totalConversions: totalConversions,\n  blendedCAC: parseFloat(blendedCAC.toFixed(2)),\n  reportDate: new Date().toISOString().split('T')[0],\n}}];\n"
      }
    },
    {
      "id": "db21173b-1502-4af0-88f5-470f0463749c",
      "name": "AI Attribution Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 1500, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Attribution Analyst for AnyVision Media.\\n\\nCROSS-CHANNEL DATA (last 7 days):\\n{{JSON.stringify($json)}}\\n\\nAnalyze the data and provide:\\n1. CHANNEL EFFICIENCY: Rank channels by ROI (both paid and organic)\\n2. BUDGET REALLOCATION: Should budget shift between channels? Be specific.\\n3. ORGANIC-PAID SYNERGY: Are organic and paid reinforcing each other?\\n4. CAC ANALYSIS: Is the blended customer acquisition cost sustainable?\\n5. RECOMMENDED ACTIONS: 2-3 specific budget or strategy changes\\n\\nOutput as JSON:\\n{\\n  \\\"channel_rankings\\\": [{\\\"channel\\\": \\\"\\\", \\\"efficiency_score\\\": 0, \\\"recommendation\\\": \\\"\\\"}],\\n  \\\"budget_reallocation\\\": {\\\"from\\\": \\\"\\\", \\\"to\\\": \\\"\\\", \\\"amount_zar\\\": 0, \\\"reasoning\\\": \\\"\\\"},\\n  \\\"synergy_insights\\\": \\\"\\\",\\n  \\\"cac_assessment\\\": \\\"\\\",\\n  \\\"actions\\\": [\\\"\\\"]\\n}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "7bd2d5bc-b184-4e84-ae84-645aae47c4b7",
      "name": "Format Attribution Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Transform AI Attribution Analyst response into Orchestrator Events fields\nconst aiResp = $input.first().json;\nconst content = aiResp.choices?.[0]?.message?.content || JSON.stringify(aiResp);\n\nreturn [{json: {\n  'Event Type': 'kpi_update',\n  'Source Agent': 'ADS-07',\n  'Priority': 'P4',\n  'Status': 'Completed',\n  'Payload': typeof content === 'string' ? content : JSON.stringify(content),\n  'Created At': new Date().toISOString(),\n}}];\n"
      }
    },
    {
      "id": "45872402-7404-41be-8233-43b1e920b6e7",
      "name": "Write Attribution",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appTCh0EeXQp0XqzW"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblgHAw52EyUcIkWR"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "={{ $json['Event Type'] }}",
            "Source Agent": "={{ $json['Source Agent'] }}",
            "Priority": "={{ $json['Priority'] }}",
            "Status": "={{ $json['Status'] }}",
            "Payload": "={{ $json['Payload'] }}",
            "Created At": "={{ $json['Created At'] }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "d89b733a-010b-4f0f-bb63-02680115bddb",
      "name": "Email Attribution Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads - Daily Attribution Report",
        "emailType": "html",
        "message": "={{\"<h2>Cross-Channel Attribution</h2><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Ad Performance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Organic Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Ad Performance": {
      "main": [
        [
          {
            "node": "Merge Paid Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Organic Performance": {
      "main": [
        [
          {
            "node": "Merge Paid Organic",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paid Organic": {
      "main": [
        [
          {
            "node": "Compute Attribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Attribution": {
      "main": [
        [
          {
            "node": "AI Attribution Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Attribution Analyst": {
      "main": [
        [
          {
            "node": "Format Attribution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Attribution Data": {
      "main": [
        [
          {
            "node": "Write Attribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Attribution": {
      "main": [
        [
          {
            "node": "Email Attribution Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}