workflows/ads-dept/ads05_optimization_engine.json
{
  "name": "AVM Ads: Optimization Engine",
  "nodes": [
    {
      "id": "94c747dc-9beb-44c4-b99b-a70b413b3103",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "110bb24f-b713-44b8-bc17-16798bcb6233",
      "name": "Read 7-Day Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblH1ztufqk5Kkkln"
        },
        "filterByFormula": "=IS_AFTER({Date}, DATEADD(TODAY(), -7, 'days'))",
        "options": {}
      }
    },
    {
      "id": "94f08186-3da1-449a-a762-efdc71b364fa",
      "name": "Read Budgets",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblhYDUzyzNxnQQXw"
        },
        "filterByFormula": "={Status}='Active'",
        "options": {}
      }
    },
    {
      "id": "e8877fd9-4b35-49b2-aabe-adabdad2717a",
      "name": "Compute Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Compute optimization signals from 7-day performance data\nconst items = $input.all();\nconst campaignStats = {};\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.skip) continue;\n\n  const key = d['Campaign Name'] + '|' + d.Platform;\n  if (!campaignStats[key]) {\n    campaignStats[key] = {\n      campaign: d['Campaign Name'],\n      platform: d.Platform,\n      days: 0,\n      totalSpend: 0,\n      totalClicks: 0,\n      totalImpressions: 0,\n      totalConversions: 0,\n      dailySpends: [],\n      dailyCTRs: [],\n      dailyCPAs: [],\n    };\n  }\n\n  const s = campaignStats[key];\n  s.days++;\n  s.totalSpend += d['Spend ZAR'] || 0;\n  s.totalClicks += d.Clicks || 0;\n  s.totalImpressions += d.Impressions || 0;\n  s.totalConversions += d.Conversions || 0;\n  s.dailySpends.push(d['Spend ZAR'] || 0);\n  s.dailyCTRs.push(d.CTR || 0);\n  if (d.Conversions > 0) s.dailyCPAs.push(d['CPA ZAR'] || 0);\n}\n\nconst results = [];\nfor (const [key, s] of Object.entries(campaignStats)) {\n  const avgDailySpend = s.totalSpend / Math.max(s.days, 1);\n  const avgCTR = s.dailyCTRs.reduce((a, b) => a + b, 0) / Math.max(s.dailyCTRs.length, 1);\n  const avgCPA = s.dailyCPAs.length > 0\n    ? s.dailyCPAs.reduce((a, b) => a + b, 0) / s.dailyCPAs.length\n    : 0;\n  const roas = s.totalSpend > 0 ? (s.totalConversions * 100) / s.totalSpend : 0;\n\n  // Trend: compare last 3 days vs first 3 days\n  const recentSpend = s.dailySpends.slice(-3).reduce((a, b) => a + b, 0) / 3;\n  const earlySpend = s.dailySpends.slice(0, 3).reduce((a, b) => a + b, 0) / 3;\n  const spendTrend = earlySpend > 0 ? (recentSpend - earlySpend) / earlySpend : 0;\n\n  results.push({json: {\n    campaign: s.campaign,\n    platform: s.platform,\n    days: s.days,\n    totalSpend: parseFloat(s.totalSpend.toFixed(2)),\n    avgDailySpend: parseFloat(avgDailySpend.toFixed(2)),\n    totalClicks: s.totalClicks,\n    totalImpressions: s.totalImpressions,\n    totalConversions: s.totalConversions,\n    avgCTR: parseFloat(avgCTR.toFixed(4)),\n    avgCPA: parseFloat(avgCPA.toFixed(2)),\n    roas: parseFloat(roas.toFixed(2)),\n    spendTrend: parseFloat(spendTrend.toFixed(2)),\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No performance data'}}];\n"
      }
    },
    {
      "id": "471d45bd-cd7e-4b7e-92f3-0c3ffc023b46",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "b42b43e6-11b6-4500-99b7-7b87d0b04050",
      "name": "Aggregate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1125,
        350
      ],
      "parameters": {
        "jsCode": "\n// Collect all merged items into structured context\nconst items = $input.all();\nconst performance = [];\nconst budgets = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d['Allocation Name'] || d['Daily Budget ZAR'] !== undefined) {\n    budgets.push(d);\n  } else {\n    performance.push(d);\n  }\n}\n\nreturn [{json: {\n  performance_data: performance,\n  budget_data: budgets,\n  timestamp: new Date().toISOString(),\n}}];\n"
      }
    },
    {
      "id": "acb33946-3433-4b9a-8662-3e8397056729",
      "name": "AI Optimizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 2000, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Ads Optimization Agent for AnyVision Media.\\n\\nCRITICAL RULES:\\n- AVM ONLY runs Google Ads and Meta Ads (Facebook/Instagram). Do NOT reference YouTube, LinkedIn, TikTok, or any other platform.\\n- ONLY reference campaigns that actually exist in the performance data below. NEVER invent campaign names.\\n- If the data contains campaign names, use those EXACT names. Do NOT create fictional names like \\\"Facebook Brand Awareness\\\" or \\\"Google Search - Premium Products\\\".\\n- If there is insufficient data to make recommendations, say so honestly.\\n\\n7-DAY PERFORMANCE DATA:\\n{{JSON.stringify($json)}}\\n\\nCURRENT BUDGET ALLOCATION:\\n{{JSON.stringify($json)}}\\n\\nSAFETY CONSTRAINTS:\\n- Daily budget per campaign: max R500\\n- Weekly total across all campaigns: max R2600\\n- Monthly total: max R11000\\n- Max single bid change: 30%\\n- Max auto-approve budget increase: R200/day\\n\\nAnalyze trends and recommend specific optimizations:\\n\\nFor each recommendation, output JSON:\\n{{\\n  \\\"campaign_name\\\": \\\"...\\\",\\n  \\\"platform\\\": \\\"...\\\",\\n  \\\"action\\\": \\\"bid_adjust|budget_change|pause|reactivate|targeting_change\\\",\\n  \\\"current_value\\\": N,\\n  \\\"proposed_value\\\": N,\\n  \\\"change_percent\\\": N,\\n  \\\"reasoning\\\": \\\"...\\\",\\n  \\\"confidence\\\": \\\"high|medium|low\\\",\\n  \\\"auto_approvable\\\": true/false\\n}}\\n\\nRules:\\n- Be conservative. Only recommend changes backed by data.\\n- Flag auto_approvable=true ONLY if bid change < 20% AND budget increase < R200/day\\n- Recommend pausing campaigns with CPA > R500 and < 5 conversions\\n- Recommend increasing budget for campaigns with ROAS > 3.0\\n- Never recommend exceeding safety caps\\n\\nOutput as JSON array.\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "cfab1678-24db-4487-b718-ecc3f8e53883",
      "name": "Parse Optimizations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Parse AI optimization recommendations into flat list with _autoApprove flag\nconst aiResp = $('AI Optimizer').first().json;\nconst content = aiResp.choices?.[0]?.message?.content || '[]';\n\nlet recommendations;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  recommendations = JSON.parse(cleaned);\n} catch (e) {\n  return [{json: {skip: true, _noData: true}}];\n}\n\nif (!Array.isArray(recommendations)) recommendations = [recommendations];\nif (recommendations.length === 0) {\n  return [{json: {skip: true, _noData: true}}];\n}\n\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\n\nfor (const rec of recommendations) {\n  const isAuto = !!rec.auto_approvable;\n  results.push({json: {\n    'Campaign Name': rec.campaign_name || rec.campaign || 'Unknown',\n    'Request Type': 'Optimization',\n    'Requested By': 'ADS-05',\n    'Details': JSON.stringify(rec),\n    'Created At': now,\n    'Status': isAuto ? 'Approved' : 'Pending',\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, _noData: true}}];\n"
      }
    },
    {
      "id": "928e17e5-e859-4a2b-a360-e48e33564b99",
      "name": "Filter Valid Opts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1625,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "df94b435-615a-4457-bfb5-6484dba2b727",
      "name": "Auto Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.Status === 'Approved'}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "8f0cfcc2-ae7d-445f-9d3c-5e1540a850a3",
      "name": "Log Auto Changes",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblov57B8uj09ZF2k"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "d13cb105-47b3-4de7-9a85-3d9ce319f772",
      "name": "Create Approval Requests",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblov57B8uj09ZF2k"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "0aba67af-57e7-4532-a622-8243cdaee25a",
      "name": "Email Optimization Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        350
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads - Daily Optimization Report",
        "emailType": "html",
        "message": "={{\"<h2>Optimization Recommendations</h2><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read 7-Day Performance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Budgets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 7-Day Performance": {
      "main": [
        [
          {
            "node": "Compute Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Signals": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Budgets": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "AI Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimizer": {
      "main": [
        [
          {
            "node": "Parse Optimizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Optimizations": {
      "main": [
        [
          {
            "node": "Filter Valid Opts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Opts": {
      "main": [
        [
          {
            "node": "Auto Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approve?": {
      "main": [
        [
          {
            "node": "Log Auto Changes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Approval Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Auto Changes": {
      "main": [
        [
          {
            "node": "Email Optimization Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Requests": {
      "main": [
        [
          {
            "node": "Email Optimization Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L915QaaJuo6au7Oe"
  }
}