workflows/ads-dept/ads03_campaign_builder.json
{
  "name": "AVM Ads: Campaign Builder",
  "nodes": [
    {
      "id": "a32ffd25-b405-48ac-b6ca-d0f3bb0bb90c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "acbc795b-d9f3-48c0-abe5-269c296b7851",
      "parameters": {
        "path": "ads-build-campaign",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "d71af9bd-4cc4-48f2-b252-995f776c1b3a",
      "name": "Read Approved Campaigns",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblon2FDqfifeF1Iv"
        },
        "filterByFormula": "={Status}='Approved'",
        "options": {}
      }
    },
    {
      "id": "ccbbb56c-d40a-4feb-8dde-344bbd453954",
      "name": "Read Creatives",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblF1FwoZEQlMG6X9"
        },
        "filterByFormula": "={Status}='Approved'",
        "options": {}
      }
    },
    {
      "id": "8f754e05-f767-441a-822b-77f1fcc24d23",
      "name": "Budget Safety Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Budget safety check - enforce all caps before campaign creation\nconst items = $input.all();\nconst DAILY_CAP = 400;\nconst WEEKLY_CAP = 2000;\nconst MONTHLY_CAP = 8700;\n\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const dailyBudget = d['Daily Budget ZAR'] || 0;\n  const errors = [];\n\n  if (dailyBudget > DAILY_CAP) {\n    errors.push(`Daily R${dailyBudget} exceeds cap R${DAILY_CAP}`);\n  }\n  if (dailyBudget * 7 > WEEKLY_CAP) {\n    errors.push(`Weekly projection R${dailyBudget * 7} exceeds cap R${WEEKLY_CAP}`);\n  }\n  if (dailyBudget * 30 > MONTHLY_CAP) {\n    errors.push(`Monthly projection R${dailyBudget * 30} exceeds cap R${MONTHLY_CAP}`);\n  }\n\n  if (errors.length > 0) {\n    results.push({json: {\n      ...d,\n      _budgetSafe: false,\n      _budgetErrors: errors,\n    }});\n  } else {\n    results.push({json: {\n      ...d,\n      _budgetSafe: true,\n      _budgetErrors: [],\n    }});\n  }\n}\n\nreturn results;\n"
      }
    },
    {
      "id": "f4272291-bd34-4121-9c03-b3de574b2ad7",
      "name": "Budget Safe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json._budgetSafe}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "2c910f87-5918-4877-9eaf-ab6c77060811",
      "name": "Build Google Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        100
      ],
      "parameters": {
        "jsCode": "\n// Build Google Ads campaign creation payload\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d._budgetSafe) continue;\n\n  const dailyBudgetMicros = Math.round((d['Daily Budget ZAR'] || 100) * 1000000);\n\n  results.push({json: {\n    _platform: 'google_ads',\n    _campaignName: d['Campaign Name'],\n    operations: [\n      {\n        create: {\n          name: d['Campaign Name'],\n          advertisingChannelType: d.Objective === 'Video_Views' ? 'VIDEO' : 'SEARCH',\n          status: 'PAUSED',\n          containsEuPoliticalAdvertising: false,\n          campaignBudget: {\n            amountMicros: dailyBudgetMicros,\n            deliveryMethod: 'STANDARD',\n          },\n          startDate: new Date().toISOString().split('T')[0].replace(/-/g, ''),\n          endDate: new Date(Date.now() + (d.duration_days || 14) * 86400000).toISOString().split('T')[0].replace(/-/g, ''),\n        }\n      }\n    ],\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true}}];\n"
      }
    },
    {
      "id": "c7913331-3d78-426d-a3ea-ff1e49582647",
      "name": "Build Meta Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "\n// Build Meta Ads campaign creation payload\nconst items = $input.all();\nconst results = [];\n\nconst objectiveMap = {\n  'Traffic': 'OUTCOME_TRAFFIC',\n  'Conversions': 'OUTCOME_SALES',\n  'Lead_Gen': 'OUTCOME_LEADS',\n  'Awareness': 'OUTCOME_AWARENESS',\n  'Video_Views': 'OUTCOME_ENGAGEMENT',\n};\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d._budgetSafe) continue;\n\n  results.push({json: {\n    _platform: 'meta_ads',\n    _campaignName: d['Campaign Name'],\n    name: d['Campaign Name'],\n    objective: objectiveMap[d.Objective] || 'OUTCOME_LEADS',\n    status: 'PAUSED',\n    daily_budget: Math.round((d['Daily Budget ZAR'] || 100) * 100),\n    special_ad_categories: [],\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true}}];\n"
      }
    },
    {
      "id": "f85415b0-e816-41a9-bc0b-9db092631c51",
      "name": "Create Google Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v20/customers/5876156009/campaigns:mutate",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "abkg9bL66BFOj2F3",
          "name": "Google Ads OAuth2"
        }
      }
    },
    {
      "id": "0fc6f133-0977-42a0-9cbe-da085bf30ebc",
      "name": "Create Meta Campaign",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "4UZH1VRXvVufgvrI",
          "name": "Meta Ads Graph API"
        }
      },
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v25.0",
        "node": "=act_26395704183451218/campaigns",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "name",
                "value": "={{$json.name}}"
              },
              {
                "name": "objective",
                "value": "={{$json.objective}}"
              },
              {
                "name": "status",
                "value": "={{$json.status}}"
              },
              {
                "name": "daily_budget",
                "value": "={{$json.daily_budget}}"
              },
              {
                "name": "special_ad_categories",
                "value": "={{JSON.stringify($json.special_ad_categories || [])}}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "23567e50-579e-4e74-a408-76d441bc87c2",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "5e8fa23b-4ffc-460e-9c90-367ed60590fa",
      "name": "Update Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "jsCode": "\n// Update campaign status to Launched after creation\nconst items = $input.all();\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.skip) continue;\n\n  results.push({json: {\n    'Campaign Name': d._campaignName || d['Campaign Name'] || 'Unknown',\n    'Status': 'Launched',\n    'Start Date': now,\n    'External Campaign ID': d.id || d.campaign_id || '',\n  }});\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true}}];\n"
      }
    },
    {
      "id": "d923ca26-04f7-4d0d-94a0-1d16bb6ffd28",
      "name": "Budget Rejected Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1250,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads ALERT - Budget Safety Block",
        "emailType": "html",
        "message": "={{\"<h2>BUDGET SAFETY BLOCK</h2><pre>\" + JSON.stringify($json._budgetErrors, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Approved Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Campaigns": {
      "main": [
        [
          {
            "node": "Read Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Creatives": {
      "main": [
        [
          {
            "node": "Budget Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Safety Check": {
      "main": [
        [
          {
            "node": "Budget Safe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Safe?": {
      "main": [
        [
          {
            "node": "Build Google Campaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Meta Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Budget Rejected Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Google Campaign": {
      "main": [
        [
          {
            "node": "Create Google Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meta Campaign": {
      "main": [
        [
          {
            "node": "Create Meta Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Campaign": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meta Campaign": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}