workflows/ads-dept/ads04_performance_monitor.json
{
  "name": "AVM Ads: Performance Monitor",
  "nodes": [
    {
      "id": "36dbd66f-9d18-496f-b081-17410de34373",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "f85eef8d-4d94-415e-a6dc-bb2529bc05b7",
      "name": "Read Active Campaigns",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblon2FDqfifeF1Iv"
        },
        "filterByFormula": "=OR({Status}='Launched',{Status}='Active')",
        "options": {}
      }
    },
    {
      "id": "d8e62ca1-3849-4c71-842a-641abb6a68d9",
      "name": "Google Ads Get Campaigns",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        750,
        100
      ],
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "abkg9bL66BFOj2F3",
          "name": "Google Ads OAuth2"
        }
      },
      "parameters": {
        "resource": "campaign",
        "operation": "getAll",
        "managerCustomerId": "8709868142",
        "clientCustomerId": "5876156009",
        "returnAll": true,
        "additionalFields": {}
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "ff8a380b-2b52-4d08-8523-b7dec4077cad",
      "name": "Transform Google Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ],
      "parameters": {
        "jsCode": "\n// Transform Google Ads API response to common schema\nconst items = $input.all();\n\n// Handle upstream error / empty data (continueOnFail produces error item)\nif (!items.length || items[0].json?.error || items[0].json?.message?.includes?.('403')) {\n  return [{json: {skip: true, reason: 'Google Ads API unavailable'}}];\n}\n\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nconst hour = new Date().toISOString().split('T')[1].substring(0, 5);\n\nfor (const item of items) {\n  const d = item.json;\n  const metrics = d.metrics || d;\n  const campaign = d.campaign || {};\n\n  const impressions = parseInt(metrics.impressions || 0);\n  // Google Ads API returns 'interactions' (superset of clicks); fall back to clicks if present\n  const clicks = parseInt(metrics.clicks || metrics.interactions || 0);\n  const costMicros = parseInt(metrics.costMicros || metrics.cost_micros || 0);\n  const conversions = parseFloat(metrics.conversions || 0);\n  const videoViews = parseInt(metrics.videoViews || metrics.video_views || 0);\n\n  const spendZAR = costMicros / 1000000;\n  const ctr = impressions > 0 ? clicks / impressions : 0;\n  const cpc = clicks > 0 ? spendZAR / clicks : 0;\n  const cpm = impressions > 0 ? (spendZAR / impressions) * 1000 : 0;\n  const cpa = conversions > 0 ? spendZAR / conversions : 0;\n  const roas = spendZAR > 0 ? (conversions * 100) / spendZAR : 0;\n\n  // n8n Google Ads node returns flat structure: d.name, d.id (not nested under campaign)\n  const campaignName = campaign.name || d.name || d.campaignName || 'Unknown';\n  const campaignId = campaign.id || d.id || 'unknown';\n\n  results.push({\n    json: {\n      'Performance ID': `gads_${campaignId}_${now}_${hour}`,\n      'Campaign Name': campaignName,\n      'Platform': 'google_ads',\n      'Date': now,\n      'Impressions': impressions,\n      'Clicks': clicks,\n      'CTR': parseFloat(ctr.toFixed(4)),\n      'Spend ZAR': parseFloat(spendZAR.toFixed(2)),\n      'Conversions': Math.round(conversions),\n      'CPA ZAR': parseFloat(cpa.toFixed(2)),\n      'ROAS': parseFloat(roas.toFixed(2)),\n      'CPM ZAR': parseFloat(cpm.toFixed(2)),\n      'CPC ZAR': parseFloat(cpc.toFixed(2)),\n      'Video Views': videoViews,\n      'Engagement Rate': 0,\n      'Snapshot Hour': hour,\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No Google Ads data'}}];\n"
      }
    },
    {
      "id": "8582b156-0110-497b-b430-03232ebb6274",
      "name": "Meta Ads Get Insights",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "4UZH1VRXvVufgvrI",
          "name": "Meta Ads Graph API"
        }
      },
      "parameters": {
        "httpRequestMethod": "GET",
        "graphApiVersion": "v25.0",
        "node": "=act_26395704183451218/insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "campaign_id,campaign_name,impressions,clicks,spend,actions,cpc,cpm,ctr,reach"
              },
              {
                "name": "date_preset",
                "value": "today"
              },
              {
                "name": "level",
                "value": "campaign"
              }
            ]
          }
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "13ee7f57-448a-4a77-9a87-d1e1fd813e30",
      "name": "Transform Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Transform Meta Ads insights to common schema\nconst items = $input.all();\n\n// Meta Graph API wraps insights in a data[] array\n// Response: { data: [ {campaign_id, impressions, ...}, ... ], paging: {...} }\nconst firstItem = items[0]?.json;\nif (!firstItem || firstItem.error || (!firstItem.data && !firstItem.impressions)) {\n  return [{json: {skip: true, reason: 'Meta Ads API unavailable'}}];\n}\n\n// Unwrap: if data[] array exists, iterate campaigns inside it; otherwise treat items as flat\nconst campaigns = firstItem.data || [firstItem];\n\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nconst hour = new Date().toISOString().split('T')[1].substring(0, 5);\n\nfor (const d of campaigns) {\n  const impressions = parseInt(d.impressions || 0);\n  const clicks = parseInt(d.clicks || 0);\n  const spend = parseFloat(d.spend || 0);\n  const reach = parseInt(d.reach || 0);\n\n  // Extract conversions from actions array\n  let conversions = 0;\n  if (d.actions) {\n    for (const action of d.actions) {\n      if (action.action_type === 'lead' || action.action_type === 'complete_registration' || action.action_type === 'purchase') {\n        conversions += parseInt(action.value || 0);\n      }\n    }\n  }\n\n  const ctr = impressions > 0 ? clicks / impressions : 0;\n  const cpc = clicks > 0 ? spend / clicks : 0;\n  const cpm = impressions > 0 ? (spend / impressions) * 1000 : 0;\n  const cpa = conversions > 0 ? spend / conversions : 0;\n  const roas = spend > 0 ? (conversions * 100) / spend : 0;\n  const engRate = reach > 0 ? clicks / reach : 0;\n\n  results.push({\n    json: {\n      'Performance ID': `meta_${d.campaign_id || 'unknown'}_${now}_${hour}`,\n      'Campaign Name': d.campaign_name || 'Unknown',\n      'Platform': 'meta_ads',\n      'Date': now,\n      'Impressions': impressions,\n      'Clicks': clicks,\n      'CTR': parseFloat(ctr.toFixed(4)),\n      'Spend ZAR': parseFloat(spend.toFixed(2)),\n      'Conversions': conversions,\n      'CPA ZAR': parseFloat(cpa.toFixed(2)),\n      'ROAS': parseFloat(roas.toFixed(2)),\n      'CPM ZAR': parseFloat(cpm.toFixed(2)),\n      'CPC ZAR': parseFloat(cpc.toFixed(2)),\n      'Video Views': parseInt(d.video_views || 0),\n      'Engagement Rate': parseFloat(engRate.toFixed(4)),\n      'Snapshot Hour': hour,\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No Meta Ads data'}}];\n"
      }
    },
    {
      "id": "92def560-3abc-42d1-845b-90ec006de1a7",
      "name": "Merge All Metrics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "6827dcf8-5e40-45b0-be76-14f130488300",
      "name": "Filter Valid Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "2e5bab68-28ad-48b0-bda9-5825b9ca0f1c",
      "name": "Write Ad Performance",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblH1ztufqk5Kkkln"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "71cb8825-a23a-49be-8c92-bfcdabe08da8",
      "name": "Anomaly Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "\n// Detect anomalies: spend > 2x daily budget, CTR drop > 50% vs 7-day avg\nconst items = $input.all();\nconst anomalies = [];\nconst DAILY_CAP = 400;\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.skip) continue;\n\n  const issues = [];\n\n  // Check spend against daily cap\n  if (d['Spend ZAR'] > DAILY_CAP) {\n    issues.push(`Spend R${d['Spend ZAR']} exceeds daily cap R${DAILY_CAP}`);\n  }\n\n  // Flag very low CTR (potential issue)\n  if (d.Impressions > 1000 && d.CTR < 0.001) {\n    issues.push(`CTR ${(d.CTR * 100).toFixed(2)}% critically low with ${d.Impressions} impressions`);\n  }\n\n  // Flag high CPA\n  if (d['CPA ZAR'] > 500 && d.Conversions > 0) {\n    issues.push(`CPA R${d['CPA ZAR']} exceeds R500 threshold`);\n  }\n\n  if (issues.length > 0) {\n    anomalies.push({\n      json: {\n        campaign: d['Campaign Name'],\n        platform: d.Platform,\n        date: d.Date,\n        issues: issues,\n        spendZAR: d['Spend ZAR'],\n        ctr: d.CTR,\n        cpa: d['CPA ZAR'],\n        severity: d['Spend ZAR'] > DAILY_CAP ? 'CRITICAL' : 'WARNING',\n      }\n    });\n  }\n}\n\nif (anomalies.length > 0) {\n  return anomalies;\n} else {\n  return [{json: {noAnomalies: true}}];\n}\n"
      }
    },
    {
      "id": "e5cae1bd-4af7-44e0-9c8a-b693d361605c",
      "name": "Has Anomalies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.noAnomalies}}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "087d56b6-7989-47c8-9aa4-b114ea9b896a",
      "name": "Send Anomaly Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2500,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads ALERT - Anomaly Detected",
        "emailType": "html",
        "message": "={{\"<h2>ADS ANOMALY ALERT</h2><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    },
    {
      "id": "e36cd915-b293-4657-9a3a-3c9240620bc2",
      "name": "No Anomalies",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2500,
        400
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Campaigns": {
      "main": [
        [
          {
            "node": "Google Ads Get Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Meta Ads Get Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Ads Get Campaigns": {
      "main": [
        [
          {
            "node": "Transform Google Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Google Data": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Ads Get Insights": {
      "main": [
        [
          {
            "node": "Transform Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Meta Data": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Metrics": {
      "main": [
        [
          {
            "node": "Filter Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Data": {
      "main": [
        [
          {
            "node": "Write Ad Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Ad Performance": {
      "main": [
        [
          {
            "node": "Anomaly Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Detection": {
      "main": [
        [
          {
            "node": "Has Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Anomalies": {
      "main": [
        [
          {
            "node": "Send Anomaly Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L915QaaJuo6au7Oe"
  }
}