workflows/ads-dept/ads02_copy_creative_generator.json
{
  "name": "AVM Ads: Copy & Creative Generator",
  "nodes": [
    {
      "id": "55b12254-51ad-4fbe-b5f8-63b6009269a6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "396a05ef-3182-4d41-980d-47dd413e83e6",
      "parameters": {
        "path": "ads-generate-creatives",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "d7d85158-5978-4a14-8f08-f13992f8b107",
      "name": "Read Campaign Plans",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblon2FDqfifeF1Iv"
        },
        "filterByFormula": "={Status}='Planned'",
        "options": {}
      }
    },
    {
      "id": "494d74ed-30a8-4f43-a92b-8287a09ae3f0",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        625,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$input.all().length > 0}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "24e686cb-565a-430e-b23a-bae247241b21",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "google_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "meta_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.Platform}}",
                    "rightValue": "tiktok_ads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "4640b36f-6686-443a-8403-89770080076f",
      "name": "Google Copy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 2000, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Google Ads Copywriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\n\\nGenerate a Google Responsive Search Ad (RSA) with:\\n- 15 headlines (EXACTLY 30 characters max each, no exceptions)\\n- 4 descriptions (EXACTLY 90 characters max each, no exceptions)\\n- display_url_path1 (15 chars max)\\n- display_url_path2 (15 chars max)\\n\\nRules:\\n- Include \\\"AnyVision Media\\\" or \\\"AnyVision\\\" in at least 2 headlines\\n- Include numbers/stats where possible (\\\"3x ROI\\\", \\\"60% faster\\\")\\n- Include CTA headlines (\\\"Book Free Call\\\", \\\"Start Today\\\")\\n- No exclamation marks in headlines (Google policy)\\n- South African English spelling\\n\\nOutput as JSON: {{\\\"headlines\\\": [...], \\\"descriptions\\\": [...], \\\"display_url_path1\\\": \\\"...\\\", \\\"display_url_path2\\\": \\\"...\\\"}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "8c02ab06-0542-4d11-a341-e7f673c2a7c9",
      "name": "Meta Copy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 1500, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM Meta Ads Copywriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\nAD FORMAT: Image\\n\\nGenerate a Meta (Facebook/Instagram) ad with:\\n- primary_text: compelling body copy (max 125 chars for feed, can be longer for other placements)\\n- headline: attention-grabbing headline (max 40 chars)\\n- description: supporting text (max 30 chars)\\n- cta: one of \\\"LEARN_MORE\\\", \\\"SIGN_UP\\\", \\\"CONTACT_US\\\", \\\"GET_QUOTE\\\", \\\"BOOK_NOW\\\"\\n\\nAlso generate 2 alternative versions for A/B testing.\\n\\nRules:\\n- Hook in first line (question, stat, or bold claim)\\n- Social proof where possible\\n- Clear value proposition for SaaS/AI automation\\n- South African English\\n\\nOutput as JSON: {{\\\"variants\\\": [{{\\\"primary_text\\\": \\\"...\\\", \\\"headline\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"cta\\\": \\\"...\\\"}}, ...]}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "f6ec590e-454f-4bfe-a26b-56a03aa7b5e1",
      "name": "TikTok Script Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "openRouterApi": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://www.anyvisionmedia.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"anthropic/claude-sonnet-4\", \"max_tokens\": 1500, \"temperature\": 0.7, \"messages\": [{\"role\": \"system\", \"content\": \"You are the AVM TikTok Ads Scriptwriter for AnyVision Media.\\n\\nCAMPAIGN: {{$json['Campaign Name']}}\\nOBJECTIVE: {{$json.Objective}}\\nTARGET AUDIENCE: {{$json['Target Audience']}}\\nKEY MESSAGES: {{$json['Key Messages']}}\\n\\nGenerate a TikTok ad script with:\\n- hook: first 3 seconds attention grabber (max 15 words)\\n- script: full video script (50-100 words, conversational tone)\\n- caption: post caption (max 100 chars)\\n- hashtags: 5 relevant hashtags\\n- cta_text: call to action overlay text (max 20 chars)\\n\\nRules:\\n- Native TikTok feel (not corporate)\\n- Problem-solution structure\\n- Fast-paced, direct language\\n- Speak to pain points of business owners\\n\\nOutput as JSON: {{\\\"hook\\\": \\\"...\\\", \\\"script\\\": \\\"...\\\", \\\"caption\\\": \\\"...\\\", \\\"hashtags\\\": [...], \\\"cta_text\\\": \\\"...\\\"}}\"}, {\"role\": \"user\", \"content\": \"={{JSON.stringify($json)}}\"}]}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "60f09b30-be8c-473b-94b2-52ed70b95490",
      "name": "Merge Creatives",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "9d676678-c6b8-4d8c-a6cd-95eeec0c16be",
      "name": "Parse Creatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "\n// Parse AI creative responses and prepare for Airtable.\n// Fixed 2026-04-10: recovers Campaign Name + Platform via paired-item\n// lookup to `Read Campaign Plans`. Drops items that cannot be matched\n// instead of writing \"Unknown\" garbage rows downstream.\nconst items = $input.all();\nconst results = [];\nconst now = new Date().toISOString().split('T')[0];\nlet idx = 0;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.json.skip) continue;\n\n  // Recover original campaign via paired-item reference\n  let campaignName = null;\n  let platform = null;\n  try {\n    const original = $('Read Campaign Plans').itemMatching(i);\n    if (original && original.json) {\n      const fields = original.json.fields || original.json;\n      campaignName = fields['Campaign Name'] || null;\n      platform = fields['Platform'] || null;\n    }\n  } catch (e) {\n    // pairedItem unavailable — fall through\n  }\n\n  // Fall back to inline metadata if present\n  if (!campaignName) campaignName = item.json._campaignName || null;\n  if (!platform) platform = item.json._platform || 'google_ads';\n\n  // Drop items with no recoverable campaign — prevents \"Unknown\" garbage rows\n  if (!campaignName || campaignName === 'Unknown') continue;\n\n  const resp = item.json;\n  const content = resp.choices?.[0]?.message?.content || JSON.stringify(resp);\n\n  let creative;\n  try {\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    creative = JSON.parse(cleaned);\n  } catch (e) {\n    creative = {raw: content};\n  }\n\n  // Handle Google RSA format\n  if (creative.headlines) {\n    idx++;\n    results.push({json: {\n      'Creative Name': `${campaignName} - RSA ${now} #${idx}`,\n      'Campaign Name': campaignName,\n      'Platform': platform,\n      'Ad Format': 'RSA',\n      'Status': 'Draft',\n      'Headlines': JSON.stringify(creative.headlines),\n      'Descriptions': JSON.stringify(creative.descriptions || []),\n      'CTA': 'Learn_More',\n      'Created At': now,\n    }});\n  }\n\n  // Handle Meta format with variants\n  if (creative.variants) {\n    for (const v of creative.variants) {\n      idx++;\n      results.push({json: {\n        'Creative Name': `${campaignName} - Meta ${now} #${idx}`,\n        'Campaign Name': campaignName,\n        'Platform': platform,\n        'Ad Format': 'Image',\n        'Status': 'Draft',\n        'Primary Text': v.primary_text || '',\n        'Headlines': JSON.stringify([v.headline || '']),\n        'Descriptions': JSON.stringify([v.description || '']),\n        'CTA': (v.cta || 'Learn_More').replace('_', '_'),\n        'Created At': now,\n      }});\n    }\n  }\n\n  // Handle TikTok format\n  if (creative.hook && creative.script) {\n    idx++;\n    results.push({json: {\n      'Creative Name': `${campaignName} - TikTok ${now} #${idx}`,\n      'Campaign Name': campaignName,\n      'Platform': platform,\n      'Ad Format': 'Video',\n      'Status': 'Draft',\n      'Primary Text': creative.script,\n      'Headlines': JSON.stringify([creative.hook]),\n      'Descriptions': JSON.stringify([creative.caption || '']),\n      'CTA': 'Learn_More',\n      'Created At': now,\n    }});\n  }\n}\n\nreturn results.length > 0 ? results : [{json: {skip: true, reason: 'No creatives parsed'}}];\n"
      }
    },
    {
      "id": "61f6331f-8c06-4631-937c-6b25b5ff8435",
      "name": "Filter Valid Creatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "jsCode": "\n// Filter out skip items (no data from platform)\nconst items = $input.all();\nreturn items.filter(item => !item.json.skip);\n"
      }
    },
    {
      "id": "8805666f-2173-44d1-8c89-db8b2a7275d5",
      "name": "Write Creatives",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblF1FwoZEQlMG6X9"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 60000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "73303f53-cd66-4f89-9d86-abde2612aae9",
      "name": "Create Approval Request",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2250,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "apptjjBx34z9340tK"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblov57B8uj09ZF2k"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign Name": "={{ $('Parse Creatives').item.json['Campaign Name'] }}",
            "Request Type": "Creative_Update",
            "Requested By": "ADS-02",
            "Status": "Pending",
            "Details": "={{ $('Parse Creatives').item.json['Creative Name'] + ' (' + $('Parse Creatives').item.json['Platform'] + ')' }}",
            "Created At": "={{ new Date().toISOString().split('T')[0] }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "b3e6fd18-c04d-4fd0-95db-c630f1ac83c7",
      "name": "Email Approval Link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2500,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      },
      "parameters": {
        "operation": "send",
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "AVM Ads - New Creatives Pending Approval",
        "emailType": "html",
        "message": "={{\"<h2>New Ad Creatives Ready for Review</h2><p>\" + $json['Creative Name'] + \" created for \" + $json['Campaign Name'] + \"</p><pre>\" + JSON.stringify($json, null, 2) + \"</pre>\"}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Campaign Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Campaign Plans": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "Google Copy Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Copy Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Script Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Copy Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Copy Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TikTok Script Agent": {
      "main": [
        [
          {
            "node": "Merge Creatives",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Creatives": {
      "main": [
        [
          {
            "node": "Parse Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Creatives": {
      "main": [
        [
          {
            "node": "Filter Valid Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Creatives": {
      "main": [
        [
          {
            "node": "Write Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Creatives": {
      "main": [
        [
          {
            "node": "Create Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Request": {
      "main": [
        [
          {
            "node": "Email Approval Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L915QaaJuo6au7Oe"
  }
}