workflows/whatsapp-agent/wa02_crm_sync.json
{
  "name": "WhatsApp Agent - CRM Sync (WA-02)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "7200dce8-e084-48c4-bfbd-91e6bf120eef",
      "name": "Every 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "cafde776-d468-4c6c-b0da-e7aff076ae16",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        200,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzcZpiIZ6QPtJXT",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl72lkYHRbZHIK4u",
          "mode": "id"
        },
        "filterByFormula": "=IS_AFTER({Created At}, DATEADD(NOW(), -2, 'hours'))"
      },
      "id": "6400ed3c-d9b9-4a8d-b72c-4606b7cfd06d",
      "name": "Read Recent Messages",
      "type": "n8n-nodes-base.airtable",
      "position": [
        440,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract unique new contacts from message log (last 2h)\nconst messages = $input.all();\nconst now = new Date();\nconst twoHoursAgo = new Date(now - 2 * 60 * 60 * 1000);\nconst contactMap = {};\n\nfor (const item of messages) {\n  const fields = item.json.fields || item.json;\n  const createdAt = new Date(fields['Created At'] || fields.created_at || now);\n\n  if (createdAt < twoHoursAgo) continue;\n\n  const contact = fields['Contact'] || fields.contact || fields['From'] || '';\n  const name = fields['Contact Name'] || fields.contact_name || '';\n  const phone = fields['Phone'] || fields.phone || contact;\n\n  if (!contact || contactMap[contact]) continue;\n\n  contactMap[contact] = {\n    contact_id: contact,\n    name: name,\n    phone: phone,\n    first_message_at: createdAt.toISOString(),\n    message_count: 1,\n  };\n}\n\n// Deduplicate\nconst uniqueContacts = Object.values(contactMap);\n\nreturn {\n  json: {\n    contacts: uniqueContacts,\n    total_new: uniqueContacts.length,\n    sync_at: now.toISOString(),\n  }\n};"
      },
      "id": "d93e160d-0d68-4506-872a-f91f6da19dc1",
      "name": "Extract Contacts",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://portal.anyvisionmedia.com/api/admin/agents",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({agent: 'agent_whatsapp', status: 'healthy', last_run: $now.toFormat('yyyy-MM-dd HH:mm:ss'), metrics: {new_contacts: $json.total_new, sync_at: $json.sync_at}}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c0cbac0b-b5ee-46c7-8877-55a864842519",
      "name": "Update Agent Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        920,
        400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const contacts = $('Extract Contacts').first().json.contacts || [];\nif (contacts.length === 0) {\n  return { json: { skip: true, message: 'No new contacts' } };\n}\nreturn contacts.map(c => ({\n  json: {\n    contact_id: c.contact_id,\n    name: c.name,\n    phone: c.phone,\n    source: 'whatsapp',\n    first_message_at: c.first_message_at,\n  }\n}));"
      },
      "id": "0754d918-2615-4a39-a32a-3b972ea2926b",
      "name": "Prepare Lead Items",
      "type": "n8n-nodes-base.code",
      "position": [
        1160,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://portal.anyvisionmedia.com/api/stats/lead-created",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({contact_id: $json.contact_id, name: $json.name, phone: $json.phone, source: 'whatsapp', first_message_at: $json.first_message_at}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bcc5c4f5-3f27-413d-bee1-b6f013f7b350",
      "name": "Post Lead Created",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1400,
        400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "99184b2a-210b-4069-a1ab-0cd881a9e4dd",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        200,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "WA-02 ERROR - CRM Sync",
        "emailType": "html",
        "message": "=<h2>CRM Sync Error</h2>\n<p><strong>Workflow:</strong> {{ $json.workflow.name }}</p>\n<p><strong>Error:</strong> {{ $json.execution.error.message }}</p>\n<p><strong>Node:</strong> {{ $json.execution.lastNodeExecuted }}</p>\n<p><a href=\"{{ $json.execution.url }}\">View Execution</a></p>",
        "options": {}
      },
      "id": "6a2b496c-3502-4ecf-a557-308e94e46503",
      "name": "Error Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        440,
        880
      ],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "content": "## WA-02: CRM Sync\n\n**Schedule:** Every 30 minutes\n**Purpose:** Extract new WhatsApp contacts, update portal agent status, create lead records.",
        "height": 160,
        "width": 420
      },
      "id": "wa02-note-1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        220
      ],
      "typeVersion": 1,
      "name": "Note 1"
    }
  ],
  "connections": {
    "Every 30min": {
      "main": [
        [
          {
            "node": "Read Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Recent Messages": {
      "main": [
        [
          {
            "node": "Extract Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contacts": {
      "main": [
        [
          {
            "node": "Update Agent Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Status": {
      "main": [
        [
          {
            "node": "Prepare Lead Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Items": {
      "main": [
        [
          {
            "node": "Post Lead Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}