workflows/whatsapp-agent/wa03_issue_detector.json
{
  "name": "WhatsApp Agent - Issue Detector (WA-03)",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-issue-detect",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d79389af-5634-4f6b-a6a1-4b0118599582",
      "name": "Issue Detect Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        400
      ],
      "typeVersion": 2,
      "webhookId": "acd0604c-f68b-42bf-93ab-69e2d10ca43f"
    },
    {
      "parameters": {
        "jsCode": "// Scan message for urgency keywords\nconst body = $json.body || $json;\nconst message = (body.message || body.text || body.body || '').toLowerCase();\nconst contact = body.contact || body.from || body.phone || '';\nconst contactName = body.contact_name || body.name || '';\n\nconst urgencyKeywords = [\n  'complaint', 'urgent', 'problem', 'refund', 'angry', 'help',\n  'broken', 'cancel', 'furious', 'unacceptable', 'terrible',\n  'not working', 'down', 'error', 'fail', 'frustrated',\n  'disappointed', 'worst', 'scam', 'lawyer', 'legal',\n];\n\nconst foundKeywords = urgencyKeywords.filter(kw => message.includes(kw));\nconst isUrgent = foundKeywords.length > 0;\nconst urgencyScore = Math.min(100, foundKeywords.length * 20);\n\nreturn {\n  json: {\n    message: body.message || body.text || body.body || '',\n    contact: contact,\n    contact_name: contactName,\n    is_urgent: isUrgent,\n    urgency_score: urgencyScore,\n    found_keywords: foundKeywords,\n    scanned_at: new Date().toISOString(),\n  }\n};"
      },
      "id": "4d04735e-f838-42d5-bcec-ca93a8b2ac30",
      "name": "Scan Urgency",
      "type": "n8n-nodes-base.code",
      "position": [
        440,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_urgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "9640f8ad-8673-4490-9444-649a01fc7907",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an issue classifier for AnyVision Media's WhatsApp support channel, a digital media and AI automation agency in South Africa.\\n\\n## Your Task\\nClassify the severity and type of a detected urgent issue from a WhatsApp message.\\n\\n## Severity Levels\\n- critical: Service outage, data breach, legal threat, financial loss\\n- high: Client threatening to leave, billing dispute, broken feature blocking work\\n- medium: Feature request with urgency, performance complaint, confusion about service\\n- low: General frustration, minor inconvenience, cosmetic issue\\n\\n## Issue Types\\n- service_outage: Something is completely broken/down\\n- billing: Payment, invoice, subscription issues\\n- feature_broken: Specific feature not working\\n- complaint: General dissatisfaction\\n- churn_risk: Client indicating they want to cancel/leave\\n- security: Data or access concerns\\n- other: Doesn't fit above categories\\n\\n## Output Format (JSON only, no markdown, no backticks):\\n{\\n  \\\"severity\\\": \\\"critical|high|medium|low\\\",\\n  \\\"issue_type\\\": \\\"service_outage|billing|feature_broken|complaint|churn_risk|security|other\\\",\\n  \\\"summary\\\": \\\"1 sentence summary of the issue\\\",\\n  \\\"suggested_action\\\": \\\"What should be done immediately\\\",\\n  \\\"confidence\\\": 0.85,\\n  \\\"create_support_ticket\\\": true\\n}\\n\\n## Rules\\n- Be conservative: if unsure, classify as higher severity\\n- Always set create_support_ticket to true for critical/high severity\\n- South African business context\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('MESSAGE: ' + $json.message + '\\n\\nCONTACT: ' + $json.contact + '\\n\\nURGENCY KEYWORDS FOUND: ' + $json.found_keywords.join(', ') + '\\nURGENCY SCORE: ' + $json.urgency_score + '/100') }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9273b147-c24e-4f8c-88cf-8da28e610102",
      "name": "AI Classify Issue",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        920,
        300
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ZgHenDBrFuyboov",
          "name": "OpenRouter 2WC"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Parse AI issue classification\nconst input = $input.first().json;\nconst scanData = $('Scan Urgency').first().json;\n\nlet classification;\ntry {\n  const content = input.choices[0].message.content;\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  classification = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned);\n} catch(e) {\n  classification = {\n    severity: 'medium',\n    issue_type: 'complaint',\n    summary: 'Urgent message detected with keywords: ' + scanData.found_keywords.join(', '),\n    suggested_action: 'Manual review required',\n    confidence: 0.0,\n    create_support_ticket: true,\n  };\n}\n\nreturn {\n  json: {\n    scan: scanData,\n    classification: classification,\n  }\n};"
      },
      "id": "638b8ba8-7929-4695-80a8-4c624b162350",
      "name": "Parse Issue",
      "type": "n8n-nodes-base.code",
      "position": [
        1160,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL || 'https://ianimmelman89.app.n8n.cloud' }}/webhook/support-ticket",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({email: $json.scan.contact, subject: 'WhatsApp Issue: ' + $json.classification.summary, body: $json.scan.message, source: 'whatsapp_issue_detector', severity: $json.classification.severity, issue_type: $json.classification.issue_type}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "157e3b4f-307d-4f61-b6ec-31fab2c921de",
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1400,
        300
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appTCh0EeXQp0XqzW",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl2kDx0EqczOU3ib",
          "mode": "id"
        },
        "columns": {
          "value": {
            "Category": "WhatsApp_Urgent_Issue",
            "Source Workflow": "WA-03 Issue Detector",
            "Priority": "={{ $('Parse Issue').first().json.classification.severity === 'critical' ? 'Critical' : 'High' }}",
            "Description": "={{ $('Parse Issue').first().json.classification.summary }}",
            "Details": "={{ JSON.stringify({contact: $('Parse Issue').first().json.scan.contact, severity: $('Parse Issue').first().json.classification.severity, issue_type: $('Parse Issue').first().json.classification.issue_type, keywords: $('Parse Issue').first().json.scan.found_keywords}) }}",
            "Created At": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Status": "Open"
          },
          "schema": [
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "displayName": "Category"
            },
            {
              "id": "Source Workflow",
              "type": "string",
              "display": true,
              "displayName": "Source Workflow"
            },
            {
              "id": "Priority",
              "type": "string",
              "display": true,
              "displayName": "Priority"
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "displayName": "Description"
            },
            {
              "id": "Details",
              "type": "string",
              "display": true,
              "displayName": "Details"
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "displayName": "Created At"
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "displayName": "Status"
            }
          ],
          "mappingMode": "defineBelow"
        },
        "options": {}
      },
      "id": "84789661-fe5c-433d-8b71-b9d7c668a9bf",
      "name": "Escalate Issue",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1400,
        500
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, urgent: true, severity: $('Parse Issue').first().json.classification.severity, issue_type: $('Parse Issue').first().json.classification.issue_type, keywords_found: $('Scan Urgency').first().json.found_keywords}) }}",
        "options": {}
      },
      "id": "27d46855-356d-4a92-bb06-2c284e111b10",
      "name": "Respond Urgent",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1640,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, urgent: false, message: 'No urgency detected'}) }}",
        "options": {}
      },
      "id": "64307109-070f-4dc4-a94f-c71e7db52f53",
      "name": "Respond Not Urgent",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        920,
        550
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "43fb2453-0b74-4795-b34e-1c9a257b95aa",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        200,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "WA-03 ERROR - Issue Detector",
        "emailType": "html",
        "message": "=<h2>Issue Detector Error</h2>\n<p><strong>Workflow:</strong> {{ $json.workflow.name }}</p>\n<p><strong>Error:</strong> {{ $json.execution.error.message }}</p>\n<p><strong>Node:</strong> {{ $json.execution.lastNodeExecuted }}</p>\n<p><a href=\"{{ $json.execution.url }}\">View Execution</a></p>",
        "options": {}
      },
      "id": "59de2fbd-5280-40f0-95ac-3ae6423f3f87",
      "name": "Error Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        440,
        880
      ],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      }
    },
    {
      "parameters": {
        "content": "## WA-03: Issue Detector\n\n**Trigger:** Webhook POST /whatsapp-issue-detect\n**Purpose:** Scan WhatsApp messages for urgency, AI-classify issues, create support tickets, escalate.",
        "height": 160,
        "width": 420
      },
      "id": "wa03-note-1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        220
      ],
      "typeVersion": 1,
      "name": "Note 1"
    }
  ],
  "connections": {
    "Issue Detect Webhook": {
      "main": [
        [
          {
            "node": "Scan Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Urgency": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "AI Classify Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify Issue": {
      "main": [
        [
          {
            "node": "Parse Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Issue": {
      "main": [
        [
          {
            "node": "Create Support Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escalate Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Support Ticket": {
      "main": [
        [
          {
            "node": "Respond Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}