workflows/lead-capture/website_contact_form.json
{
  "name": "AVM: Website Contact Form",
  "nodes": [
    {
      "id": "0565edad-2306-4799-9a48-7c37db84692c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "efc2a697-9e5d-461e-a8a4-65710e534258",
      "parameters": {
        "path": "website-contact-form",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "901507c2-5058-43ca-815c-97cf81676892",
      "name": "Verify Turnstile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "https://challenges.cloudflare.com/turnstile/v0/siteverify",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "__CLOUDFLARE_TURNSTILE_SECRET__"
            },
            {
              "name": "response",
              "value": "={{ $json.body.cf_turnstile_token || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "556fc0e4-42fe-4573-9374-a508801e0d82",
      "name": "Turnstile Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        470,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4c9ea361-8829-405c-b58c-d7c3077b15c1",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a706a1de-deff-4b9f-8dc8-a1de25ea909e",
      "name": "Turnstile Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        60
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 403,
        "responseBody": "={{ JSON.stringify({error: 'turnstile verification failed'}) }}",
        "options": {}
      }
    },
    {
      "id": "01321839-ee79-4db8-bb5c-ab632cec7b88",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        300
      ],
      "parameters": {
        "jsCode": "\n// Format Website Contact Form submission for Airtable\n\nfunction normalizeLookupEmail(raw) {\n  const lowered = String(raw || '').trim().toLowerCase();\n  const atIdx = lowered.indexOf('@');\n  if (atIdx <= 0) return lowered;\n  const local = lowered.slice(0, atIdx);\n  const domain = lowered.slice(atIdx + 1);\n  if (domain === 'gmail.com' || domain === 'googlemail.com') {\n    return local.replace(/\\./g, '').replace(/\\+.*$/, '') + '@gmail.com';\n  }\n  return lowered;\n}\n\nconst root = $input.first().json || {};\nconst body = (root && typeof root.body === 'object' && root.body) ? root.body : root;\n\nconst now = new Date();\nconst leadId = 'WEB-' + now.getTime().toString(36).toUpperCase();\nconst rawEmail = body.email || '';\nconst contactName = body.name\n  || ((body.firstName || '') + ' ' + (body.lastName || '')).trim();\n\nreturn [{\n  json: {\n    'Lead ID': leadId,\n    'Contact Name': contactName,\n    'Email': rawEmail,\n    'Phone': body.phone || '',\n    'Company': body.company || '',\n    'Source Channel': 'Organic',\n    'Source URL': body.page_url || '',\n    'UTM Source': body.utm_source || '',\n    'UTM Medium': body.utm_medium || '',\n    'UTM Campaign': body.utm_campaign || '',\n    'First Touch Content': body.interest || '',\n    'Notes': body.message || '',\n    'Status': 'New',\n    // NOTE: 'Source System' is a singleSelect. Keep value matching the\n    // existing choice set; old live workflow used 'SEO_Inbound' for both\n    // website + SEO forms, so preserve that to avoid Airtable rejection.\n    'Source System': 'SEO_Inbound',\n    'Grade': 'Warm',\n    'Created At': now.toISOString().slice(0, 10),\n    // Internal key used by the suppression search node. Not mapped to Airtable.\n    '_lookupEmail': normalizeLookupEmail(rawEmail),\n  }\n}];\n"
      }
    },
    {
      "id": "0c4b0d26-3f13-4183-b7f5-98e4f8675c6e",
      "name": "Check Suppression",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "app2ALQUP7CKEkHOz",
          "cachedResultName": "Lead Scraper - Johannesburg CRM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbl0LtepawDzFYg4I",
          "cachedResultName": "Email Suppression"
        },
        "filterByFormula": "=LOWER({Email}) = LOWER('{{ $('Format Lead Data').first().json['_lookupEmail'] }}')",
        "options": {
          "fields": [
            "Email"
          ]
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    },
    {
      "id": "dc849814-b2bc-4ba3-be72-c4c1a32157fc",
      "name": "Not Suppressed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "703ed8da-79f6-43f3-8cf3-5e7f5b1017c2",
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "04d7fd86-924b-4bfb-b4b9-b4a4210724b4",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        1240,
        250
      ],
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apptjjBx34z9340tK",
          "cachedResultName": "AVM Marketing"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblwOPTPY85Tcj7NJ",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Format Lead Data').first().json['Lead ID'] }}",
            "Contact Name": "={{ $('Format Lead Data').first().json['Contact Name'] }}",
            "Email": "={{ $('Format Lead Data').first().json['Email'] }}",
            "Phone": "={{ $('Format Lead Data').first().json['Phone'] }}",
            "Company": "={{ $('Format Lead Data').first().json['Company'] }}",
            "Source Channel": "={{ $('Format Lead Data').first().json['Source Channel'] }}",
            "Source URL": "={{ $('Format Lead Data').first().json['Source URL'] }}",
            "UTM Source": "={{ $('Format Lead Data').first().json['UTM Source'] }}",
            "UTM Medium": "={{ $('Format Lead Data').first().json['UTM Medium'] }}",
            "UTM Campaign": "={{ $('Format Lead Data').first().json['UTM Campaign'] }}",
            "First Touch Content": "={{ $('Format Lead Data').first().json['First Touch Content'] }}",
            "Notes": "={{ $('Format Lead Data').first().json['Notes'] }}",
            "Status": "={{ $('Format Lead Data').first().json['Status'] }}",
            "Source System": "={{ $('Format Lead Data').first().json['Source System'] }}",
            "Grade": "={{ $('Format Lead Data').first().json['Grade'] }}",
            "Created At": "={{ $('Format Lead Data').first().json['Created At'] }}"
          },
          "schema": [
            {
              "id": "Lead ID",
              "type": "string",
              "display": true,
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Name",
              "type": "string",
              "display": true,
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source Channel",
              "type": "string",
              "display": true,
              "displayName": "Source Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source URL",
              "type": "string",
              "display": true,
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "type": "string",
              "display": true,
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "type": "string",
              "display": true,
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "type": "string",
              "display": true,
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Touch Content",
              "type": "string",
              "display": true,
              "displayName": "First Touch Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source System",
              "type": "string",
              "display": true,
              "displayName": "Source System",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Grade",
              "type": "string",
              "display": true,
              "displayName": "Grade",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "ZyBrcAO6fps7YB3u",
          "name": "Airtable account"
        }
      }
    },
    {
      "id": "ff0beed8-ac89-4f59-94a1-a51580e5e88d",
      "name": "Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        1240,
        450
      ],
      "parameters": {
        "sendTo": "ian@anyvisionmedia.com",
        "subject": "=NEW LEAD: {{ $('Format Lead Data').first().json['Contact Name'] }} from {{ $('Format Lead Data').first().json['Company'] }}",
        "message": "<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #FF6D5A;\">New Website Lead</h2>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Name</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['Contact Name'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Email</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['Email'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Company</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['Company'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Phone</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['Phone'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Interest</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['First Touch Content'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Source</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['UTM Source'] }} / {{ $('Format Lead Data').first().json['UTM Medium'] }}</td></tr>\n    <tr><td style=\"padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;\">Page</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">{{ $('Format Lead Data').first().json['Source URL'] }}</td></tr>\n  </table>\n  <h3 style=\"color: #333; margin-top: 16px;\">Message</h3>\n  <p style=\"background: #f5f5f5; padding: 12px; border-radius: 4px;\">{{ $('Format Lead Data').first().json['Notes'] }}</p>\n  <p style=\"color: #999; font-size: 12px; margin-top: 16px;\">Lead ID: {{ $('Format Lead Data').first().json['Lead ID'] }} | {{ $('Format Lead Data').first().json['Created At'] }}</p>\n</div>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "2IuycrTIgWJZEjBE",
          "name": "Gmail account AVM Tutorial"
        }
      }
    },
    {
      "id": "a1cc4597-70ba-4d9b-af38-0d274c0dd871",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1460,
        250
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true}) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Turnstile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Turnstile": {
      "main": [
        [
          {
            "node": "Turnstile Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turnstile Valid?": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Turnstile Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Check Suppression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Suppression": {
      "main": [
        [
          {
            "node": "Not Suppressed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Suppressed?": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "lead-capture"
    },
    {
      "name": "webhook"
    }
  ]
}